<div class="table-responsive">
<table class="table table-striped" id="licenseStatus-{{statusId}}" width="100%">
    <thead>
        <tr>
            <th class="column-lg"> {{ 'rrhh.license.employee' | translate }} </th>
            <th class="column-lg"> {{ 'rrhh.license.manager' | translate }} </th>
            <th class="column-lg"> {{ 'rrhh.license.authorizer' | translate }} </th>
            <th class="column-lg"> {{ 'rrhh.license.reason' | translate }} </th>
            <th class="column-sm"> {{ 'rrhh.license.creation' | translate }} </th>
            <th class="column-sm"> {{ 'rrhh.license.start' | translate }} </th>
            <th class="column-sm"> {{ 'rrhh.license.end' | translate }} </th>
            <th class="column-sm text-center"> {{ 'rrhh.license.days' | translate }} </th>
            <th class="column-sm text-center"> {{ 'rrhh.license.workDays' | translate }} </th>
            <th class="column-xs text-center"> {{ 'rrhh.license.goce' | translate }} </th>
            <th class="column-xs text-center"> {{ 'rrhh.license.hasCertificate' | translate }} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data" (click)="goToDetail(item)" class="pointer">
            <td class="column-lg"> {{ item.employeeName }} </td>
            <td class="column-lg"> {{ item.managerName }}</td>
            <td class="column-lg"> {{ item.authorizerName }}</td>
            <td class="column-lg"> {{ item.licenseTypeName }} </td>
            <td class="column-sm"> {{ item.creationDate | date: 'dd/MM/yyyy' }} </td>
            <td class="column-sm"> {{ item.startDate | date: 'dd/MM/yyyy' }} </td>
            <td class="column-sm"> {{ item.endDate | date: 'dd/MM/yyyy' }} </td>
            <td class="column-sm text-center"> {{ item.days }} </td>
            <td class="column-sm text-center"> {{ item.workDays }} </td>
            <td class="column-xs text-center"> <span class="fa" [ngClass]="(item.withPayment) ? 'fa-check text-success' : 'fa-close text-danger'"></span> </td>
            <td class="column-xs text-center"> <span class="fa" [ngClass]="(item.hasCertificate) ? 'fa-check text-success' : 'fa-close text-danger'"></span> </td>
        </tr>
    </tbody>
</table>       
</div>