.analitic-managers-modal .managers {
  border-radius: .5em;
  padding: .5em 1em;
}

.analitic-managers-modal .managers ul {
  list-style: none;
  padding: 0;
}

.analitic-managers-modal .approved {
  background-color: #cfffd8;
}

.analitic-managers-modal .pending-approval {
  background-color: #ffffaf;
}


