<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2> {{ 'notes.title' | translate }} </h2>
    <ol class="breadcrumb">
      <li><a>{{ 'providers.title' | translate }}</a></li>
      <li><a> Abastecimiento y Proveedores </a></li>
      <li class="active"><strong>{{ 'notes.title' | translate }}</strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel-group" id="accordion">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="changeIcon()"
            style="display: block">
            <span>{{ 'notes.search' | translate }}</span>
            <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">{{ 'notes.grid.userApplicant' | translate }}</label>
                <ng-select [items]="applicants" bindLabel="name" bindValue="id" [(ngModel)]="applicantId"
                  (keyup.enter)="search()">
                </ng-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">{{ 'notes.grid.status' | translate }}</label>
                <ng-select [items]="states2" bindLabel="text" bindValue="id" [(ngModel)]="stateId"
                  (keyup.enter)="search()">
                </ng-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">{{ 'notes.grid.provider' | translate }}</label>
                <ng-select [items]="providers" bindLabel="name" bindValue="id" [(ngModel)]="providerId"
                  (keyup.enter)="search()">
                </ng-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">{{ 'notes.grid.analytic' | translate }}</label>
                <label class="control-label"> Analítica </label>
                <ng-select [items]="analiticas" bindLabel="text" bindValue="id" [(ngModel)]="analyticId">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label">{{ 'notes.grid.dateFrom' | translate }}</label>
              <date-picker [(date)]="dateSince" (keyup.enter)="search()"></date-picker>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label">{{ 'notes.grid.dateTo' | translate}}</label>
              <date-picker [(date)]="dateTo" (keyup.enter)="search()"></date-picker>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ 'notes.grid.number' | translate }}</label>
              <input type="text" [(ngModel)]="noteId" class="form-control" (keyup.enter)="search()">
            </div>
          </div>

        </div>

        <div class="panel-footer">
          <div class="text-right">
            <button class="btn btn-sm btn-success" (click)="search()">
              {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-sm btn-warning" (click)="refreshSearch()">
              {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="ibox">
  <div class="ibox-content">
    <div>
      <button class="btn btn-sm btn-primary pull-right" routerLink="./add" style="margin-top: .15rem">
        {{ 'notes.add' | translate }} <i class="fa fa-plus"></i>
      </button>
    </div>

    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" class="tab-link-warning" href="#tab-1" (click)="changeTab(1)" #tabOne>
            {{ "notes.grid.processApproval" | translate }}
          </a>
        </li>
        <li class="">
          <a data-toggle="tab" class="tab-link-primary" href="#tab-2" (click)="changeTab(2)" #tabTwo>
            {{ "notes.grid.approve" | translate }}
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div role="tabpanel" id="tab-1" class="tab-pane active">
        <div class="panel-body table-responsive">
          <table class="table table-striped dataTable" role="grid" id="dataTable">
            <thead>
              <tr>
                <th>{{ "notes.grid.number" | translate }}</th>
                <th>{{ "notes.grid.description" | translate }}</th>
                <th>{{ "notes.grid.status" | translate }}</th>
                <th>{{ "notes.grid.createDate" | translate }}</th>
                <th>{{ "notes.grid.createBy" | translate }}</th>
                <th class="column-sm text-center">{{ 'ACTIONS.title' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let note of notes">
                <td>{{note.id}}</td>
                <td>{{note.description}}</td>
                <td><span class="label">{{note.status | requestNoteState}}</span></td>
                <td>{{note.creationDate}}</td>
                <td>{{note.creationUserName}}</td>
                <td class="column-sm text-center">
                  <button title="ver" class="btn btn-primary btn-xs" (click)="view(note.id)"
                    *ngIf="note.statusId != 1 && note.hasReadPermissions">
                    <i class="fa fa-eye"></i>
                  </button>

                  <button title="editar" class="btn btn-warning btn-xs" (click)="edit(note.id)"
                    *ngIf="note.statusId != 11 && note.statusId != 12 && note.hasEditPermissions">
                    <i class="fa fa-edit"></i>
                  </button>

                  <button title="proveedores" class="btn btn-info btn-xs" (click)="getProviders(note.id)"
                    *ngIf="note.statusId == currentEnviroment.NP_PEND_APRO_DAF || note.statusId == currentEnviroment.NP_PEND_GEN_SAP || note.statusId == currentEnviroment.NP_PEND_RECEP_MERC || note.statusId == currentEnviroment.NP_RECEP_PARCIAL || note.statusId == currentEnviroment.NP_CERRADA">
                    <i class="fa fa-suitcase"></i>
                  </button>

                  <button title="agregar orden de compra" class="btn btn-default btn-xs" (click)="addOC(note.id)"
                    *ngIf="(note.statusId == currentEnviroment.NP_PEND_GEN_SAP || note.statusId == currentEnviroment.NP_PEND_RECEP_MERC || note.statusId == currentEnviroment.NP_RECEP_PARCIAL) && note.hasEditPermissions">
                    <i class="fa fa-barcode"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng2-modal [config]="providersModalConfig" #providersModal>
  <div *ngIf="modalProvidersList.length > 0">
    <div *ngFor="let prov of modalProvidersList">
      <h3>{{ prov.name }} - {{ prov.cuit }}</h3>
    </div>
  </div>

  <div *ngIf="modalProvidersList.length == 0">
    <h2> No hay proveedores seleccionados </h2>
  </div>
</ng2-modal>