<ng2-modal [config]="spliHitoModalConfig" #spliHitoModal (accept)="save()">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{{ 'billing.project.detail.milestone.name' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="hito.name" maxlength="250">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <label class="control-label">{{ 'billing.project.detail.milestone.amount' | translate }}</label>
            <div class="input-group m-b">
                <span class="input-group-addon">{{ getCurrencySymbol() }}</span> 
                <input type="number" decimalFormat class="form-control" [(ngModel)]="hito.ammount">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{'billing.project.detail.milestone.startDate' | translate }}</label>
                <date-picker [(date)]="hito.startDate"></date-picker>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">{{ 'billing.project.detail.milestone.month' | translate }}</label>
                <input type="number" min="1" max="12" class="form-control" [(ngModel)]="hito.month">
            </div>
        </div>
    </div>

</ng2-modal> 