<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.purchaseOrder.searchTitle' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li>
                {{'billing.purchaseOrder.title' | translate }}
            </li>
            <li class="active">
                <strong>{{'billing.purchaseOrder.search' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-right">
                <button *ngIf="menuService.hasFunctionality('PUROR', 'ALTA')" class="btn btn-primary btn-outline dim btn-sm" (click)="goToAdd()"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-success">
            <div class="panel-heading pointer" (click)="collapse()">
                <h2 class="panel-title">
                    {{'billing.purchaseOrder.parameters' | translate }} 
                    <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
                </h2>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <select-two [label]="'billing.invoice.account'" [(value)]="customerId" [options]="customers" (valueChange)="searchCriteriaChange()"></select-two>
                        </div>
                        <div class="col-sm-4">
                            <select-two [label]="'allocationManagement.analytics.title'" [(value)]="analyticId" [options]="analytics" (valueChange)="searchCriteriaChange()"></select-two>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <select-two [label]="'billing.purchaseOrder.projectManager'" [(value)]="projectManagerId" [options]="projectManagers" (valueChange)="searchCriteriaChange()"></select-two>
                        </div>
                        <div class="col-sm-4">
                            <select-two [label]="'billing.purchaseOrder.commercialManager'" [(value)]="commercialManagerId" [options]="commercialManagers" (valueChange)="searchCriteriaChange()"></select-two>
                        </div>
                        <div class="col-sm-4">
                            <select-two [label]="'billing.purchaseOrder.fields.status'" [(value)]="statusId" [options]="statuses" (valueChange)="searchCriteriaChange()"></select-two>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <br>
                            <icheck [(checked)]="filterByDates" (click)="searchCriteriaChange()">
                                <label class="control-label">{{'filterByDates' | translate }}</label> 
                            </icheck>
                        </div>
                        <div class="col-sm-4" *ngIf="filterByDates">
                            <label class="control-label">{{'report.dateRange' | translate }}</label>
                            <date-range-picker [datePickerOptionRange]="'previous'" #dateRangePicker (change)="searchCriteriaChange()"></date-range-picker>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="text-right">
                        <button class="btn btn-warning btn-sm" (click)="clean()">{{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="data.length == 0">
        <div class="col-lg-12">{{'report.resultNotFound' | translate }}</div>
    </div>

    <div class="row" *ngIf="data.length > 0">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table table-striped" id="purchaseOrderTable" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>{{'billing.purchaseOrder.fields.number' | translate }}</th>
                                <th>{{'billing.purchaseOrder.fields.client' | translate }}</th>
                                <th class="text-center">{{'billing.purchaseOrder.fields.status' | translate }}</th>
                                <th>{{'billing.purchaseOrder.fields.currency' | translate }}</th>
                                <th class="text-right">{{'billing.purchaseOrder.fields.ammount' | translate }}</th>
                                <th class="text-right">{{'billing.purchaseOrder.fields.balance' | translate }}</th>
                                <th class="text-right">{{'billing.purchaseOrder.fields.receptionDate' | translate }}</th>
                                <th>{{'billing.purchaseOrder.projectManager' | translate }}</th>
                                <th>{{'billing.purchaseOrder.commercialManager' | translate }}</th>
                                <th class="text-center column-xs">{{ 'ACTIONS.title' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let purchaseOrder of data">
                                <td [ngClass]="purchaseOrder.details.length > 0 ? 'details-control' : ''" style="width:20px">
                                    <i [ngClass]="purchaseOrder.details.length > 0 ? 'fa fa-plus-square' : ''" [attr.data-id]="purchaseOrder.id"></i>
                                </td>
                                <td>{{ purchaseOrder.id }}</td>
                                <td>{{ purchaseOrder.number }}</td>
                                <td>{{ purchaseOrder.clientExternalName }}</td>
                                <td class="text-center"> <label class="label label-oc-{{purchaseOrder.statusId}}">{{ purchaseOrder.statusText | translate }}</label> </td>
                                <td>{{ purchaseOrder.currencyText }}</td>
                                <td class="text-right">{{ purchaseOrder.ammount | amountFormat }}</td>
                                <td class="text-right">{{ purchaseOrder.balance | amountFormat }}</td>
                                <td class="text-right">{{ purchaseOrder.receptionDate | date: "dd/MM/yyyy" }}</td>
                                <td>{{ purchaseOrder.projectManagerNames }}</td>
                                <td>{{ purchaseOrder.accountManagerNames }}</td>
                                <td class="text-center column-xs">
                                    <button *ngIf="purchaseOrder.id > 0 && menuService.hasFunctionality('PUROR', 'VIEW')"  class="btn btn-success btn-xs" (click)="gotToEdit(purchaseOrder)"><i class="fa fa-eye"></i></button>
        
                                    <button class="btn btn-xs btn-success" (click)="export(purchaseOrder)" *ngIf="purchaseOrder.fileId > 0">
                                        <i class="fa fa-download"></i>
                                    </button>

                                    <button class="btn btn-xs btn-success" (click)="viewFile(purchaseOrder)" *ngIf="purchaseOrder.fileId > 0 && purchaseOrder.fileName?.endsWith('.pdf') == true">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>       
                </div>
            </div>
        </div>
    </div>
</div>

<pdf-viewer #pdfViewer></pdf-viewer>