<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/logo_small2.png">

          <a class="minimalize-styl-2 icon-round btn pull-right" (click)="toggleNavigation()">
            <strong><i class="fa fa-angle-left"></i> </strong>
          </a>
          
          <span class="block m-t-xs text-white"> <strong class="font-bold">Sofco Ar</strong> </span>
        </div>
        <div class="logo-element">
          <a class="minimalize-styl-2 icon-round btn pull-right" (click)="toggleNavigation()" >
            <strong><i class="fa fa-angle-right"></i> </strong>
          </a>
          <p> &nbsp; </p>
        </div>
      </li>

      <!--ADMIN-->
      <li [ngClass]="{active: activeRoute('admin')}">
        <a href="#"><i class="fa fa-address-book"></i> <span class="nav-label">{{'ADMIN.TITLE' | translate }}</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('admin')}">
          <li [ngClass]="{active: activeRoute('users')}" *ngIf="menuService.hasFunctionality('USR', 'QUERY')"><a [routerLink]="['/admin/users']" >{{'ADMIN.USERS.TITLE' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('groups')}" *ngIf="menuService.hasFunctionality('GRP', 'QUERY')"><a [routerLink]="['/admin/groups']">{{'ADMIN.GROUPS.TITLE' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('roles')}"  *ngIf="menuService.hasFunctionality('ROL', 'QUERY')"><a [routerLink]="['/admin/roles']">{{'ADMIN.ROLES.TITLE' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('entities')}"  *ngIf="menuService.hasFunctionality('MOD', 'QUERY')"><a [routerLink]="['/admin/entities']">{{'ADMIN.module.title' | translate }}</a></li>
          <li [ngClass]="{active: activeRoute('functionalities')}"  *ngIf="menuService.hasFunctionality('FUNC', 'QUERY')"><a [routerLink]="['/admin/functionalities']">{{'ADMIN.FUNCTIONALITIES.TITLE' | translate }}</a></li>
        </ul>
      </li>

      <!--SOLFAC-->
      <li [ngClass]="{active: activeRoute('solfac')}">
        <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">{{'billing.title' | translate }}</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('solfac')}">

          <li class="" *ngIf="menuService.hasModule('SOLFA')">
              <a href="#">{{'billing.solfac.title' | translate }}<span class="fa arrow"></span></a>
              <ul class="nav nav-third-level collapse">
                <li [ngClass]="{active: activeRoute('customers')}" *ngIf="menuService.hasFunctionality('SOLFA', 'ALTA')"><a [routerLink]="['/billing/customers']">{{'billing.solfac.new' | translate }}</a></li>
                <li [ngClass]="{active: activeRoute('search')}" *ngIf="menuService.hasFunctionality('SOLFA', 'QUERY')"><a [routerLink]="['/billing/search']">{{'billing.solfac.search' | translate }}</a></li>
              </ul>
          </li>
   
          <li *ngIf="menuService.hasModule('REM')">
            <a href="#">{{'billing.invoice.title' | translate }}<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level collapse">
              <li [ngClass]="{active: activeRoute('remitos')}" *ngIf="menuService.hasModule('REM', 'ALTA')"><a [routerLink]="['/billing/remitos']">{{'billing.invoice.new' | translate }}</a></li>
              <li *ngIf="menuService.hasModule('REM', 'QUERY')"><a>{{'billing.invoice.search' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
