<div class="row whapper border-botton white-bg page-heading">
    <div class="col-xs-12">
        <h2>{{ 'ADMIN.state.admin' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{ 'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/']">{{ 'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'ADMIN.state.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animate fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4 class="pull-left">{{ 'ADMIN.state.list' | translate }}</h4>

            <div class="ibox-tools">
                <a [routerLink]="['/admin/state/add']" class="btn btn-primary btn-sm btn-link"
                    *ngIf="menuService.hasFunctionality('TASKS', 'EDIT')">
                    {{ 'ACTIONS.ADD' | translate }}
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped" id="stateTable" width="100%">
                <thead>
                    <tr>
                        <th>Nombre Estado</th>
                        <th>Nombre de la Acción</th>
                        <th>Color</th>
                        <th class="text-center column-xs">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let state of states">
                        <td>{{ state.name }}</td>
                        <td>{{ state.actionName }}</td>
                        <td>color boton</td>
                        <td class="text-center column-xs">
                                <button class="btn btn-warning btn-xs">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-xs" class="btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                            <!-- <button class="btn btn-warning btn-xs" (click)="goToDetail(task)"
                                *ngIf="menuService.hasFunctionality('TASKS', 'EDIT')">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-xs" [ngClass]="(task.active)?'btn-danger':'btn-success'"
                                (click)="habInhabClick(task)" *ngIf="menuService.hasFunctionality('TASKS', 'HABIN')">
                                <span [ngClass]="(task.active)?'fa-trash':'fa-mail-reply'" class="fa"></span>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>