<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'billing.purchaseOrder.editTitle' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'billing.title' | translate }}
            </li>
            <li>
                {{'billing.purchaseOrder.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'billing.purchaseOrder.edit' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success btn-outline dim" (click)="back()"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </button>
            <button class="btn btn-success btn-outline dim" (click)="openAdjustment()" *ngIf="form.model.status == 1 || form.model.status == 2"> Crear Ajuste OC </button>
            <button class="btn btn-primary btn-outline dim" (click)="update()" *ngIf="form.model.status == 4 && menuService.hasFunctionality('PUROR', 'ALTA')">{{'ACTIONS.update' | translate }} <i class="fa fa-save"></i> </button>

            <div class="btn-right">
                <oc-status-reject [ocId]="form.model.id" [status]="form.model.status"></oc-status-reject>
                <oc-status-draft [ocId]="form.model.id" [status]="form.model.status"></oc-status-draft>
                <oc-status-compliance [ocId]="form.model.id" [status]="form.model.status"></oc-status-compliance>
                <oc-status-comercial [ocId]="form.model.id" [status]="form.model.status"></oc-status-comercial>
                <oc-status-operative [ocId]="form.model.id" [status]="form.model.status"></oc-status-operative>
                <oc-status-daf [ocId]="form.model.id" [status]="form.model.status"></oc-status-daf>
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="m-b-md">
                        <label class="label label-oc-{{form.model.status}} ocStatus">{{'billing.solfac.status' | translate }}: {{ getStatus() | translate }}</label>
                    </div>
                    
                    <purchase-order-form #form [mode]="'edit'"></purchase-order-form>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="m-t-lg m-b-lg" *ngIf="form.model.status == 4 && (!form.model.fileId || form.model.fileId <= 0)">
                <input #selectedFile type="file" ng2FileSelect [uploader]="uploader" />
    
                <div class="uploader-margin-top">
                    <label *ngIf="uploader.getNotUploadedItems().length">{{'billing.invoice.progress' | translate }}:</label>
                    <div class="progress" *ngIf="uploader.getNotUploadedItems().length">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>

                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> {{'billing.invoice.import' | translate }}
                    </button>
                    <button type="button" class="btn btn-danger btn-s" (click)="clearSelectedFile()" [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="fa fa-times"></span> {{'billing.invoice.quit' | translate }}
                    </button>
                </div>
            </div>

            <div *ngIf="form.model.fileId > 0"> 
                <div class="file-box">
                    <div class="file">
                        <div class="icon"><i class="fa fa-file"></i></div>
                        <div class="file-name text-word-break" [ngClass]="form?.model.fileName.endsWith('.pdf') ? 'pdf-file' : ''" (click)="viewFile()">
                            {{ form?.model.fileName }} 
                            <br>
                            <small>{{'billing.invoice.createdAt' | translate }}: {{ form?.model.creationDate }}</small>
                        </div>
                        <div class="file-buttons"> 
                            <div class="file-name export-file text-center pointer" [ngClass]="form?.model.status != 4 ? 'full' : 'half'" (click)="exportExcel()">
                                <i class="fa fa-download"></i>
                                {{ 'ACTIONS.export' | translate }}
                            </div>

                            <div class="file-name remove-file text-center pointer" (click)="confirmDeleteFileModal.show()" *ngIf="form.model.status == 4">
                                <i class="fa fa-trash"></i>
                                {{ 'ACTIONS.DELETE' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <oc-history #history></oc-history>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmDeleteFileModal (accept)="deleteFile()">
    <h4>{{ 'ACTIONS.confirmBody' | translate }}</h4>
</ng2-modal>

<pdf-viewer #pdfViewer></pdf-viewer>

<purchase-order-adjustment #ocAdjustment></purchase-order-adjustment>