<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.invoice.management' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.project.title' | translate }}</a>
            </li>
            <li>
                <a (click)="cancel()">{{ model.project }}</a>
            </li>
            <li class="active">
                <strong>{{'billing.invoice.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title">
          <h3>Datos del cliente</h3>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        <dt><h4>Número de remito: </h4></dt>
                        <dd><h4 class="text-navy">00-0000000-00</h4></dd>
                    </dl>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        <dt><h4>Estado: </h4></dt>
                        <dd><span class="label label-warning">{{ model.invoiceStatus | translate }}</span></dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Cuenta: </dt><dd>{{model.accountName}}</dd>
                        <dt>Servicio: </dt><dd>{{model.service}}</dd>
                        <dt>Proyecto: </dt><dd>{{model.project}}</dd>
                        <dt>C.U.I.T.: </dt><dd>{{model.cuit}}</dd>

             
                    </dl>
                </div>
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Dirección:</dt><dd>{{model.address}}</dd>
                        <dt>Código postal: </dt><dd>{{model.zipcode}}</dd>
                        <dt>Ciudad: </dt><dd>{{model.city}}</dd>
                        <dt>Estado/Provincia: </dt><dd>{{model.province}}</dd>
                        <dt>Pais: </dt><dd>{{model.country}}</dd>
                    </dl>
                </div>
            </div>

            <div class="row" *ngIf="model.id > 0 && !excelUploaded">
                <div class="col-lg-8">
                    <h3>{{'billing.invoice.excelImport' | translate }}</h3>
                    <input type="file" #selectedFile ng2FileSelect [uploader]="uploader" />
                </div>
            </div>

            <div class="row" *ngIf="model.id > 0 && !excelUploaded">
                <div class="col-lg-6">
                    <div class="uploader-margin-top">
                        <label *ngIf="uploader.getNotUploadedItems().length">Progreso:</label>
                        <div class="progress" *ngIf="uploader.getNotUploadedItems().length">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>

                        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Importar
                        </button>

                        <button type="button" class="btn btn-danger btn-s" (click)="clearSelectedFile()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="fa fa-times"></span> {{'billing.invoice.quit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="alert alert-success" *ngIf="model.id > 0 && excelUploaded">
                Se ha importado el excel exitosamente. Puede dejar el remito en borrador o enviarlo a la DAF para su aprobación
            </div>

        </div>
        <div class="ibox-footer">
            <div class="text-right">
                <button *ngIf="model.id == 0" class="btn btn-danger" (click)="cancel()"><i class="fa fa-times"></i> Cancelar </button>
                <button *ngIf="model.id > 0 && model.invoiceStatus == 'SendPending'" class="btn btn-danger" (click)="showConfirmDelete()"><i class="fa fa-times"></i> Eliminar </button>
                <button *ngIf="model.id > 0" class="btn btn-success" (click)="cancel()"><i class="fa fa-cogs"></i> Dejar en borrador </button>
                <button *ngIf="model.id == 0" class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Crear y Exportar </button>
                <button *ngIf="canSendInvoice()" class="btn btn-primary" (click)="showConfirmSendToDaf()"><i class="fa fa-save"></i> Enviar a DAF </button>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmModal (accept)="confirm()">
    <h4>{{ 'ACTIONS.confirmBody' | translate }}</h4>
</ng2-modal>