<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'rrhh.license.delegate.viewTitle' | translate }}</h2>
        <ol class="breadcrumb no-print">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>{{'rrhh.title' | translate }}</li>
            <li>{{'rrhh.licenses' | translate }}</li>
            <li class="active">
                <strong>{{'rrhh.license.delegate.viewTitle' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
 
<app-approvers type="1"></app-approvers>