.navbar-header img{
    margin:10px;
}

.navbar .container-fluid{
    background-color:#263949
}

.user-image{
    background-image: url("/assets/images/user.png");
    width:45px;
    height:45px;
    border-radius:25px;
    margin-top:5px;
}

.navbar{
    background-color:#2f4050;
}

.navbar-nav > li > .dropdown-menu{
    z-index: 2000;
}

li.active, li.active a{
    border-radius:0 0 15px 15px;
}