<h1>Finalizada</h1>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 row">
            <div class="pull-left" style="margin-left: 2rem;">
                <button class="btn btn-success btn-outline dim" [routerLink]="['/providers/purchase-orders']">
                    <i class="fa fa-arrow-left"></i>       Volver
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ibox" style="margin: 0 1rem; margin-bottom: 2rem;">
            <div class="ibox-content">
                <form class="form-horizontal" [formGroup]="ordenCompraForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Número Orden de Compra: </label>
                        <div class="col-sm-8">
                            <input class="form-control" formControlName="numberOC">
                            <span
                                *ngIf="!ordenCompraForm.get('numberOC')?.valid && (ordenCompraForm.get('numberOC')?.touched || ordenCompraForm.get('numberOC')?.dirty)"
                                style="color: red;">
                                El campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Proveedor: </label>
                        <div class="col-sm-8">
                            <input class="form-control" formControlName="proveedor">
                            <span
                                *ngIf="!ordenCompraForm.get('proveedor')?.valid && (ordenCompraForm.get('proveedor')?.touched || ordenCompraForm.get('proveedor')?.dirty)"
                                style="color: red;">
                                El campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Nota de Pedido: </label>
                        <div class="col-sm-8">
                            <input class="form-control" formControlName="numberNP">
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped dataTable" role="grid" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Id Producto/Servicio/Material</th>
                                    <th>Producto/Servicio/Material</th>
                                    <th>Monto</th>
                                    <th>Cantidad</th>
                                    <th>Cantidad recepcionada</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of productosServiciosAnteriores; let i = index">
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.deliveredQuantity}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Monto total de la OC: </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" formControlName="montoOC">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ibox" style="margin: 0 1rem; margin-bottom: 1rem;">
            <div class="ibox-content">
                <form class="form-horizontal" [formGroup]="ocForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Fecha factura</label>
                        <div class="col-sm-8">
                            <input class="form-control" formControlName="fecha">
                            <span
                                *ngIf="!ocForm.get('fecha')?.valid && (ocForm.get('fecha')?.touched || ocForm.get('fecha')?.dirty)"
                                style="color: red;">
                                El campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Número FC Legal: </label>
                        <div class="col-sm-8">
                            <input class="form-control" formControlName="numeroFC">
                            <span
                                *ngIf="!ocForm.get('numeroFC')?.valid && (ocForm.get('numeroFC')?.touched || ocForm.get('numeroFC')?.dirty) && !ocForm.controls.numeroFC.errors?.pattern"
                                style="color: red;">
                                El campo es requerido
                            </span>
                            <span *ngIf="ocForm.controls.numeroFC.errors?.pattern" style="color: red;">
                                Formato incorrecto
                            </span>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="showGrid">
                        <table class="table table-striped dataTable col-sm-12" role="grid" id="dataTable">
                            <thead>
                                <tr>
                                    <th class="font-13">Producto/Servicio/Material</th>
                                    <th class="font-13">Precio</th>
                                    <th class="font-13">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of itemsFactura">
                                <tr>
                                    <td>{{item.productService}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.quantity}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Código de impuesto: </label>
                        <div class="col-sm-8">
                            <input class="form-control" formControlName="impuesto">
                            <span
                                *ngIf="!ocForm.get('impuesto')?.valid && (ocForm.get('impuesto')?.touched || ocForm.get('impuesto')?.dirty)"
                                style="color: red;">
                                El campo es requerido
                            </span>
                        </div>
                    </div>
                </form>
                <div style="width: 100%; margin-top: 4rem;">
                    <button type="button" class="btn btn-success btn-s" (click)="downloadFile()" *ngIf="purchaseOrder.invoice.fileId != null">Descargar factura</button>
                    <button type="button" class="btn btn-success btn-s" *ngIf="purchaseOrder.invoice.fileId == null" disabled>No hay factura cargada</button>
                </div>
            </div>
        </div>
    </div>
</div>