.subtitle {
  margin: 45px 0px 0px 0px;
  font-size: 15px;
}

.division {
  border: 0;
  border-top: 2.5px solid #eeeeee;
  margin: 0px 0px 35px 0px;
}

.information {
  font-weight: 600;
}

.col-md-4 {
  height: 90px;
}

.panel-body {
  padding: 15px 0px;
}

span {
  color: red;
}

.ibox-content {
  padding: 20px;
}
