<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2> Rubros </h2>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/']"> Inicio </a></li>
      <li><a [routerLink]="['/providers/industries']"> Rubros </a></li>
      <li class="active"><strong>{{ mode }}</strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12 row">
      <div class="pull-left" style="margin-left: 2rem;">
        <button class="btn btn-success btn-outline dim" [routerLink]="['/providers/industries']">
          <i class="fa fa-arrow-left"></i> Volver
        </button>
        <button *ngIf="edit" class="btn btn-primary btn-outline dim" type="button" (click)="confirm()">
          Guardar
        </button>
      </div>
    </div>
  </div>

  <form class="ibox-content" [formGroup]="form">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Nombre </label>
            <input type="text" class="form-control" formControlName="description" required minlength="3" maxlength="51">
            <span *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
              {{ getErrorMessage(form.get("description")) }}
            </span>
          </div>
        </div>

        <div class=" col-md-4">
          <div class="form-group">
            <label class="control-label"> ¿Critico? </label>
            <ng-select [multiple]="false" [searchable]="false" [clearable]="false" formControlName="critical"
              *ngIf="edit; else noEditCritical" required>
              <ng-option [value]="true"> Si </ng-option>
              <ng-option [value]="false"> No </ng-option>
            </ng-select>
            <ng-template #noEditCritical>
              <input class="form-control" formControlName="critical">
            </ng-template>
            <span *ngIf="form.get('critical')?.invalid && form.get('critical')?.touched">
              {{ getErrorMessage(form.get("critical")) }}
            </span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> ¿Requiere monto en nota pedido? </label>
            <ng-select [multiple]="false" [searchable]="false" [clearable]="false" formControlName="rnAmmountReq"
              *ngIf="edit; else noEditRnAmmountReq" required>
              <ng-option [value]="true"> Si </ng-option>
              <ng-option [value]="false"> No </ng-option>
            </ng-select>
            <ng-template #noEditRnAmmountReq>
              <input class="form-control" formControlName="rnAmmountReq">
            </ng-template>
            <span *ngIf="form.get('rnAmmountReq')?.invalid && form.get('rnAmmountReq')?.touched">
              {{ getErrorMessage(form.get("rnAmmountReq")) }}
            </span>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!edit">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Estado </label>
            <input class="form-control" [value]="active ? 'Activo' : 'Inactivo'" disabled>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"> Fecha desde </label>
            <input class="form-control" [value]="startDate" disabled>
          </div>
        </div>

        <div class="col-md-4" *ngIf="active === false">
          <div class="form-group">
            <label class="control-label"> Fecha hasta </label>
            <input class="form-control" [value]="endDate" disabled>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>