<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.solfac.title' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'billing.solfac.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
     
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success btn-outline dim" (click)="goBack()"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </button>
            <button class="btn btn-success btn-outline dim" (click)="goToSearch()"> {{ 'ACTIONS.goToSearch' | translate }} <i class="fa fa-search"></i></button>

            <div class="btn-right">
                <status-delete [solfacId]="solfacId" [status]="model.statusName" [customerId]="model.customerId" [serviceId]="model.serviceId" [projectId]="model.projectId"></status-delete>
                <status-sendToCdg [solfacId]="solfacId" [status]="model.statusName" (back)="goBack()" [attachments]="solfacAttachments.files?.length"></status-sendToCdg>
                
                <button class="btn btn-primary btn-outline dim" (click)="validate()" *ngIf="canUpdate()"> {{'ACTIONS.update' | translate }} <i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>

    <div class="tabs-container margin-bottom-20">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> <i class="fa fa-info-circle"></i> {{ 'billing.solfac.contractInfo' | translate }} </a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> <i class="fa fa-info-circle"></i> {{ 'billing.solfac.milestone.detail' | translate }} </a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> <i class="fa fa-info-circle"></i> {{'billing.solfac.impositiveInfo.title' | translate }} </a></li>
            <li class=""><a data-toggle="tab" href="#tab-4"> <i class="fa fa-clock-o"></i> {{ 'billing.solfac.movements' | translate }} </a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> <i class="fa fa-file"></i> {{ 'billing.solfac.attachments' | translate }} </a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <!-- Datos CRM -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'billing.solfac.businessName' | translate }}</label>
                                <solfac-account-control *ngIf="showAccountControl" [integratorProject]="integratorProject" [(model)]="model.businessName"></solfac-account-control>
                            </div>

                            <div class="form-group">
                                <label class="control-label">{{'billing.solfac.clientName' | translate }}</label>
                                <input type="text" class="form-control" [(ngModel)]="model.clientName">
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{'billing.solfac.celphone' | translate }}</label>
                                        <input type="text" class="form-control" [(ngModel)]="model.celPhone">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <select-two [label]="'billing.solfac.currency'" [(value)]="model.currencyId" [options]="currencies" (valueChange)="setCurrencySymbol(model.currencyId)"></select-two>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt class="font-15">{{'billing.solfac.status' | translate }}: </dt><dd class="font-15"><span class="label label-{{model.statusName}} solfacStatus">{{model.statusName | translate}}</span></dd>
                                <dt class="font-15">{{'billing.solfac.project' | translate }}: </dt><dd class="font-15">{{model.project}}</dd>
                                <dt class="font-15">{{'billing.solfac.userApplicant' | translate }}: </dt><dd class="font-15">{{model.userApplicantName}}</dd>

                                <dt *ngIf="model.invoiceId > 0">{{'billing.solfac.invoiceNumber' | translate }}: </dt>
                                <dd *ngIf="model.invoiceId > 0"><h4 class="text-navy">{{ model.invoiceNumber }}</h4></dd>

                                <dt *ngIf="model.invoiceId > 0">{{'billing.solfac.pdf' | translate }}: </dt>
                                <dd *ngIf="model.invoiceId > 0"><a (click)="exportPdf()">{{model.pdfFileName}}</a></dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                             <!-- Plazo -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <select-two [label]="'billing.solfac.timeLimit'" [(value)]="model.paymentTermId" [options]="paymentTerms"></select-two>
                                </div>
        
                                <!-- Tipo de documento -->
                                <div class="col-sm-6">
                                    <select-two [label]="'billing.solfac.documentType'" [(value)]="model.documentTypeId" [options]="documentTypes"></select-two>
                                </div>
                            </div>
         
                            <!-- Numero de imputacion-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">{{'billing.solfac.imputationNumber' | translate }}</label>
                                        <input type="text" name="imputationNumber1" [(ngModel)]="model.imputationNumber1" class="form-control"> 
                                    </div>
                                </div>
        
                                <div class="col-sm-6">
                                    <select-two [label]="'billing.solfac.activity'" [(value)]="model.imputationNumber3Id" [options]="imputationNumbers"></select-two>
                                </div>
                            </div>
        
                            <!-- Numero de contrato -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <select-two [label]="'billing.solfac.contractNumber'" [(value)]="model.purchaseOrderId" [options]="purchaseOrders"></select-two>
                                </div>
                            </div>
        
                            <!-- Instrucciones particulares -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">{{'billing.solfac.particularSteps' | translate }}:</label>
                                        <textarea class="form-control" name="particularSteps" rows="5" [(ngModel)]="model.particularSteps"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12" *ngIf="model.invoiceRequired">

                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <label class="control-label">{{'billing.solfac.invoice' | translate }}</label>
                                                <select id="invoices" select2 multiple class="form-control m-b">
                                                    <option *ngFor="let invoice of invoices" [value]="invoice?.id">{{invoice?.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn-primary btn-invoice-add" (click)="addInvoice()" *ngIf="invoices.length > 0">{{'ACTIONS.ADD' | translate }}</button>
                                        </div>
                                    </div>
        
                                    <div class="panel panel-primary" *ngIf="invoicesRelated.length > 0">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> {{'billing.solfac.invoicesRelated' | translate }}
                                        </div>
                                        <div class="panel-body">
                                            <ul class="todo-list small-list">
                                                <li *ngFor="let invoice of invoicesRelated; let i = index">
                                                    <span (click)="pdfViewer.getPdf(invoice.id)" class="m-l-xs pointer">{{invoice.pdfFileName}}</span>
                                                    <span (click)="deleteInvoiceOfSolfac(invoice.id, i)" class="pull-right pointer"><i class="fa fa-times icon-danger"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detalle de hitos -->
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <h3>{{'billing.project.detail.milestone.title' | translate }}</h3>

                    <div class="row">
                        <div class="col-sm-4" *ngFor="let hito of model.hitos">
                            <div class="widget navy-bg">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bookmark fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h3 class="text-ellipsis" title="{{ hito.description }}"> {{ hito.description }} </h3>
                                        <span class="font-bold hito-price">{{ currencySymbol }} {{ hito.total | number: '1.2-2' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button class="btn btn-success" type="button" (click)="addDetail()">{{'ACTIONS.ADD' | translate }} <i class="fa fa-plus"></i></button>
                            </div>

                            <div class="table-responsive" *ngIf="model.details && model.details.length > 0">
                                <table class="table invoice-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">{{'billing.solfac.hito' | translate }}</th>
                                            <th class="text-center">{{'billing.solfac.milestone.detail' | translate }}</th>
                                            <th class="text-center">{{'billing.solfac.milestone.quantity' | translate }}</th>
                                            <th class="text-center">{{'billing.solfac.milestone.unitPrice' | translate }}</th>
                                            <th class="text-center">{{'billing.solfac.milestone.total' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let detail of model.details; let i = index">
                                            <td class="text-center" style="width: 45px; min-width: 45px">
                                                <button class="btn btn-danger btn-xs" (click)="openDeleteDetail(detail, i)" type="button"><i class="fa fa-trash fa-2x"></i></button>
                                            </td>
                                            <td style="width: 145px; min-width: 145px">
                                                <select class="form-control input-sm" [(ngModel)]="detail.externalHitoId">
                                                    <option *ngFor="let hito of model.hitos" [value]="hito?.externalHitoId">{{hito?.description}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <textarea rows="4" class="form-control" [(ngModel)]="detail.description"></textarea>
                                            </td>
                                            <td style="width: 45px; min-width: 45px">
                                                <input type="text" class="form-control input-sm" [(ngModel)]="detail.quantity" (ngModelChange)="calculateTotal(detail)">
                                            </td>
                                            <td style="width: 135px; min-width: 135px">
                                                <input type="text" class="form-control input-sm" [(ngModel)]="detail.unitPrice" (ngModelChange)="calculateTotal(detail)">
                                            </td>
                                            <td style="width: 135px; min-width: 135px" class="detail-total">{{ currencySymbol }} {{ detail.total | number: '1.2-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="model.details && model.details.length > 0">
                        <div class="col-sm-4 col-sm-offset-8">
                            <dl class="dl-horizontal">
                                <dt><strong>{{'billing.solfac.milestone.totalAmount' | translate }} :</strong></dt>
                                <dd class="total-amount">{{ currencySymbol }} {{ model.totalAmount | number: '1.2-2' }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Informacion impositiva -->
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <!-- Capital -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <label class="control-label">{{'billing.solfac.impositiveInfo.capital' | translate }} :</label>
                            <div class="input-group m-b">
                                <input type="number" class="form-control" min="0" [(ngModel)]="model.capitalPercentage"> 
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-3">
                            <label class="control-label">{{'billing.solfac.impositiveInfo.otherProvince' | translate }}:  </label>
                            <div class="input-group m-b">
                                <input type="number" class="form-control" min="0" [(ngModel)]="model.otherProvince1Percentage"> 
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select-two [label]="'billing.solfac.impositiveInfo.province'" [(value)]="model.province1Id" [options]="provinces"></select-two>
                        </div>
                    </div>

                    <!-- Buenos Aires -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <label class="control-label">{{'billing.solfac.impositiveInfo.bsas' | translate }}: </label>
                            <div class="input-group m-b">
                                <input type="number" class="form-control" min="0" [(ngModel)]="model.buenosAiresPercentage"> 
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-3">
                            <label class="control-label">{{'billing.solfac.impositiveInfo.otherProvince' | translate }}:  </label>
                            <div class="input-group m-b">
                                <input type="number" class="form-control" min="0" [(ngModel)]="model.otherProvince2Percentage"> 
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select-two [label]="'billing.solfac.impositiveInfo.province'" [(value)]="model.province2Id" [options]="provinces"></select-two>
                        </div>
                    </div>

                    <!-- Otras -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-lg-offset-6">
                            <label class="control-label">{{'billing.solfac.impositiveInfo.otherProvince' | translate }}:  </label>
                            <div class="input-group m-b">
                                <input type="number" class="form-control" min="0" [(ngModel)]="model.otherProvince3Percentage"> 
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select-two [label]="'billing.solfac.impositiveInfo.province'" [(value)]="model.province3Id" [options]="provinces"></select-two>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Movimientos -->
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <solfac-history #history [solfacId]="solfacId"></solfac-history>
                </div>
            </div>

            <!-- Attachments -->
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    <solfac-attachments #solfacAttachments [solfacId]="solfacId"></solfac-attachments>
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="updateModalConfig" #updateModal (accept)="update()">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">{{'comments' | translate }}</label>
                <textarea class="form-control" name="updateComments" rows="10" [(ngModel)]="updateComments"></textarea>
            </div>
        </div>
    </div>
 </ng2-modal> 

 <ng2-modal [config]="deleteDetailModalConfig" #deleteDetailModal (accept)="deleteDetail()">
    <h4>{{ 'ACTIONS.confirmBody' | translate }}</h4>
</ng2-modal>

<solfac-pdf-viewer #pdfViewer></solfac-pdf-viewer>