<button class="btn btn-primary btn-outline dim" *ngIf="canSendToDaf()" (click)="sendToDafModal.show()">
    {{'ACTIONS.sendToDaf' | translate }} 
    <i class="fa fa-save"></i>
</button>

<ng2-modal [config]="sendToDafModalConfig" #sendToDafModal (accept)="sendToDAF()" [isLoading]="isLoading">
    <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">{{'comments' | translate }}</label>
                    <textarea class="form-control" name="comments" rows="10" [(ngModel)]="comments"></textarea>
                </div>
            </div>
        </div>
</ng2-modal> 