<form [formGroup]="interviewForm">

    <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'reasonId')">
        <label class="control-label"> Tipo/Razon </label>
        <ng-select [items]="reasonOptions" bindValue="id" bindLabel="text" formControlName="reasonId"></ng-select>

        <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'reasonId')">
            <p *ngIf="formsService.hasError(form, 'reasonId', 'required')">El campo es requerido</p>
        </div>
    </div>

    <div class="form-group">
        <icheck [(checked)]="hasRrhhInterview" (checkedChange)="hasRrhhInterviewChanged($event)">
            <label style="padding-left:20px;"> Entrev. RRHH </label> 
        </icheck>
    </div> 

    <div class="row" [hidden]="!hasRrhhInterview">
        <div class="col-md-3">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewDate')">
                <label class="control-label">Fecha</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="rrhhInterviewDate">

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewDate')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewDate', 'required')">La fecha es requerida</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewPlace')">
                <label class="control-label">Lugar </label>
                <input type="text" class="form-control" formControlName="rrhhInterviewPlace" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewPlace')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewPlace', 'required')">El lugar es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewPlace', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewerId')">
                <label class="control-label"> Evaluador </label>
                <ng-select [items]="userOptions" bindValue="id" bindLabel="text" formControlName="rrhhInterviewerId"></ng-select>

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewerId')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewerId', 'required')">El campo es requerido</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <icheck [(checked)]="hasTechnicalInterview" (checkedChange)="hasTechnicalInterviewChanged($event)">
            <label style="padding-left:20px;"> Entrev. Técnica </label> 
        </icheck>
    </div> 

    <div class="row" [hidden]="!hasTechnicalInterview">
        <div class="col-md-3" >
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'technicalInterviewDate')">
                <label class="control-label">Fecha</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="technicalInterviewDate">

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'technicalInterviewDate')">
                    <p *ngIf="formsService.hasError(form, 'technicalInterviewDate', 'required')">La fecha es requerida</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'technicalInterviewPlace')">
                <label class="control-label">Lugar </label>
                <input type="text" class="form-control" formControlName="technicalInterviewPlace" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'technicalInterviewPlace')">
                    <p *ngIf="formsService.hasError(form, 'technicalInterviewPlace', 'required')">El lugar es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'technicalInterviewPlace', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'technicalInterviewerId')">
                <label class="control-label"> Evaluador </label>
                <ng-select [items]="userOptions" bindValue="id" bindLabel="text" formControlName="technicalInterviewerId"></ng-select>

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'technicalInterviewerId')">
                    <p *ngIf="formsService.hasError(form, 'technicalInterviewerId', 'required')">El campo es requerido</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <icheck [(checked)]="hasClientInterview" (checkedChange)="hasClientInterviewChanged($event)">
            <label style="padding-left:20px;"> Entrev. Cliente </label> 
        </icheck>
    </div> 

    <div class="row" [hidden]="!hasClientInterview">
        <div class="col-md-3">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'clientInterviewDate')">
                <label class="control-label">Fecha</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="clientInterviewDate">

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'clientInterviewDate')">
                    <p *ngIf="formsService.hasError(form, 'clientInterviewDate', 'required')">La fecha es requerida</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewPlace')">
                <label class="control-label">Lugar </label>
                <input type="text" class="form-control" formControlName="rrhhInterviewPlace" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewPlace')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewPlace', 'required')">El lugar es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewPlace', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewerId')">
                <label class="control-label"> Evaluador </label>
                <ng-select [items]="userOptions" bindValue="id" bindLabel="text" formControlName="rrhhInterviewerId"></ng-select>

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewerId')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewerId', 'required')">El campo es requerido</p>
                </div>
            </div>
        </div>
    </div>
</form>