<form [formGroup]="form" [hidden]="!isVisible">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'reasonId')">
                <label class="control-label"> Tipo/Razon </label>
                <ng-select [items]="reasonOptions" bindValue="id" bindLabel="text" formControlName="reasonId"></ng-select>
        
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'reasonId')">
                    <p *ngIf="formsService.hasError(form, 'reasonId', 'required')">El campo es requerido</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'salary')">
                <label class="control-label">Remuneracion bruta solicitada</label>
                <input type="number" class="form-control" decimalFormat="9" formControlName="salary">

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'salary')">
                    <p *ngIf="formsService.hasError(form, 'salary', 'required')">El campo es requerido</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group m-t-md">
                <icheck [(checked)]="remoteWork">
                    <label style="padding-left:20px;"> Solicita full trabajo remoto </label> 
                </icheck>
            </div> 
        </div>
    </div>

    <button type="button" class="btn btn-md btn-success" (click)="save()" [disabled]="!canSave()"> <i class="fa fa-save"></i> Actualizar entrevista </button>
 
    <hr class="hr-line-dashed">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <icheck [(checked)]="hasPhoneInterview" (checkedChange)="hasPhoneInterviewChanged($event)">
                    <label style="padding-left:20px;"> Entrev. Telefonica </label> 
                </icheck>
            </div> 
        </div>
    </div>

    <hr class="hr-line-dashed">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <icheck [(checked)]="hasRrhhInterview" (checkedChange)="hasRrhhInterviewChanged($event)">
                    <label style="padding-left:20px;"> Entrev. RRHH </label> 
                </icheck>
            </div> 
        </div>
    </div>

    <div class="row" [hidden]="!hasRrhhInterview">
        <div class="col-md-2">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewDate')">
                <label class="control-label">Fecha</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="rrhhInterviewDate">

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewDate')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewDate', 'required')">La fecha es requerida</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewPlace')">
                <label class="control-label">Lugar </label>
                <input type="text" class="form-control" formControlName="rrhhInterviewPlace" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewPlace')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewPlace', 'required')">El lugar es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewPlace', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewerId')">
                <label class="control-label"> Evaluador </label>
                <ng-select [items]="recruitersOptions" bindValue="id" bindLabel="text" formControlName="rrhhInterviewerId"></ng-select>

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewerId')">
                    <p *ngIf="formsService.hasError(form, 'rrhhInterviewerId', 'required')">El campo es requerido</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'rrhhInterviewComments')" [hidden]="!hasRrhhInterview">
        <label class="control-label">Informe de RRHH</label>
        <textarea rows="4" class="form-control" formControlName="rrhhInterviewComments" maxlength="1000"></textarea>

        <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'rrhhInterviewComments')">
            <p *ngIf="formsService.hasError(form, 'rrhhInterviewComments', 'maxLength')">Los comentarios no pueden superar los 1000 caracteres</p>
        </div>
    </div>

    <hr class="hr-line-dashed">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <icheck [(checked)]="hasTechnicalInterview" (checkedChange)="hasTechnicalInterviewChanged($event)">
                    <label style="padding-left:20px;"> Entrev. Técnica </label> 
                </icheck>
            </div> 
        </div>
    </div>

    <div class="row" [hidden]="!hasTechnicalInterview">
        <div class="col-md-2" >
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'technicalInterviewDate')">
                <label class="control-label">Fecha</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="technicalInterviewDate">

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'technicalInterviewDate')">
                    <p *ngIf="formsService.hasError(form, 'technicalInterviewDate', 'required')">La fecha es requerida</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'technicalInterviewPlace')">
                <label class="control-label">Lugar </label>
                <input type="text" class="form-control" formControlName="technicalInterviewPlace" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'technicalInterviewPlace')">
                    <p *ngIf="formsService.hasError(form, 'technicalInterviewPlace', 'required')">El lugar es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'technicalInterviewPlace', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'technicalExternalInterviewer')">
                <label class="control-label">Evaluador </label>
                <input type="text" class="form-control" formControlName="technicalExternalInterviewer" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'technicalExternalInterviewer')">
                    <p *ngIf="formsService.hasError(form, 'technicalExternalInterviewer', 'required')">El evaluador es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'technicalExternalInterviewer', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'technicalInterviewComments')" [hidden]="!hasTechnicalInterview">
        <label class="control-label">Comentarios tecnicos</label>
        <textarea rows="4" class="form-control" formControlName="technicalInterviewComments" maxlength="1000"></textarea>

        <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'technicalInterviewComments')">
            <p *ngIf="formsService.hasError(form, 'technicalInterviewComments', 'maxLength')">Los comentarios no pueden superar los 1000 caracteres</p>
        </div>
    </div>
    
    <hr class="hr-line-dashed">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <icheck [(checked)]="hasClientInterview" (checkedChange)="hasClientInterviewChanged($event)">
                    <label style="padding-left:20px;"> Entrev. Cliente </label> 
                </icheck>
            </div> 
        </div>
    </div>

    <div class="row" [hidden]="!hasClientInterview">
        <div class="col-md-2">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'clientInterviewDate')">
                <label class="control-label">Fecha</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="clientInterviewDate">

                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'clientInterviewDate')">
                    <p *ngIf="formsService.hasError(form, 'clientInterviewDate', 'required')">La fecha es requerida</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'clientInterviewPlace')">
                <label class="control-label">Lugar </label>
                <input type="text" class="form-control" formControlName="clientInterviewPlace" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'clientInterviewPlace')">
                    <p *ngIf="formsService.hasError(form, 'clientInterviewPlace', 'required')">El lugar es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'clientInterviewPlace', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'clientExternalInterviewer')">
                <label class="control-label">Evaluador </label>
                <input type="text" class="form-control" formControlName="clientExternalInterviewer" maxlength="100">
    
                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'clientExternalInterviewer')">
                    <p *ngIf="formsService.hasError(form, 'clientExternalInterviewer', 'required')">El evaluador es requerido</p>
                    <p *ngIf="formsService.hasError(form, 'clientExternalInterviewer', 'maxlength')">Los lugar no puede superar los 100 caracteres</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'clientInterviewComments')" [hidden]="!hasClientInterview">
        <label class="control-label">Comentarios del cliente</label>
        <textarea rows="4" class="form-control" formControlName="clientInterviewComments" maxlength="1000"></textarea>

        <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'clientInterviewComments')">
            <p *ngIf="formsService.hasError(form, 'clientInterviewComments', 'maxLength')">Los comentarios no pueden superar los 1000 caracteres</p>
        </div>
    </div>
</form>