<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Ordenes de Compra </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li> Proveedores </li>
            <li><a [routerLink]="['/providers/purchase-orders']">Ordenes de Compra</a></li>
            <li class="active"><strong> Orden de Compra </strong></li>
        </ol>
    </div>
</div>

<div>
    <purchase-orders-pending-daf-approval *ngIf="estadoSeleccionado == currentEnvironment.OC_PEND_APRO_DAF" [purchaseOrder]="purchaseOrder"></purchase-orders-pending-daf-approval>
    <purchase-orders-pending-merchandise-reception *ngIf="estadoSeleccionado == currentEnvironment.OC_PEND_RECEP_MERC" [purchaseOrder]="purchaseOrder"></purchase-orders-pending-merchandise-reception>
    <purchase-orders-pending-bill-reception *ngIf="estadoSeleccionado == currentEnvironment.OC_PEND_RECEP_FAC" [purchaseOrder]="purchaseOrder"></purchase-orders-pending-bill-reception>
    <purchase-orders-finalised *ngIf="estadoSeleccionado == currentEnvironment.OC_FINAL" [purchaseOrder]="purchaseOrder"></purchase-orders-finalised>
</div>