<table class="table table-striped" id="purchaseOrderTable" width="100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>{{'billing.purchaseOrder.fields.number' | translate }}</th>
            <th>{{'billing.purchaseOrder.fields.client' | translate }}</th>
            <th>{{'billing.purchaseOrder.fields.proposal' | translate }}</th>
            <th class="text-right">{{'billing.purchaseOrder.fields.receptionDate' | translate }}</th>
            <th class="text-center">{{'billing.purchaseOrder.fields.status' | translate }}</th>
            <th>{{'billing.purchaseOrder.fields.currency' | translate }}</th>
            <th class="text-right">{{'billing.purchaseOrder.fields.ammount' | translate }}</th>
            <th class="text-right">{{'billing.purchaseOrder.fields.balance' | translate }}</th>
            <th>{{'billing.purchaseOrder.projectManager' | translate }}</th>
            <th>{{'billing.purchaseOrder.commercialManager' | translate }}</th>
            <th class="text-center column-xs">{{ 'ACTIONS.title' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let purchaseOrder of data">
            <td [ngClass]="purchaseOrder.details.length > 0 ? 'details-control' : ''" style="width:20px">
                <i [ngClass]="purchaseOrder.details.length > 0 ? 'fa fa-plus-square' : ''" [attr.data-id]="purchaseOrder.id"></i>
            </td>
            <td>{{ purchaseOrder.id }}</td>
            <td>{{ purchaseOrder.number }}</td>
            <td>{{ purchaseOrder.clientExternalName }}</td>
            <td>{{ purchaseOrder.proposal }}</td>
            <td class="text-right">{{ purchaseOrder.receptionDate | date: "dd/MM/yyyy" }}</td>
            <td class="text-center"> <label class="label label-oc-{{purchaseOrder.statusId}}">{{ purchaseOrder.statusText | translate }}</label> </td>
            <td>{{ purchaseOrder.currencyText }}</td>
            <td class="text-right">{{ purchaseOrder.ammount | amountFormat }}</td>
            <td class="text-right">{{ purchaseOrder.balance | amountFormat }}</td>
            <td>{{ purchaseOrder.accountManagerNames }}</td>
            <td>{{ purchaseOrder.projectManagerNames }}</td>
            <td class="text-center column-xs">
                <button *ngIf="purchaseOrder.id > 0 && menuService.hasFunctionality('PUROR', 'VIEW')"  class="btn btn-success btn-xs" (click)="clickViewHandler(purchaseOrder)"><i class="fa fa-eye"></i></button>

                <button class="btn btn-xs btn-success" (click)="export(purchaseOrder)" *ngIf="purchaseOrder.fileId > 0">
                    <i class="fa fa-download"></i>
                </button>

                <button class="btn btn-xs btn-success" (click)="viewFile(purchaseOrder)" *ngIf="purchaseOrder.fileId > 0 && purchaseOrder.fileName?.endsWith('.pdf') == true">
                    <i class="fa fa-file"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<pdf-viewer #pdfViewer></pdf-viewer>