<div class="table-responsive">
    <table class="table table-striped dataTable" id="purchaseOrderTable" role="grid">
        <thead>
            <tr>
                <th class="column-xs"></th>
                <th class="column-xs"></th>
                <th class="column-sm">{{'billing.purchaseOrder.fields.number' | translate }}</th>
                <th class="column-lg">{{'billing.purchaseOrder.fields.title' | translate }}</th>
                <th class="column-lg">{{'billing.purchaseOrder.fields.client' | translate }}</th>
                <th class="column-lg">PM/s</th>
                <th class="column-sm">{{'billing.purchaseOrder.fields.proposal' | translate }}</th>
                <th class="column-sm">{{'billing.purchaseOrder.fields.receptionDate' | translate }}</th>
                <th class="text-center column-md">{{'billing.purchaseOrder.fields.status' | translate }}</th>
                <th class="column-sm">{{'billing.purchaseOrder.fields.currency' | translate }}</th>
                <th class="text-right column-md">{{'billing.purchaseOrder.fields.ammount' | translate }}</th>
                <th class="text-right column-md">{{'billing.purchaseOrder.fields.balance' | translate }}</th>
                <th class="column-md">{{'billing.purchaseOrder.projectManager' | translate }}</th>
                <th class="column-md">{{'billing.purchaseOrder.commercialManager' | translate }}</th>
                <th class="text-center column-sm">{{ 'ACTIONS.title' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let purchaseOrder of data">
                <td class="column-xs" [ngClass]="purchaseOrder.details.length > 0 ? 'details-control' : ''" style="width:20px">
                    <i [ngClass]="purchaseOrder.details.length > 0 ? 'fa fa-plus-square' : ''" [attr.data-id]="purchaseOrder.id"></i>
                </td>
                <td class="column-xs">{{ purchaseOrder.id }}</td>
                <td class="column-sm text-ellipsis">{{ purchaseOrder.number }}</td> 
                <td class="column-lg text-ellipsis">{{ purchaseOrder.title }}</td>
                <td class="column-lg text-ellipsis">{{ purchaseOrder.clientExternalName }}</td>
                <td class="column-lg text-ellipsis">{{ purchaseOrder.managerNames }}</td>
                <td class="column-sm">{{ purchaseOrder.proposal }}</td>
                <td class="column-sm">{{ purchaseOrder.receptionDate | date: "dd/MM/yyyy" }}</td>
                <td class="text-center column-md"> <label class="label label-oc-{{purchaseOrder.statusId}}">{{ purchaseOrder.statusText | translate }}</label> </td>
                <td class="column-sm">{{ purchaseOrder.currencyText }}</td>
                <td class="text-right column-md">{{ purchaseOrder.ammount | amountFormat }}</td>
                <td class="text-right column-md">{{ purchaseOrder.balance | amountFormat }}</td>
                <td class="column-md">{{ purchaseOrder.accountManagerNames }}</td>
                <td class="column-md">{{ purchaseOrder.projectManagerNames }}</td>
                <td class="text-center column-sm">
                    <button tooltip="Ver" *ngIf="purchaseOrder.id > 0 && menuService.hasFunctionality('PUROR', 'VIEW')"  class="btn btn-success btn-xs" (click)="clickViewHandler(purchaseOrder)"><i class="fa fa-eye"></i></button>

                    <button tooltip="Exportar" class="btn btn-xs btn-success" (click)="export(purchaseOrder)" *ngIf="purchaseOrder.fileId > 0">
                        <i class="fa fa-download"></i>
                    </button>

                    <button tooltip="Ver archivo" class="btn btn-xs btn-success" (click)="viewFile(purchaseOrder)" *ngIf="purchaseOrder.fileId > 0 && purchaseOrder.fileName?.endsWith('.pdf') == true">
                        <i class="fa fa-file"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<pdf-viewer #pdfViewer></pdf-viewer>