<div class="panel-group" id="accordion">
    <div class="panel panel-success">

        <div class="panel-heading pointer" (click)="collapse()">
            <h2 class="panel-title">
                {{'billing.purchaseOrder.parameters' | translate }} 
                <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
            </h2>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">{{ 'billing.invoice.account' | translate }}</label>
                            <ng-select [items]="customers" bindLabel="text" bindValue="id" [(ngModel)]="customerId" (change)="searchCriteriaChange()"></ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">{{ 'allocationManagement.analytics.title' | translate }}</label>
                            <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analyticId" (change)="searchCriteriaChange()"></ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">{{ 'billing.purchaseOrder.projectManager' | translate }}</label>
                            <ng-select [items]="projectManagers" bindLabel="text" bindValue="id" [(ngModel)]="projectManagerId" (change)="searchCriteriaChange()"></ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">{{ 'billing.purchaseOrder.commercialManager' | translate }}</label>
                            <ng-select [items]="commercialManagers" bindLabel="text" bindValue="id" [(ngModel)]="commercialManagerId" (change)="searchCriteriaChange()"></ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="useStatus">
                        <div class="form-group">
                            <label class="control-label">{{ 'billing.purchaseOrder.fields.status' | translate }}</label>

                            <ng-select [(ngModel)]="statusId" (change)="searchCriteriaChange()">
                                <ng-option *ngFor="let item of statuses" [value]="item.id">{{ item.text | translate }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <br>
                        <icheck [(checked)]="filterByDates" (click)="searchCriteriaChange()">
                            <label class="control-label">{{'filterByDates' | translate }}</label> 
                        </icheck>
                    </div>
                    <div class="col-sm-4" *ngIf="filterByDates">
                        <label class="control-label">{{'report.dateRange' | translate }}</label>
                        <date-range-picker [datePickerOptionRange]="'previous'" #dateRangePicker (change)="searchCriteriaChange(data)"></date-range-picker>
                    </div>
                </div>
            </div>
            <div class="ibox-footer">
                <div class="text-right">
                    <button class="btn btn-warning btn-sm" (click)="clean()">{{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>