<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> Editar Postulante </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                Reclutamiento
            </li>
            <li class="active">
                <strong> Editar Postulante </strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">
    <button type="button" class="btn btn-md btn-success" (click)="back()"> <i class="fa fa-arrow-left"></i> Volver </button>
    <button *ngIf="registerVisible && canMakeRegister()" type="button" class="btn btn-md btn-success" (click)="cancelRegister()"> <i class="fa fa-times"></i> Cancelar </button>
    <button *ngIf="!registerVisible && canMakeRegister()" (click)="makeRegister()" class="btn btn-primary" type="button"> Habilitar ingreso <i class="fa fa-plus"></i> </button>
    <button *ngIf="registerVisible && canMakeRegister()" [disabled]="!form.valid || !newResourceForm.valid" (click)="register()" class="btn btn-primary" type="button"> Generar ingreso <i class="fa fa-save"></i> </button>
    <button *ngIf="!registerVisible" [disabled]="!form.valid" (click)="save()" class="btn btn-primary" type="button">{{'ACTIONS.save' | translate }} <i class="fa fa-save"></i> </button>
    <button *ngIf="canClose()" (click)="openCloseModal()" class="btn btn-danger" type="button">Deshabilitar <i class="fa fa-times"></i> </button>

    <div class="tabs-container m-t-md">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a class="nav-link" data-toggle="tab" href="#tab-1"> <i class="fa fa-info-circle"></i> Datos Generales </a></li>
            <li *ngIf="registerVisible"><a class="nav-link" data-toggle="tab" href="#tab-3"> <i class="fa fa-info-circle"></i> Datos para ingreso </a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-2"> <i class="fa fa-info-circle"></i> Historial contactos </a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row m-b-md">
                        <div class="col-md-6">
                            <label style="font-size: 16px" class="label label-success">Estado: {{ getStatusDesc() }}</label>
                        </div>
                    </div>

                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'lastName')">
                                    <label class="control-label">Apellido</label>
                                    <input type="text" class="form-control" formControlName="lastName" maxlength="75">
                        
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'lastName')">
                                        <p *ngIf="formsService.hasError(form, 'lastName', 'required')">El campo es requerido</p>
                                        <p *ngIf="formsService.hasError(form, 'lastName', 'maxlength')">El apellido no puede superar los 75 caracteres</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'firstName')">
                                    <label class="control-label">Nombres</label>
                                    <input type="text" class="form-control" formControlName="firstName" maxlength="75">
                        
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'firstName')">
                                        <p *ngIf="formsService.hasError(form, 'firstName', 'required')">El campo es requerido</p>
                                        <p *ngIf="formsService.hasError(form, 'firstName', 'maxlength')">Los nombres no pueden superar los 75 caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Conocimientos </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="skillOptions" bindValue="id" bindLabel="text" formControlName="skills"></ng-select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Perfiles </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="profileOptions" bindValue="id" bindLabel="text" formControlName="profiles"></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Cliente </label>
                                    <ng-select [items]="customerOptions" bindValue="id" bindLabel="text" formControlName="clientId"></ng-select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label class="control-label"> Tipo y Razon </label>
                                    <ng-select [items]="reasonOptions" bindValue="id" bindLabel="text" formControlName="reasonCauseId"></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'countryCode1')">
                                    <label class="control-label">Código pais</label>
                                    <input type="number" class="form-control" formControlName="countryCode1" min="0" max="99" placeholder="54">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'countryCode1')">
                                        <p *ngIf="formsService.hasError(form, 'countryCode1', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'countryCode1', 'max')">El codigo no puede contener mas de 2 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'areaCode1')">
                                    <label class="control-label">Código area</label>
                                    <input type="number" class="form-control" formControlName="areaCode1" min="0" max="999" placeholder="11">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'areaCode1')">
                                        <p *ngIf="formsService.hasError(form, 'areaCode1', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'areaCode1', 'max')">El codigo no puede contener mas de 3 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'telephone1')">
                                    <label class="control-label">Teléfono 1</label>
                                    <input type="text" class="form-control" formControlName="telephone1" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'telephone1')">
                                        <p *ngIf="formsService.hasError(form, 'telephone1', 'maxlength')">El telefono no puede superar los 100 caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'countryCode2')">
                                    <label class="control-label">Código pais</label>
                                    <input type="number" class="form-control" formControlName="countryCode2" min="0" max="99" placeholder="54">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'countryCode2')">
                                        <p *ngIf="formsService.hasError(form, 'countryCode2', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'countryCode2', 'max')">El codigo no puede contener mas de 2 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'areaCode2')">
                                    <label class="control-label">Código area</label>
                                    <input type="number" class="form-control" formControlName="areaCode2" min="0" max="999" placeholder="11">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'areaCode2')">
                                        <p *ngIf="formsService.hasError(form, 'areaCode2', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'areaCode2', 'max')">El codigo no puede contener mas de 3 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'telephone2')">
                                    <label class="control-label">Teléfono 2</label>
                                    <input type="text" class="form-control" formControlName="telephone2" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'telephone2')">
                                        <p *ngIf="formsService.hasError(form, 'telephone2', 'maxlength')">El telefono no puede superar los 100 caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electronico</label>
                                    <input type="text" class="form-control" formControlName="email" maxlength="75">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label class="control-label"> Recomendado por </label>
                                    <ng-select [items]="userOptions" bindValue="id" bindLabel="text" formControlName="recommendedByUserId"></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Comentarios</label>
                            <textarea rows="6" class="form-control" formControlName="comments" maxlength="3000"></textarea>
                        </div>
                    </form>
                </div>
            </div>

            <div id="tab-3" class="tab-pane" *ngIf="registerVisible">
                <div class="panel-body">
                    <form [formGroup]="newResourceForm">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'nationality')">
                                    <label class="control-label">Nacionalidad</label>
                                    <input type="text" class="form-control" formControlName="nationality" maxlength="50">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'nationality')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'nationality', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'civilStatus')">
                                    <label class="control-label">Estado Civil</label>
                                    <input type="text" class="form-control" formControlName="civilStatus" maxlength="50">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'civilStatus')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'civilStatus', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'birthDate')">
                                    <label class="control-label">Fecha Nacimiento</label> 
                                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="birthDate">
                            
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'birthDate')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'birthDate', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'startDate')">
                                    <label class="control-label">Fecha Ingreso</label> 
                                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="startDate">
                            
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'startDate')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'startDate', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'address')">
                                    <label class="control-label">Domicilio</label>
                                    <input type="text" class="form-control" formControlName="address" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'address')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'address', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'cuil')">
                                    <label class="control-label">Cuil</label>
                                    <input type="number" class="form-control" formControlName="cuil">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'cuil')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'cuil', 'required')">El campo es requerido</p>
                                        <p *ngIf="formsService.hasError(newResourceForm, 'cuil', 'max')">El campo no pueden superar los 11 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'prepaid')">
                                    <label class="control-label">Prepaga</label>
                                    <input type="text" class="form-control" formControlName="prepaid" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'prepaid')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'prepaid', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'managerId')">
                                    <label class="control-label"> Superior/Gerente de proyecto </label>
                                    <ng-select [items]="userOptions" bindValue="id" bindLabel="text" formControlName="managerId"></ng-select>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'managerId')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'managerId', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'analyticId')">
                                    <label class="control-label"> Analitica </label>
                                    <ng-select [items]="analytics" bindValue="id" bindLabel="text" formControlName="analyticId" (change)="analyticChange()"></ng-select>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'analyticId')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'analyticId', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Proyecto </label>
                                    <ng-select [items]="projects" bindValue="projectId" bindLabel="text" formControlName="projectId"></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'profileId')"> 
                                    <label class="control-label"> Perfil </label>
                                    <ng-select [items]="profileOptions" bindValue="id" bindLabel="text" formControlName="profileId"></ng-select>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'profileId')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'profileId', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'office')">
                                    <label class="control-label">Oficina</label>
                                    <input type="text" class="form-control" formControlName="office" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'office')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'office', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'salary')">
                                    <label class="control-label">Sueldo Bruto</label>
                                    <input type="number" class="form-control" formControlName="salary">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'salary')">
                                        <p *ngIf="formsService.hasError(newResourceForm, 'salary', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="formsService.getClassProperty(newResourceForm, 'agreements')">
                            <label class="control-label">Acuerdos</label>
                            <textarea rows="6" class="form-control" formControlName="agreements" maxlength="3000"></textarea>

                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(newResourceForm, 'agreements')">
                                <p *ngIf="formsService.hasError(newResourceForm, 'agreements', 'maxlength')">El campo no puede superar los 3000 comentarios</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped dataTable table-font" role="grid" id="historyTable">
                            <thead>
                                <tr>
                                    <th class="column-sm">Fecha</th>
                                    <th class="column-md">Razon</th>
                                    <th class="column-lg">Comentarios</th>
                                    <th class="column-lg">Conocimientos</th>
                                    <th class="column-lg">Perfiles</th>
                                    <th class="column-sm">Contactado por</th>
                                    <th class="column-sm">Cliente</th>
                                    <th class="column-sm">Busqueda</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of history" class="pointer" (click)="onHistoryClick(item)">
                                    <td class="column-sm">{{ item.date | date:'dd/MM/yyyy' }}</td>
                                    <td class="column-md text-ellipsis">{{ item.reason }}</td>
                                    <td class="column-lg text-word-break">{{ item.comments }}</td>
                                    <td class="column-lg text-word-break">{{ item.skills }}</td>
                                    <td class="column-lg text-word-break">{{ item.profiles }}</td>
                                    <td class="column-sm">{{ item.createdBy }}</td>
                                    <td class="column-sm">{{ item.client }}</td>
                                    <td class="column-sm">#{{ item.jobSearchId }}</td>
                                </tr>
                            </tbody>
                        </table>       
                    </div>

                    <hr class="hr-line-dashed">

                    <interview #interview></interview>   
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="dateModalConfig" #dateModal (accept)="closeApplicant()" [isSaveEnabled]="dateModalForm.valid">

    <form [formGroup]="dateModalForm" *ngIf="dateModalForm">   
        <div class="form-group" [ngClass]="formsService.getClassProperty(dateModalForm, 'reasonCauseModalId')">
            <label class="control-label"> Tipo/Razon </label>
            <ng-select [items]="applicantCloseReasons" bindValue="id" bindLabel="text" formControlName="reasonCauseModalId"></ng-select>

            <div class="form-control-feedback" *ngIf="formsService.hasErrors(dateModalForm, 'reasonCauseModalId')">
                <p *ngIf="formsService.hasError(dateModalForm, 'reasonCauseModalId', 'required')">El campo es requerido</p>
            </div>
        </div>

        <div class="form-group" [ngClass]="formsService.getClassProperty(dateModalForm, 'comments')">
            <label class="control-label">Motivo de cierre</label>
            <textarea rows="6" class="form-control" formControlName="comments" maxlength="1000"></textarea>
    
            <div class="form-control-feedback" *ngIf="formsService.hasErrors(dateModalForm, 'comments')">
                <p *ngIf="formsService.hasError(dateModalForm, 'comments', 'maxLength')">Los comentarios no pueden superar los 1000 caracteres</p>
            </div>
        </div>
        
    </form>

</ng2-modal> 