<button class="btn btn-primary btn-outline dim btn-sm" (click)="openModal()" *ngIf="canUpdateBill()"> 
    {{ 'ACTIONS.updateBill' | translate }}  <i class="fa fa-money"></i>
</button>

<ng2-modal [config]="updateBillModalConfig" #updateBillModal (accept)="updateBill()">
    <div class="form-group">
        <label class="control-label">{{'billing.solfac.invoiceCode' | translate }}</label>
        <input type="text" class="form-control" id="updateInvoiceCode" data-mask="9999-99999999">
    </div>
    <div class="form-group">
        <label class="control-label">{{'billing.solfac.invoiceDate' | translate }}</label>
        <date-picker [(date)]="invoiceDate"></date-picker>
    </div>
</ng2-modal>  