<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'advancement.paymentPending' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'advancement.navigationTitle' | translate }}
            </li>
            <li class="active">
                <strong> {{'advancement.paymentPending' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">
                <span>{{'advancement.searchParameters' | translate }}</span>
            </h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'advancement.userApplicant' | translate }}</label>
                        <ng-select [items]="users" bindLabel="text" bindValue="id" [(ngModel)]="userId"></ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'advancement.bank' | translate }}</label>
                        <ng-select [items]="banks" bindLabel="text" bindValue="id" [(ngModel)]="bankId"></ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-warning btn-sm" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                <button class="btn btn-success btn-sm" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div> 

    <div class="ibox">
        <div class="ibox-title" *ngIf="model.length > 0">
            <div class="ibox-tools">
                <button *ngIf="!areAllSelected()" class="btn btn-success btn-sm pull-left" (click)="selectAll()"> {{ 'ACTIONS.selectAll' | translate }}  <i class="fa fa-check"></i></button>
                <button *ngIf="!areAllUnselected()" class="btn btn-warning btn-sm pull-left" (click)="unselectAll()"> {{ 'ACTIONS.removeAll' | translate }}  <i class="fa fa-times"></i></button>

                <button *ngIf="menuService.hasFunctionality('ADVAN', 'PP-MASIVE-APPROVAL')" [disabled]="canApprove()" class="btn btn-primary btn-sm" (click)="approveAll()">Pagar seleccionados</button>  
            </div>
        </div>
        <div class="ibox-content">

            <div class="alert alert-gaps-warning" style="margin-bottom: 10px" *ngIf="refundsInProcessWarning">
                <i class="fa fa-warning"></i>
                Se han seleccionado adelantos con reintengros en proceso de aprobación
            </div>
        
            <div class="alert alert-gaps-warning" style="margin-bottom: 10px" *ngIf="currencyWarning">
                <i class="fa fa-warning"></i>
                Se han seleccionado items con distintas monedas
            </div>

            <table class="table table-striped dataTable m-b-md" role="grid" id="payment-pending">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>{{ 'advancement.bank' | translate }}</th>
                        <th>{{ 'advancement.userApplicant' | translate }}</th>
                        <th>{{ 'advancement.currency' | translate }}</th>
                        <th>{{ 'advancement.ammount' | translate }}</th>
                        <th>Monto Pesos</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let item of modelFiltered" class="pointer">
                        <td *ngIf="item.type == 'item' && item.data.entities.length > 0" style="width:20px" (click)="expand(item)">
                            <i [ngClass]="item.type == 'item' && item.show == false ? 'fa fa-plus-square' : 'fa fa-minus'"></i>
                        </td>
                        <td *ngIf="item.type == 'item'" class="column-xs text-center">
                            <icheck [(checked)]="item.data.selected" (checkedChange)="onRowPrincipalChange(item)" *ngIf="item.data.canPayAll && item.data.ammount > 0"></icheck>
                        </td>
                        <td *ngIf="item.type == 'item'">{{ item.data.bank }}</td>
                        <td *ngIf="item.type == 'item'">{{ item.data.userApplicantDesc }}</td>
                        <td *ngIf="item.type == 'item'">{{ item.data.currencyDesc }}</td>
                        <td *ngIf="item.type == 'item'">{{ item.data.ammount | amountFormat }}</td>
                        <td *ngIf="item.type == 'item'">{{ item.data.ammountPesos | amountFormat }}</td>

                        <td colspan="6" *ngIf="item.type == 'detail' && item.show == true">
                            <table class="table table-striped dataTable" style="margin-left: 11%" role="grid">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th># </th>
                                        <th>Tipo</th>
                                        <th>Moneda</th>
                                        <th>Monto</th>
                                        <th>Relacionado con</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr *ngFor="let entity of item.data">
                                        <td class="column-xs text-center">
                                            <icheck [(checked)]="entity.selected" (checkedChange)="onRowDetailChange(entity, item)"></icheck>
                                        </td>
                                        <td>{{ entity.id }}</td>
                                        <td>
                                            <span *ngIf="entity.type == 'refund'">Reintegro</span>
                                            <span *ngIf="entity.type != 'refund'">Adelanto - 
                                                <span *ngIf="entity.entityType == 'Salary'">Sueldo</span>
                                                <span *ngIf="entity.entityType == 'Viaticum'">Viatico</span>
                                            </span>
                                        </td>
                                        <td>{{ entity.currencyName }}</td>
                                        <td>{{ entity.ammount | amountFormat }} </td>
                                        <td>{{ entity.entitiesRelatedDesc }} </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </td>
                    </tr>
                </tbody>
            </table>   
    
            <h3>Total Seleccionado: {{ totalAmount | amountFormat }} {{ currencyName }}</h3>
        </div>
    </div>
</div> 