<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'advancement.paymentPending' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'advancement.navigationTitle' | translate }}
            </li>
            <li class="active">
                <strong> {{'advancement.paymentPending' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">
                <span>{{'advancement.searchParameters' | translate }}</span>
            </h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'advancement.userApplicant' | translate }}</label>
                        <ng-select [items]="users" bindLabel="text" bindValue="id" [(ngModel)]="userId"></ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{{'advancement.bank' | translate }}</label>
                        <ng-select [items]="banks" bindLabel="text" bindValue="id" [(ngModel)]="bankId"></ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-warning btn-sm" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                <button class="btn btn-success btn-sm" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div> 

    <div class="ibox">
        <div class="ibox-title" *ngIf="model.length > 0">
            <div class="ibox-tools">
                <button *ngIf="!areAllSelected()" class="btn btn-success btn-sm pull-left" (click)="selectAll()"> {{ 'ACTIONS.selectAll' | translate }}  <i class="fa fa-check"></i></button>
                <button *ngIf="!areAllUnselected()" class="btn btn-warning btn-sm pull-left" (click)="unselectAll()"> {{ 'ACTIONS.removeAll' | translate }}  <i class="fa fa-times"></i></button>

                <button *ngIf="menuService.hasFunctionality('ADVAN', 'PP-MASIVE-APPROVAL')" [disabled]="noneResourseSelected()" class="btn btn-primary btn-sm" (click)="approveAll()">Pagar seleccionados</button>  
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped dataTable" role="grid" id="payment-pending">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'advancement.bank' | translate }}</th>
                        <th>{{ 'advancement.userApplicant' | translate }}</th>
                        <th>{{ 'advancement.currency' | translate }}</th>
                        <th>{{ 'advancement.ammount' | translate }}</th>
                        <th>Monto Pesos</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let item of modelFiltered" class="pointer">
                        <td class="column-xs text-center">
                            <icheck [(checked)]="item.selected" (checkedChange)="calculateTotals()" *ngIf="item.canPayAll && item.ammount > 0"></icheck>
                        </td>
                        <td>{{ item.bank }}</td>
                        <td>{{ item.userApplicantDesc }}</td>
                        <td>{{ item.currencyDesc }}</td>
                        <td>{{ item.ammount | amountFormat }}</td>
                        <td>{{ item.ammountPesos | amountFormat }}</td>
                        <td><button class="btn btn-primary btn-sm" type="button" (click)="openDetail(item)"><i class="fa fa-eye"></i></button></td>
                    </tr>
                </tbody>
            </table>   
    
            <h3>Total Seleccionado: $ {{ totalAmount | amountFormat }}</h3>
        </div>
    </div>
</div> 

<ng2-modal [config]="detailModalConfig" #detailModal (accept)="payRefunds()" [size]="'modal-lg'" [isSaveEnabled]="saveEnabled()">
    <table class="table table-striped dataTable m-b-sm" role="grid">
        <thead>
            <tr>
                <th></th>
                <th># </th>
                <th>Tipo</th>
                <th>Moneda</th>
                <th>Monto</th>
                <th>Relacionado con</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let item of rowSelected?.entities">
                <td class="column-xs text-center">
                    <icheck [(checked)]="item.selected" (checkedChange)="calculateTotalRowSelected(item)"></icheck>
                </td>
                <td>{{ item.id }}</td>
                <td>
                    <span *ngIf="item.type == 'refund'">Reintegro</span>
                    <span *ngIf="item.type != 'refund'">Adelanto - 
                        <span *ngIf="item.entityType == 'Salary'">Sueldo</span>
                        <span *ngIf="item.entityType == 'Viaticum'">Viatico</span>
                    </span>
                </td>
                <td>{{ item.currencyName }}</td>
                <td>{{ item.ammount | amountFormat }} </td>
                <td>{{ item.entitiesRelatedDesc }} </td>
            </tr>
        </tbody>
    </table>   

    <br/>

    <div class="alert alert-gaps-warning" style="margin-bottom: 10px" *ngIf="refundsInProcessWarning">
        <i class="fa fa-warning"></i>
        Se han seleccionado adelantos con reintengros en proceso de aprobación
    </div>

    <div class="alert alert-gaps-warning" style="margin-bottom: 10px" *ngIf="currencyWarning">
        <i class="fa fa-warning"></i>
        Se han seleccionado items con distintas monedas
    </div>

    <h3 >Total Seleccionado: $ {{ totalRowSelectedAmount | amountFormat }}</h3>
</ng2-modal> 