<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> Editar Busqueda </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                Reclutamiento
            </li>
            <li class="active">
                <strong> Editar Busqueda </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight wrapper-font">

    <button type="button" class="btn btn-md btn-success" (click)="back()"> <i class="fa fa-arrow-left"></i> Volver </button>
    <button type="button" class="btn btn-md btn-success" (click)="close()" *ngIf="canClose()"> Cerrar </button>
    <button type="button" class="btn btn-md btn-success" (click)="reopen()" *ngIf="canReopen()"> Re-Abrir </button>
    <button type="button" class="btn btn-md btn-success" (click)="suspend()" *ngIf="canSuspend()"> Suspender </button>

    <button [disabled]="!form.valid" *ngIf="canSave()" (click)="add()" class="btn btn-primary" type="button">{{'ACTIONS.save' | translate }} <i class="fa fa-save"></i> </button>

    <form class="m-t-md m-b-md" [formGroup]="form">
        <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a class="nav-link" data-toggle="tab" href="#tab-1"> <i class="fa fa-info-circle"></i> Datos Generales </a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-2"> <i class="fa fa-info-circle"></i> Datos del Puesto </a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-3"> <i class="fa fa-info-circle"></i> Datos Tecnicos </a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-4"> <i class="fa fa-info-circle"></i> Datos del Cliente </a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-5"> <i class="fa fa-info-circle"></i> Historial </a></li>
            </ul>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="jobsearch-name">Busqueda #{{ entityId }}</label>
                            </div>
                            <div class="col-md-6">
                                <label style="font-size: 20px" class="label label-success pull-right">Estado: {{ getStatusDesc() }}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'userId')">
                                    <label class="control-label"> Solicitante </label>
                                    <ng-select [items]="applicantOptions" bindValue="id" bindLabel="text" formControlName="userId"></ng-select>
                    
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'userId')">
                                        <p *ngIf="formsService.hasError(form, 'userId', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Selector </label>
                                    <ng-select [items]="recruitersOptions" bindValue="id" bindLabel="text" formControlName="recruiterId"></ng-select>
                                </div>
                            </div>
            
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'reasonCauseId')">
                                    <label class="control-label"> Tipo/Razon </label>
                                    <ng-select [items]="reasonOptions" bindValue="id" bindLabel="text" formControlName="reasonCauseId"></ng-select>
                    
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'reasonCauseId')">
                                        <p *ngIf="formsService.hasError(form, 'reasonCauseId', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'timeHiringId')">
                                    <label class="control-label">Tiempo contratación</label>
                                    <ng-select [items]="timeHiringOptions" bindValue="id" bindLabel="text" formControlName="timeHiringId"></ng-select>
                                    
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'timeHiringId')">
                                        <p *ngIf="formsService.hasError(form, 'timeHiringId', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'maximunSalary')">
                                    <label class="control-label">Sueldo Ofrecido</label>
                                    <input type="text" decimalFormat="9" class="form-control input-sm" formControlName="maximunSalary">
                        
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'maximunSalary')">
                                        <p *ngIf="formsService.hasError(form, 'maximunSalary', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'jobTime')">
                                    <label class="control-label">Horario de trabajo</label>
                                    <input type="text" class="form-control input-sm" formControlName="jobTime" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'jobTime')">
                                        <p *ngIf="formsService.hasError(form, 'jobTime', 'required')">El campo es requerido</p>
                                        <p *ngIf="formsService.hasError(form, 'jobTime', 'maxLength')">Los horario no puede superar los 100 caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'quantity')">
                                    <label class="control-label">Cantidad personas</label>
                                    <input type="number" [digitLimit]="3" class="form-control input-sm" formControlName="quantity">
                        
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'quantity')">
                                        <p *ngIf="formsService.hasError(form, 'quantity', 'required')">EL campo es requerido</p>
                                        <p *ngIf="formsService.hasError(form, 'quantity', 'min')">La cantidad no puede ser menor a 1</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 m-t-lg" *ngIf="form.controls.quantity.value > 1">
                                <label class="label label-warning font-13"> El Perfil y Seniority deben ser coincidentes para todas las vacantes de las busquedas</label>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'observations')">
                            <label class="control-label">Observaciones</label>
                            <textarea rows="6" class="form-control" formControlName="observations" maxlength="3000"></textarea>
                    
                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'observations')">
                                <p *ngIf="formsService.hasError(form, 'observations', 'maxLength')">Las observaciones no pueden superar los 3000 caracteres</p>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'comments')">
                            <label class="control-label">Comentarios</label>
                            <textarea rows="6" class="form-control" formControlName="comments" maxlength="3000"></textarea>
                    
                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'comments')">
                                <p *ngIf="formsService.hasError(form, 'comments', 'maxLength')">Los comentarios no pueden superar los 3000 caracteres</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'location')">
                            <label class="control-label">Ubicación geográfica / Medios de acceso</label>
                            <input type="text" class="form-control input-sm" formControlName="location">
                            
                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'location')">
                                <p *ngIf="formsService.hasError(form, 'location', 'required')">El campo es requerido</p>
                                <p *ngIf="formsService.hasError(form, 'location', 'maxLength')">Los comentarios no pueden superar los 200 caracteres</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'jobType')">
                                    <label class="control-label">Tipo de Trabajo</label>
                                    <div class="radio radio-success">
                                        <input value="1" type="radio" formControlName="jobType">
                                        <label> Full Time </label>
                                    </div>
                                
                                    <div class="radio radio-success">
                                        <input value="2" type="radio" formControlName="jobType">
                                        <label> Part TIme </label>
                                    </div>
                    
                                    <div class="radio radio-success">
                                        <input value="3" type="radio" formControlName="jobType">
                                        <label> Otro </label>
                                    </div>
                                </div>

                                <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'jobType')">
                                    <p *ngIf="formsService.hasError(form, 'jobType', 'required')">El campo es requerido</p>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'resourceAssignment')">
                                    <label class="control-label">Asignación de recurso</label>
                                    <div class="radio radio-success" *ngFor="let item of resourceAssignmentOptions">
                                        <input [value]="item.id" type="radio" formControlName="resourceAssignment">
                                        <label> {{ item.text }} </label>
                                    </div>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'resourceAssignment')">
                                        <p *ngIf="formsService.hasError(form, 'resourceAssignment', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <icheck [(checked)]="hasExtraHours"  (checkedChange)="hasExtraHoursChanged($event)">
                                        <label style="padding-left:20px;"> Horas adicionales </label> 
                                    </icheck>
                                </div> 

                                <div class="form-group" *ngIf="hasExtraHours">
                                    <icheck [(checked)]="extraHoursPaid">
                                        <label style="padding-left:20px;"> Horas Remuneradas </label> 
                                    </icheck>
                                </div> 
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <icheck [(checked)]="hasGuards"  (checkedChange)="hasGuardsChanged($event)">
                                        <label style="padding-left:20px;"> Requiere Guardias Activas/Pasivas </label> 
                                    </icheck>
                                </div> 

                                <div class="form-group" *ngIf="hasGuards">
                                    <icheck [(checked)]="guardsPaid">
                                        <label style="padding-left:20px;"> Guardias Remuneradas </label> 
                                    </icheck>
                                </div> 
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'area')">
                            <label class="control-label">Detalles de proyecto</label>
                            <textarea rows="6" class="form-control" formControlName="area" maxlength="3000"></textarea>
                    
                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'area')">
                                <p *ngIf="formsService.hasError(form, 'area', 'maxLength')">El campo no puede superar los 3000 caracteres</p>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'benefits')">
                            <label class="control-label">Beneficios extras</label>
                            <textarea rows="6" class="form-control" formControlName="benefits" maxlength="3000"></textarea>
                    
                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'benefits')">
                                <p *ngIf="formsService.hasError(form, 'benefits', 'maxLength')">Los beneficios no pueden superar los 3000 caracteres</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'skillsRequired')">
                                    <label class="control-label"> Conocimientos excluyentes </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="skillOptions" bindValue="id" bindLabel="text" formControlName="skillsRequired"></ng-select>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'skillsRequired')">
                                        <p *ngIf="formsService.hasError(form, 'skillsRequired', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'skillsNotRequired')">
                                    <label class="control-label"> Conocimientos no excluyentes </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="skillOptions" bindValue="id" bindLabel="text" formControlName="skillsNotRequired"></ng-select>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'skillsNotRequired')">
                                        <p *ngIf="formsService.hasError(form, 'skillsNotRequired', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" [ngClass]="formsService.getClassProperty(form, 'profiles')">
                                <div class="form-group">
                                    <label class="control-label"> Perfiles </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="profileOptions" bindValue="id" bindLabel="text" formControlName="profiles"></ng-select>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'profiles')">
                                        <p *ngIf="formsService.hasError(form, 'profiles', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'seniorities')">
                                    <label class="control-label"> Seniority </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="seniorityOptions" bindValue="id" bindLabel="text" formControlName="seniorities"></ng-select>

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'seniorities')">
                                        <p *ngIf="formsService.hasError(form, 'seniorities', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'tasksToDo')">
                            <label class="control-label">Tipo de tareas a realizar</label>
                            <textarea rows="6" class="form-control" formControlName="tasksToDo" maxlength="3000"></textarea>
                    
                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'tasksToDo')">
                                <p *ngIf="formsService.hasError(form, 'tasksToDo', 'required')">El campo es requerido</p>
                                <p *ngIf="formsService.hasError(form, 'tasksToDo', 'maxLength')">El tipo de tareas no pueden superar los 4000 caracteres</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'yearsExperience')">
                                    <label class="control-label">Años de experiencia</label>
                                    <input type="number" class="form-control" formControlName="yearsExperience" min="0" max="99">
        
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'yearsExperience')">
                                        <p *ngIf="formsService.hasError(form, 'yearsExperience', 'required')">El campo es requerido</p>
                                        <p *ngIf="formsService.hasError(form, 'yearsExperience', 'min')">El campo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'yearsExperience', 'max')">El campo no puede ser mayor a 99</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group m-t-md">
                                    <icheck [(checked)]="languageRequired" (checkedChange)="languageRequiredChanged($event)">
                                        <label style="padding-left:20px;"> Excluyente </label> 
                                    </icheck>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'language')">
                                    <label class="control-label">Idioma y nivel</label>
                                    <input type="text" class="form-control" formControlName="language" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'language')">
                                        <p *ngIf="formsService.hasError(form, 'language', 'maxLength')">El campo no pueden superar los 100 caracteres</p>
                                        <p *ngIf="formsService.hasError(form, 'language', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group  m-t-md">
                                    <icheck [(checked)]="studyRequired" (checkedChange)="studyRequiredChanged($event)">
                                        <label style="padding-left:20px;"> Excluyente </label> 
                                    </icheck>
                                </div> 
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'study')">
                                    <label class="control-label">Nivel estudios</label>
                                    <input type="text" class="form-control" formControlName="study" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'study')">
                                        <p *ngIf="formsService.hasError(form, 'study', 'maxLength')">El campo no pueden superar los 100 caracteres</p>
                                        <p *ngIf="formsService.hasError(form, 'study', 'required')">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'clientId')">
                                    <label class="control-label"> Cliente </label>
                                    <ng-select [items]="customerOptions" bindValue="id" bindLabel="text" formControlName="clientId"></ng-select>
                    
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'clientId')">
                                        <p *ngIf="formsService.hasError(form, 'clientId', 'required')">El cliente es requerido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-t-md">
                                    <icheck [(checked)]="isMarketStudy" (checkedChange)="marketStudyChanged($event)">
                                        <label style="padding-left:20px;"> ¿ Es estudio de mercado ? </label> 
                                    </icheck>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-t-md">
                                    <icheck [(checked)]="isStaff" (checkedChange)="isStaffChanged($event)">
                                        <label style="padding-left:20px;"> Fijo / Staff </label> 
                                    </icheck>
                                </div> 
                            </div>
                        </div>

                        <div class="form-group" *ngIf="isMarketStudy" [ngClass]="formsService.getClassProperty(form, 'marketStudy')">
                            <label class="control-label">Estudio de Mercado</label>
                            <input type="text" class="form-control" maxlength="150" formControlName="marketStudy">

                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'marketStudy')">
                                <p *ngIf="formsService.hasError(form, 'marketStudy', 'required')">El campo es requerido</p>
                                <p *ngIf="formsService.hasError(form, 'marketStudy', 'maxLength')">El campo no puede superar los 150 caracteres</p>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="isStaff" [ngClass]="formsService.getClassProperty(form, 'isStaffDesc')">
                            <label class="control-label">Fijo / Staff</label>
                            <input type="text" class="form-control" maxlength="150" formControlName="isStaffDesc">

                            <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'isStaffDesc')">
                                <p *ngIf="formsService.hasError(form, 'isStaffDesc', 'required')">El campo es requerido</p>
                                <p *ngIf="formsService.hasError(form, 'isStaffDesc', 'maxLength')">El campo no puede superar los 150 caracteres</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Contacto del cliente</label>
                                    <input type="text" class="form-control input-sm" formControlName="clientContact">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Teléfono</label>
                                    <input type="text" class="form-control input-sm" formControlName="telephone">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">E-Mail</label>
                                    <input type="text" class="form-control input-sm" formControlName="email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-5" class="tab-pane">
                    <div class="panel-body">
                        <job-search-history #history></job-search-history>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <job-search-applicants-related [hidden]="!canClose()" #applicantsRelated></job-search-applicants-related>
</div>

<ng2-modal [config]="dateModalConfig" #dateModal (accept)="changeStatus()" [isSaveEnabled]="dateModalForm.valid">

    <form [formGroup]="dateModalForm" *ngIf="dateModalForm">   

        <div class="form-group" [ngClass]="formsService.getClassProperty(dateModalForm, 'date')">
            <label class="control-label">Fecha</label> 
            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="date">
    
            <div class="form-control-feedback" *ngIf="formsService.hasErrors(dateModalForm, 'date')">
                <p *ngIf="formsService.hasError(dateModalForm, 'date', 'required')">La fecha es requerida</p>
            </div>
        </div>

        <div class="form-group" [ngClass]="formsService.getClassProperty(dateModalForm, 'reasonCauseModalId')">
            <label class="control-label"> Tipo/Razon </label>
            <ng-select [items]="reasonOptionsModal" bindValue="id" bindLabel="text" formControlName="reasonCauseModalId"></ng-select>

            <div class="form-control-feedback" *ngIf="formsService.hasErrors(dateModalForm, 'reasonCauseModalId')">
                <p *ngIf="formsService.hasError(dateModalForm, 'reasonCauseModalId', 'required')">El campo es requerido</p>
            </div>
        </div>

        <div *ngIf="statusSelected == 3 || statusSelected == 2" class="form-group" [ngClass]="formsService.getClassProperty(dateModalForm, 'comments')">
            <label class="control-label">Motivo de cierre</label>
            <textarea rows="6" class="form-control" formControlName="comments" maxlength="1000"></textarea>
    
            <div class="form-control-feedback" *ngIf="formsService.hasErrors(dateModalForm, 'comments')">
                <p *ngIf="formsService.hasError(dateModalForm, 'comments', 'maxLength')">Los comentarios no pueden superar los 1000 caracteres</p>
            </div>
        </div>
         
    </form>

</ng2-modal> 