.jobsearch-name {
    background-color: #BBBBBB;
    border-radius: 5px;
    margin-bottom: 10px !important;
    font-size: 1.6em;
    font-weight: normal;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.wrapper-font {
    font-size: 12px;
}

textarea {
    font-size: 11px;
}

.font-13 {
    font-size: 13px;
}