<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> Información de Cuentas </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li>Gestión de Contratos</li>
            <li class="active"><strong> Información de Cuentas </strong></li>
        </ol>
    </div>
</div> 

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Año</label>
                        <ng-select [items]="years" bindLabel="text" bindValue="id" [(ngModel)]="yearId"></ng-select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Mes</label>
                        <ng-select [items]="months" bindLabel="text" bindValue="id" [(ngModel)]="monthId"></ng-select>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <button type="button" class="btn btn-success m-t-md" (click)="search()">
                        Buscar
                        <span class="fa fa-search"></span> 
                    </button>
                </div>
            </div>

            <table class="table table-striped dataTable" role="grid" id="accountInfoTable" *ngIf="items.length > 0">
                <thead>
                    <tr>
                        <th>Legajo</th>
                        <th>Recurso</th>
                        <th>Cuenta</th>
                        <th>NRO</th>
                        <th>Monto</th>
                        <th>Analitica</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{ item.employeeNumber }}</td>
                        <td>{{ item.employee }}</td>
                        <td>{{ item.account }}</td>
                        <td>{{ item.accountNumber }}</td>
                        <td>{{ item.ammount | number: '1.2' }}</td>
                        <td>{{ item.analytic }}</td>
                        <td>{{ item.percentage | number: '1.2' }}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>