<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.customer.client' | translate }}: {{customerName}}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
                <li>
                <a [routerLink]="['/billing/customers/']">{{'billing.customer.title' | translate }}</a>
            </li>
            <li>
                <a>{{customerName}}</a>
            </li>
            <li class="active">
                <strong>{{'billing.service.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <button class="btn btn-sm btn-success btn-outline dim pull-right" (click)="update()" *ngIf="menuService.hasFunctionality('SOLFA', 'SERVICE-UPDATE')"> 
        {{ 'allocationManagement.news.updateRrhh' | translate }} <i class="fa fa-file"></i>
    </button>

    <div class="ibox">
        <div class="ibox-content">
            <table class="table table-striped" id="serviceTable" width="100%">
                <thead>
                    <tr>
                        <th>{{"billing.service.grid.name" | translate}}</th>
                        <th>{{"billing.project.grid.manager" | translate}}</th>
                        <th>{{"billing.project.grid.analytic" | translate}}</th>
                        <th>{{"billing.service.grid.startDate" | translate}}</th>
                        <th>{{"billing.service.grid.endDate" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services" class="pointer" (click)="goToProjects(service)">
                        <td>{{service.name}}</td>
                        <td>{{service.manager}}</td>
                        <td>{{service.analytic}}</td>
                        <td>{{service.startDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{service.endDate | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>   
        </div>
    </div>
</div>

