<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'workTimeManagement.worktimeControl.title' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>{{'workTimeManagement.title' | translate }}</li>
            <li class="active">
                <strong>{{'workTimeManagement.worktimeControl.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.analytics.title' | translate }}</label>
                        <select id="analyticControl" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'workTimeManagement.worktimeControl.dateRange' | translate }}</label>
                        <date-range-picker [datePickerOptionRange]="'previous'" #dateRangePicker (change)="getData()"></date-range-picker>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'workTimeManagement.worktimeControl.businessHoursTotal' | translate }}</dt>
                        <dd>{{ model?.resume?.businessHours }} hs</dd>
                        <dt>{{ 'workTimeManagement.worktimeControl.registeredHoursTotal' | translate }}</dt>
                        <dd>{{ model?.resume?.hoursApproved }} hs</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'workTimeManagement.worktimeControl.licenseHoursTotal' | translate }}</dt>
                        <dd>{{ model?.resume?.hoursWithLicense }} hs</dd>
                        <dt>{{ 'workTimeManagement.worktimeControl.pendingHoursTotal' | translate }}</dt>
                        <dd>{{ model?.resume?.hoursPending }} hs</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-content" *ngIf="model != null && model.resources != null">
            <table class="table table-striped" id="gridTable" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>{{'workTimeManagement.worktimeControl.analytic' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.employeeNumber' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.employeeName' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.businessHours' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.approvedHours' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.licenseHours' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.sentHours' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.draftHours' | translate }}</th>
                        <th>{{'workTimeManagement.worktimeControl.pendingHours' | translate }}</th>
                        <th>{{'workTimeManagement.report.allocationPercentage' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.resources">
                        <td [ngClass]="item.details.length > 0 ? 'details-control' : ''" style="width:20px">
                            <i [ngClass]="item.details.length > 0 ? 'fa fa-plus-square' : ''" [attr.data-id]="item.id"></i>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.analytic }}</td>
                        <td>{{ item.employeeNumber }}</td>
                        <td>{{ item.employeeName }}</td>
                        <td>{{ item.businessHours }}</td>
                        <td>{{ item.approvedHours }}</td>
                        <td>{{ item.licenseHours }}</td>
                        <td>{{ item.sentHours }}</td>
                        <td>{{ item.draftHours }}</td>
                        <td>{{ item.pendingHours }}</td>
                        <td>{{ item.allocationPercentage }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
