<button class="btn btn-danger btn-outline dim" *ngIf="canCancel()"(click)="annulmentModal.show()">
    {{'ACTIONS.annulment' | translate }} 
    <i class="fa fa-times"></i>
</button>

<ng2-modal [config]="annulmentModalConfig" #annulmentModal (accept)="annulment()" [isLoading]="isLoading">
    <div class="form-group">
        <label class="control-label">{{'comments' | translate }}</label>
        <textarea class="form-control" name="comments" rows="10" [(ngModel)]="comments"></textarea>
    </div>
</ng2-modal>
