.dl-horizontal dt {
    margin:0px;
    padding-right: 10px;
    padding-top: 10px;
}

.dl-horizontal dd {
    border-bottom: 1px solid #efefef;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.img-circle {
    border: 6px solid #1ab394;
}

.profile-image img {
    width: 120px;
    height: 120px;
}