<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'allocationManagement.resources.profile' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.resources.title' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-md m-t-md">
        <div class="col-md-12">
            <div class="profile-image">
                <img src="assets/images/user_default_m.png" class="img-circle circle-border m-b-md">
            </div>
            <div class="profile-info">
                <h1 class="no-margins text-green"> {{ model?.name }} </h1>

                <h4 class="m-t-md">{{ model?.profile }}</h4>
 
                <div class="row m-t-lg">
                    <div class="col-sm-3" *ngIf="canAddWorkTime()">
                        <div class="widget-custom lazur-bg" (click)="goToTimeSheet()">
                            <div class="row vertical-align">
                                <div class="col-xs-2">
                                    <i class="fa fa-clock-o fa-2x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">{{'allocationManagement.resources.timeSheet' | translate }}</h4>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" *ngIf="canAddLicense()">
                        <div class="widget-custom lazur-bg" (click)="goToLicenses()">
                            <div class="row vertical-align">
                                <div class="col-xs-2">
                                    <i class="fa fa-plane fa-2x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">{{'allocationManagement.resources.licenses' | translate }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" *ngIf="isRrhh">
                        <div class="widget-custom lazur-bg" (click)="finalizeExtraHolidays()">
                            <div class="row vertical-align">
                                <div class="col-xs-2">
                                    <i class="fa fa-times-circle fa-2x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">{{'rrhh.license.finalizeExtraHolidays' | translate }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" *ngIf="isRrhh">
                        <div class="widget-custom lazur-bg" (click)="businessHoursModal.show()">
                            <div class="row vertical-align">
                                <div class="col-xs-2">
                                    <i class="fa fa-edit fa-2x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">{{'allocationManagement.resources.hoursByContract' | translate }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-font-md">
                <tbody>
                    <tr>
                        <td><strong><i class="fa fa-user"></i> {{'allocationManagement.resources.manager' | translate }}: </strong> {{ model?.manager }} </td>
                    </tr>
                    <tr>
                        <td><strong><i class="fa fa-calendar"></i> {{'allocationManagement.resources.grid.start' | translate }}:</strong> {{ model?.startDate | date:'dd/MM/yyyy' }}</td>
                        <td><strong><i class="fa fa-star"></i> {{'allocationManagement.resources.grid.senority' | translate }}: </strong> {{ model?.seniority }} </td>
                        <td><strong><i class="fa fa-paper-plane"></i> {{'rrhh.license.holidaysByLaw' | translate }}: </strong> {{ model?.holidaysByLaw }} {{'rrhh.license.days' | translate }}</td>
                    </tr>
                    <tr>
                        <td><strong><i class="fa fa-address-card"></i> {{'allocationManagement.resources.grid.employeeNumber' | translate }}: </strong> {{ model?.employeeNumber }} </td>
                        <td><strong><i class="fa fa-cog"></i> {{'allocationManagement.resources.grid.technology' | translate }}: </strong> {{ model?.technology }} </td>
                        <td *ngIf="isRrhh"><strong><i class="fa fa-paper-plane"></i> {{'rrhh.license.holidaysPendingByLaw' | translate }}: </strong> {{ model?.holidaysPendingByLaw }} {{'rrhh.license.days' | translate }}</td>
                    </tr>
                    <tr>
                        <td><strong><i class="fa fa-building"></i> {{'allocationManagement.resources.grid.office' | translate }}: </strong> {{ model?.officeAddress }}</td>
                        <td><strong><i class="fa fa-percent"></i> {{'allocationManagement.resources.grid.percentage' | translate }}: </strong> {{ model?.percentage }}% </td>
                        <td *ngIf="isRrhh"><strong><i class="fa fa-paper-plane"></i> {{'rrhh.license.holidaysPending' | translate }}: </strong> {{ model?.holidaysPending }} {{'rrhh.license.days' | translate }}</td>
                    </tr>
                    <tr>
                        <td><strong><i class="fa fa-paper-plane"></i> {{'allocationManagement.resources.grid.examDaysTaken' | translate }}: </strong> {{ model?.examDaysTaken }} {{'rrhh.license.days' | translate }}</td>
                        <td *ngIf="isRrhh || userLoggedIsManager()">
                            <strong><i class="fa fa-credit-card"></i> 
                                {{'allocationManagement.resources.hasCreditCard' | translate }}: 
                            </strong> 

                            <span *ngIf="model?.hasCreditCard">{{ 'ACTIONS.yes' | translate }}</span>
                            <span *ngIf="!model?.hasCreditCard">{{ 'ACTIONS.no' | translate }}</span>
                        </td>
                        <td *ngIf="model?.hasExtraHolidays && isRrhh"><strong><i class="fa fa-paper-plane"></i> {{'rrhh.license.extraHolidays' | translate }}: </strong> {{ model?.extraHolidaysQuantityByLaw }} {{'rrhh.license.days' | translate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> {{'allocationManagement.resources.generalInfo' | translate }} </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"> {{'allocationManagement.resources.allocations' | translate }} </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"> {{'allocationManagement.resources.licenses' | translate }} </a></li>
                    <li class="" *ngIf="model?.history.length > 0"><a data-toggle="tab" href="#tab-4"> {{'allocationManagement.resources.history' | translate }} </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-5"> {{ 'ADMIN.task.title' | translate }} </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-6"> {{ 'advancement.title' | translate }} </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-7"> {{ 'refund.title' | translate }} </a></li>
                    <li class="" *ngIf="isRrhh"><a data-toggle="tab" href="#tab-8"> {{ 'allocationManagement.resources.profileHistoryGrid.name' | translate }} </a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>{{'allocationManagement.resources.address' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.address }}</dd>

                                    <dt>{{'allocationManagement.resources.location' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.location }}</dd>

                                    <dt>{{'allocationManagement.resources.province' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.province }}</dd>

                                    <dt>{{'allocationManagement.resources.healtInsurance' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.healthInsurance?.name }}</dd>

                                    <dt>{{'allocationManagement.resources.prepaidHealth' | translate }}</dt>
                                    <dd class="text-ellipsis">
                                        <label class="font-normal">{{ model?.prepaidHealth?.name }}</label>
                                    </dd>

                                    <dt *ngIf="isRrhh">{{'allocationManagement.resources.prepaidHealthAmount' | translate }}</dt>
                                    <dd class="text-ellipsis" *ngIf="isRrhh">{{ model?.prepaidHealth?.amount | number: '1.2-2' }}</dd>

                                    <dt>{{'allocationManagement.resources.businessHours' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.businessHours }} hs</dd>

                                    <dt>{{'allocationManagement.resources.businessHoursDescription' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.businessHoursDescription }}</dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>{{'allocationManagement.resources.cuil' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.cuil }}</dd>
    
                                    <dt>{{'allocationManagement.resources.phone' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ getFormattedPhone() }}</dd>

                                    <dt>{{'allocationManagement.resources.document' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.documentNumber }}</dd>

                                    <dt>{{'allocationManagement.resources.grid.birthday' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.birthday | date:'dd/MM/yyyy' }}</dd>

                                    <dt>{{'allocationManagement.resources.grid.bank' | translate }}</dt>
                                    <dd class="text-ellipsis">{{ model?.bank }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="analyticsTable">
                                <thead>
                                    <tr>
                                        <th>{{ 'allocationManagement.analytics.grid.title' | translate }}</th>
                                        <th>{{ 'allocationManagement.analytics.grid.name' | translate }}</th>
                                        <th>{{ 'allocationManagement.analytics.grid.client' | translate }}</th>
                                        <th>{{ 'allocationManagement.analytics.grid.allocationPercentage' | translate }}</th>
                                        <th>{{ 'allocationManagement.analytics.add.service' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.grid.startDate' | translate }}</th>
                                        <th>{{'allocationManagement.resources.grid.releaseDate' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let allocation of model?.allocations">
                                        <td> {{ allocation.title }} </td>
                                        <td> {{ allocation.name }} </td>
                                        <td> {{ allocation.client }} </td>
                                        <td> {{ allocation.allocationPercentage }} % </td>
                                        <td> {{ allocation.service }} </td>
                                        <td> {{ allocation.startDate | date:'dd/MM/yyyy' }} </td>
                                        <td> {{ allocation.releaseDate | date:'dd/MM/yyyy' }} </td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <table class="table table-striped" id="licenses" width="100%">
                                <thead>
                                    <tr>
                                        <th class="column-lg"> {{ 'rrhh.license.manager' | translate }} </th>
                                        <th class="column-lg"> {{ 'rrhh.license.type' | translate }} </th>
                                        <th class="column-sm"> {{ 'rrhh.license.creation' | translate }}</th>
                                        <th class="column-xs"> {{ 'rrhh.license.days' | translate }}</th>
                                        <th class="column-sm"> {{ 'rrhh.license.start' | translate }} </th>
                                        <th class="column-sm"> {{ 'rrhh.license.end' | translate }} </th>
                                        <th class="column-sm text-center"> {{ 'rrhh.license.status' | translate }} </th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr *ngFor="let item of licenses" class="pointer" (click)="goToDetail(item)">
                                        <td class="column-lg"> {{ item.managerName }} </td>
                                        <td class="column-lg"> {{ item.licenseTypeName }} </td>
                                        <td class="column-sm"> {{ item.creationDate | date:'dd/MM/yyyy' }} </td>
                                        <td class="column-xs"> {{ item.days }} </td>
                                        <td class="column-sm"> {{ item.startDate | date: 'dd/MM/yyyy' }} </td>
                                        <td class="column-sm"> {{ item.endDate | date: 'dd/MM/yyyy' }} </td>
                                        <td class="column-sm text-ellipsis"> <label class="label label-license-{{item.status}} font-9">{{ item.status | translate }}</label>  </td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane" *ngIf="model?.history.length > 0">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="historyTable">
                                <thead>
                                    <tr>
                                        <th>{{ 'allocationManagement.news.grid.name' | translate }}</th>
                                        <th>{{ 'allocationManagement.news.grid.startDate' | translate }}</th>
                                        <th>{{ 'allocationManagement.news.grid.endDate' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.grid.senority' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.grid.profile' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.grid.technology' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of model?.history">
                                        <td> {{ item.name }} </td>
                                        <td> {{ item.startDate | date:'dd/MM/yyyy' }} </td>
                                        <td> {{ item.endDate | date:'dd/MM/yyyy' }} </td>
                                        <td> {{ item.seniority }} </td>
                                        <td> {{ item.profile }} </td>
                                        <td> {{ item.technology }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="tasksTable">
                                <thead>
                                    <tr>
                                        <th>{{ 'ADMIN.task.category' | translate }}</th>
                                        <th>{{ 'ADMIN.task.task' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of tasks">
                                        <td> {{ item.category }} </td>
                                        <td> {{ item.task }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-6" class="tab-pane">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="advancementTable">
                                <thead>
                                    <tr>
                                        <th>{{ 'advancement.type' | translate }}</th>
                                        <th>{{ 'advancement.paymentForm' | translate }}</th>
                                        <th>{{ 'advancement.currency' | translate }}</th>
                                        <th>{{ 'advancement.ammount' | translate }}</th>
                                        <th>{{ 'advancement.creationDate' | translate }}</th>
                                        <th>{{ 'advancement.status' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of advancements" class="pointer" (click)="goToAdvancementDetail(item)">
                                        <td>
                                            <span *ngIf="item.type == 1">{{ 'advancement.salary' | translate }}</span>
                                            <span *ngIf="item.type == 2">{{ 'advancement.viaticum' | translate }}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="item.paymentForm == 1">{{ 'advancement.ownBank' | translate }}</span>
                                            <span *ngIf="item.paymentForm == 2">{{ 'advancement.others' | translate }}</span>
                                        </td>
                                        <td>{{ item.currencyDesc }}</td>
                                        <td>{{ item.ammount }}</td>
                                        <td>{{ item.creationDate | date: 'dd/MM/yyyy' }}</td>
                                        <td><label class="label font-9" [ngClass]="getStatusClass(item.workflowStatusType)">{{ item.statusDesc }}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-7" class="tab-pane">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="refundTable">
                                <thead>
                                    <tr>
                                        <th class="column-sm">{{ 'refund.applicationDate' | translate }}</th>
                                        <th class="column-sm">{{ 'refund.currency' | translate }}</th>
                                        <th class="column-sm">{{ 'refund.advancementSum' | translate }}</th>
                                        <th class="column-sm">{{ 'refund.itemTotal' | translate }}</th>
                                        <th class="column-sm">{{ 'refund.status' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of refunds" class="pointer" (click)="goToRefundDetail(item)">
                                        <td class="column-sm">{{ item.creationDate | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{ item.currencyName }}</td>
                                        <td>{{ item.advancementSum }}</td>
                                        <td>{{ item.refundItemTotal }}</td>
                                        <td>
                                            <label class="label font-9" [ngClass]="getStatusClass(item.workflowStatusType)">{{ item.statusName }}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-8" class="tab-pane" *ngIf="isRrhh">
                        <div class="panel-body">
                            <table class="table table-striped dataTable" role="grid" id="profileHistoryTable">
                                <thead>
                                    <tr>
                                        <th>{{ 'allocationManagement.resources.profileHistoryGrid.field' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.profileHistoryGrid.oldValue' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.profileHistoryGrid.newValue' | translate }}</th>
                                        <th>{{ 'allocationManagement.resources.profileHistoryGrid.date' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of profileHistories">
                                        <td> {{ item.field }} </td>
                                        <td> {{ item.oldValue }} </td>
                                        <td> {{ item.newValue }} </td>
                                        <td> {{ item.dateTime | date:'dd/MM/yyyy HH:mm:ss' }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<ng2-modal [config]="businessHoursModalConfig" #businessHoursModal (accept)="update()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">{{'allocationManagement.resources.businessHours' | translate }} </label>
                <input class="form-control" type="number" min="1" max="8" [(ngModel)]="editModel.businessHours" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">{{'rrhh.license.holidaysPendingByLaw' | translate }} </label>
                <input class="form-control" type="number" min="1" max="1000" [(ngModel)]="editModel.holidaysPending" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.report.grid.billeability' | translate }}: </label>
        <input class="form-control" type="text" [(ngModel)]="editModel.billingPercentage" />
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.businessHoursDescription' | translate }} </label>
        <input class="form-control" type="text" [(ngModel)]="editModel.businessHoursDescription" placeholder="09.00 hs a 18.00 hs" />
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.grid.office' | translate }}: </label>
        <input class="form-control" type="text" [(ngModel)]="editModel.office" />
    </div>

    <div class="form-group">
        <label class="control-label">{{ 'allocationManagement.resources.manager' | translate }}</label>
        <ng-select [items]="managers" bindLabel="text" bindValue="id" [(ngModel)]="editModel.managerId"></ng-select>
    </div>

    <div class="form-group">
        <icheck [(checked)]="editModel.hasCreditCard" >
            <label style="padding-left:20px;">{{ 'allocationManagement.resources.hasCreditCard' | translate }}</label> 
        </icheck>
    </div>
</ng2-modal>  