.value {
    border-bottom: 1px solid rgb(175, 170, 170);
    width: 85%;
}

.value-currency {
    border-bottom: 1px solid rgb(175, 170, 170);
}

.totals {
    display: flex;
}

.percentage {
    text-align: right;
    width: 15%;
}

.currency {
    text-align: left;
    width: 15%; 
}

.border-right {
    border-right: 1px solid #e7eaec;
}

.border-top {
    border-top: 1px solid #e7eaec!important;
}

.border-left {
    border-left: 1px solid #e7eaec;
}

.detail-actions {
    text-align: center;
}