<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.project.detail.title' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <span>{{'billing.title' | translate }}</span>
            </li>
             <li>
                <a [routerLink]="['/billing/customers/']">{{'billing.customer.title' | translate }}</a>
            </li>
            <li>
                <a>{{customerName}}</a>
            </li>
            <li>
                <a (click)="goToServices()">{{'billing.service.title' | translate }}</a>
            </li>
            <li>
                <a>{{serviceName}}</a>
            </li>
            <li>
                <a (click)="goToProjects()">{{'billing.project.title' | translate }}</a>
            </li>
            <li>
                <span>{{ project?.nombre}}</span>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
            <widget-currency [label]="'billing.project.detail.incomes'" [style]="'label-success'" [value]="project?.incomes" [symbol]="getCurrencySymbol(project?.currency)"></widget-currency>
        </div>
        <div class="col-md-3">
            <widget-currency [label]="'billing.project.detail.incomesPending'" [style]="'label-warning'" [value]="incomesPending" [symbol]="getCurrencySymbol(project?.currency)"></widget-currency>
        </div>
        <div class="col-md-3">
            <widget-currency [label]="'billing.project.detail.incomesBilled'" [style]="'label-Facturado'" [value]="incomesBilled" [symbol]="getCurrencySymbol(project?.currency)"></widget-currency>
        </div>
        <div class="col-md-3">
            <widget-currency [label]="'billing.project.detail.incomesCashed'" [style]="'label-Pagado'" [value]="incomesCashed" [symbol]="getCurrencySymbol(project?.currency)"></widget-currency>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
            <spinner></spinner>

            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <h2><i class="fa fa-building"></i> {{ project?.nombre }}</h2>
                    </div>    
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <dl class="dl-vertical">
                        <dt><i class="fa fa-user"></i> {{'billing.project.grid.manager' | translate }}</dt> <dd> {{ project?.manager }} </dd>
                        <dt><i class="fa fa-file-text-o"></i> {{'billing.project.detail.purchaseOrder' | translate }} </dt> <dd> {{ project?.purchaseOrder }} </dd>
                        <dt><i class="fa fa-file-text-o"></i> {{'billing.project.detail.analytic' | translate }}</dt> <dd> {{ project?.analytic }} </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-vertical">
                        <dt><i class="fa fa-wrench"></i> {{'billing.project.detail.serviceType' | translate }}</dt> <dd>{{ project?.serviceType }}</dd>
                        <dt><i class="fa fa-wrench"></i> {{'billing.project.detail.solutionType' | translate }}</dt> <dd> {{ project?.solutionType }} </dd>
                        <dt><i class="fa fa-wrench"></i> {{'billing.project.detail.technology' | translate }}</dt> <dd> {{ project?.technologyType }} </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-vertical">
                        <dt><i class="fa fa-calendar"></i> {{'billing.project.detail.startDate' | translate }} </dt> <dd>{{ project?.startDate | date:'dd/MM/yyyy' }}</dd>
                        <dt><i class="fa fa-calendar"></i> {{'billing.project.detail.endDate' | translate }} </dt> <dd> {{ project?.endDate | date:'dd/MM/yyyy' }} </dd>
                        <dt><i class="fa fa-file-text-o"></i> {{'billing.project.detail.oportunity' | translate }} </dt> <dd> {{ project?.opportunityName }} </dd>
                    </dl>
                </div>
            </div>

            <div class="row m-t-sm">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options"> 
                                <ul class="nav nav-tabs">
                                    <li class="active" *ngIf="canSeeInvoices()"><a href="#tab-1" data-toggle="tab" aria-expanded="false">{{'billing.project.detail.invoices.title' | translate }}</a></li>
                                    <li class=""><a href="#tab-2" data-toggle="tab" aria-expanded="false">{{'billing.project.detail.milestone.title' | translate }}</a></li>
                                    <li class="" *ngIf="canSeeSolfacs()"><a href="#tab-3" data-toggle="tab" aria-expanded="true">{{'billing.project.detail.requests.title' | translate }}</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1" *ngIf="canSeeInvoices()">
                                    <table class="table table-striped" id="invoiceTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>{{'billing.project.detail.invoices.invoiceNumber' | translate }}</th>
                                                <th class="text-center">{{'billing.project.detail.invoices.date' | translate }}</th>
                                                <th class="text-center">{{'billing.project.detail.invoices.status' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let invoice of invoices" (click)="goToInvoiceDetail(invoice)" class="pointer" >
                                                <td>{{ invoice.invoiceNumber }}</td>
                                                <td class="text-center">{{ invoice.createdDate | date:'dd/MM/yyyy HH:mm' }}</td>
                                                <td class="text-center"><span class="label label-{{invoice.invoiceStatus}}">{{ invoice.invoiceStatus | translate}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="button-group" *ngIf="canCreateInvoice()">
                                        <button class="btn btn-primary" (click)="goToCreateInvoice()"> {{'billing.project.detail.invoices.create' | translate }} <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                    
                                <div class="tab-pane" id="tab-2">
                                    <table class="table table-striped" id="hitoTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>{{'billing.project.detail.milestone.description' | translate }}</th>
                                                <th>{{'billing.project.detail.milestone.amount' | translate }}</th>
                                                <th>{{'billing.project.detail.milestone.startDate' | translate }}</th>
                                                <th>{{'billing.project.detail.milestone.month' | translate }}</th>
                                                <th>{{'billing.project.detail.milestone.status' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let hito of hitos">
                                                <td class="col-lg-1">
                                                    <icheck [(checked)]="hito.included" *ngIf="hito.billed == false"></icheck>
                                                </td>
                                                <td>{{ hito.name }}</td>
                                                <td>{{ getCurrencySymbol(hito.money) }} {{ hito.ammount | number }}</td>
                                                <td>{{ hito.startDate | date:'dd/MM/yyyy' }}</td>
                                                <td>{{ hito.month }}</td>
                                                <td>
                                                    <span class="label label-{{hito.status}}">{{ hito.status | translate }}</span> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="button-group" *ngIf="generateSolfacVisible() && canCreateSolfac()">
                                        <button (click)="generateSolfac()" class="btn btn-primary btn-sm"> {{'billing.project.detail.milestone.new' | translate }} <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab-3" *ngIf="canSeeSolfacs()">
                                    <table class="table table-striped" id="solfacTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>{{'billing.project.detail.requests.project' | translate }}</th>
                                                <th>{{'billing.project.detail.requests.businessName' | translate }}</th>
                                                <th>{{'billing.project.detail.requests.docType' | translate }}</th>
                                                <th>{{'billing.project.detail.requests.date' | translate }}</th>
                                                <th>{{'billing.project.detail.requests.total' | translate }}</th>
                                                <th class="text-center">{{'billing.project.detail.requests.status' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let solfac of solfacs" (click)="goToSolfacDetail(solfac)" class="pointer">
                                                <td>{{solfac.project}}</td>
                                                <td>{{solfac.businessName}}</td>
                                                <td>{{solfac.documentTypeName}}</td>
                                                <td>{{solfac.startDate | date:'dd/MM/yyyy'}}</td>
                                                <td>{{ setCurrencySymbol(solfac.currencyId) }} {{solfac.totalAmount | number: '1.2-2' }}</td>
                                                <td class="text-center"><span class="label label-{{solfac.statusName}}">{{ solfac.statusName | translate}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer">
            <div class="text-right">
                <button class="btn btn-default" (click)="goToProjects()"><i class="fa fa-arrow-left"></i> {{'ACTIONS.back' | translate }} </button>
            </div>
        </div>
    </div>
</div>