table{
    table-layout: fixed;
    font-size: 11px;
}

th, td {
    width: 100px;
}

td{
    padding: 4px!important;
}

.label {
    display: block;
    font-size: 11px;
}

.first-column {
    width: 260px;

    p{
        width: 250px;
        float: left;
    }

    i{
        float: right;
        color: #BD3446;
    }
}

.totalBillingMonth {
    font-size: 18px;
}

.hito-description {
    width: 95%;
}

.hitos-title {
    font-size: 14px;
}

.billing-table {
    max-height: 850px;
}

.detail-actions {
    text-align: center;
}

.input-sm {
    font-size: 12px;
    padding: 2px 5px;
    height: 25px;
}

.input-billing-modal.form-control{
    margin-top: 2px;
    padding: 2px 4px;
}

.input-billing-modal {
    font-size: 11px;
    height: 30px;

    .ng-select-container{
        padding: 2px 2px;
    }
}

.input-pending-related {
    background-color: firebrick;
    color: #FFFFFF;
}

.input-blue-light {
    background-color: #23c6c8;
    color: #FFFFFF;
}

.input-ToBeBilled {
    background-color: #1c84c6;
    color: #FFFFFF;
}

.input-Proyectado, .input-Pendiente {
    background-color: #f8ac59;
    color: #FFFFFF;
}

.input-Facturado {
    background-color: #1ab394;
    color: #FFFFFF;
}

.input-Pagado {
    background-color: #7CB400;
    color: #FFFFFF;
}

.cursor-pointer {
    cursor: pointer;
}

.not-allowed{
    cursor: not-allowed;
}