table{
    table-layout: fixed;
}

th, td {
    width: 100px;
}

.label {
    display: block;
    font-size: 12px;
}

.first-column {
    width: 250px;
}

.hitos-title {
    font-size: 15px;
}

.billing-table {
    max-height: 850px;
}

.detail-actions {
    text-align: center;
}

.input-pending-related {
    background-color: firebrick;
    color: #FFFFFF;
}

.input-ToBeBilled {
    background-color: #1c84c6;
    color: #FFFFFF;
}

.input-Proyectado, .input-Pendiente {
    background-color: #f8ac59;
    color: #FFFFFF;
}

.input-Facturado {
    background-color: #1ab394;
    color: #FFFFFF;
}

.input-Pagado {
    background-color: #7CB400;
    color: #FFFFFF;
}