dt {
    margin-bottom: 10px 
}

.font-14 {
    font-size: 14px;
}

.ibox-tools {
    float: right;
}

.mt-3 {
    margin-top: 3rem;
}

.text-left {
    text-align: left;
}

.w-2 {
    min-width: 2rem;
}