<div class="row m-b-md">
    <div class="col-md-12">
        <button *ngIf="!areAllSelected()" class="btn btn-success" (click)="selectAll()"> {{ 'ACTIONS.selectAll' | translate }}  <i class="fa fa-check"></i></button>
        <button *ngIf="!areAllUnselected()" class="btn btn-warning" (click)="unselectAll()"> {{ 'ACTIONS.removeAll' | translate }}  <i class="fa fa-times"></i></button>

        <button *ngIf="!noneResourseSelected()" class="btn btn-primary" (click)="approveAll()">{{ 'ACTIONS.approveSelected' | translate }} <i class="fa fa-plus"></i></button>  
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped dataTable" role="grid" id="payment-pending">
        <thead>
            <tr>
                <th class="column-xs"></th>
                <th class="column-md">{{ 'advancement.userApplicant' | translate }}</th>
                <th class="column-sm">{{ 'advancement.type' | translate }}</th>
                <th class="column-sm">{{ 'advancement.histories.createdDate' | translate }}</th>
                <th class="column-xs">{{ 'advancement.currency' | translate }}</th>
                <th class="column-xs">{{ 'advancement.ammount' | translate }}</th>
                <th class="column-sm">{{ 'advancement.monthsReturn' | translate }}</th>
                <th class="column-md">{{ 'advancement.description' | translate }}</th>
                <th class="column-sm">{{ 'advancement.paymentForm' | translate }}</th>
                <th class="column-sm">{{ 'advancement.bank' | translate }}</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let item of model" class="pointer">
                <td class="column-xs text-center">
                    <icheck [(checked)]="item.selected"></icheck>
                </td>
                <td class="column-md text-ellipsis" (click)="goToDetail(item)">{{ item.userApplicantDesc }}</td>
                <td class="column-sm" (click)="goToDetail(item)">
                    <span *ngIf="item.type == 1">{{ 'advancement.salary' | translate }}</span>
                    <span *ngIf="item.type == 2">{{ 'advancement.viaticum' | translate }}</span>
                </td>
                <td class="column-sm" (click)="goToDetail(item)">{{ item.creationDate | date: 'dd/MM/yyyy' }}</td>
                <td class="column-xs" (click)="goToDetail(item)">{{ item.currencyDesc }}</td>
                <td class="column-xs" (click)="goToDetail(item)">{{ item.ammount | amountFormat }}</td>
                <td class="column-sm" (click)="goToDetail(item)">{{ item.monthsReturn }}</td>
                <td class="column-md text-ellipsis" title="{{ item.description }}" (click)="goToDetail(item)">{{ item.description }}</td>
                <td class="column-sm" (click)="goToDetail(item)">
                    <span *ngIf="item.paymentForm == 1">{{ 'advancement.ownBank' | translate }}</span>
                    <span *ngIf="item.paymentForm == 2">{{ 'advancement.foreignCurrency' | translate }}</span>
                </td>
                <td class="column-sm" (click)="goToDetail(item)">{{ item.bank }}</td>
            </tr>
        </tbody>
    </table>   
</div>

<h3 *ngIf="totals.length > 0">Totales</h3>

<div class="row">
    <div class="col-sm-3" *ngFor="let item of totals">
        <span>
            <strong class="font-16">{{ item.text }}:</strong>
            <span class="m-l-xs font-14">{{ item.value }}</span> 
        </span>
    </div>
</div>