
<!-- Modal -->
<div [id]="config.id" class="modal fade" role="dialog">
  <div class="modal-dialog {{size}}">

    <div class="modal-content">
 
      <!-- header-->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="closeEvent($event)" *ngIf="config.closeIcon">&times;</button>
          <h3 class="modal-title">{{config.title | translate}}</h3>
      </div>

      <!-- body-->
      <div class="modal-body">
        <!-- Modal content-->
        <ng-content></ng-content>

      </div>

      <!-- footer-->
      <div class="modal-footer">
        <btn-confirm-inline class="pull-left" #btnDelete *ngIf="config.deleteButton" [class]="'btn btn-danger'" [text]="'ACTIONS.DELETE'" (onConfirm)="deleteEvent()"></btn-confirm-inline>

        <button type="button" class="btn btn-default" (click)="closeEvent()" *ngIf="config.cancelButton" [disabled]="isProcessing">{{config.cancelButtonText | translate}}</button>
        <button type="button" class="btn btn-success" (click)="acceptEvent()" *ngIf="config.acceptButton"  [disabled]="!isSaveEnabled || isProcessing" [ladda]="isLoading" >{{config.acceptButtonText | translate}}</button>
      </div>
    </div>

  </div>
</div>