<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12">
        <h2>{{'ADMIN.GROUPS.TITLE' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['../../']">{{'ADMIN.GROUPS.TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'ACTIONS.EDIT' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{'ADMIN.GROUPS.EDIT' | translate }}</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-6">
                    <!--Description-->
                    <div class="form-group">
                        <label class="control-label">{{'ADMIN.description' | translate }}</label>
                        <input type="text" name="description" class="form-control" [(ngModel)]="module.description"> 
                    </div>

                    <!--Mail-->
                    <div class="form-group">
                        <label class="control-label">{{'ADMIN.GROUPS.mail' | translate }}</label>
                        <input type="email" name="email" class="form-control" [(ngModel)]="module.email"> 
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ 'ADMIN.GROUPS.rolAsigned' | translate }}</label>
                        <ng-select [items]="roles" bindLabel="text" bindValue="id" [(ngModel)]="module.roleId"></ng-select>
                    </div>

                    <!--CHECK ACTIVE-->
                    <div class="form-group" *ngIf="module">
                        <icheck  [(checked)]="module.active">
                            <label class="control-label icheck-label">{{'ADMIN.active' | translate }}</label> 
                        </icheck>
                    </div>
                </div>
            </div>

            <hr class="hr-line-dashed">

            <button (click)="onSubmit()" class="btn btn-primary" type="button">{{'ACTIONS.ACCEPT' | translate }}</button>
            <button (click)="goToGroups()" class="btn btn-success"><i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </button>
        </div>
    </div>
</div>

