<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'allocationManagement.resources.listTitle' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.resources.title' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.resources.grid.name' | translate }}</label>
                        <input class="form-control" placeholder="{{'allocationManagement.resources.grid.name' | translate }}" type="text" [(ngModel)]="searchModel.name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.resources.grid.senority' | translate }}</label>
                        <input class="form-control" placeholder="{{'allocationManagement.resources.grid.senority' | translate }}" type="text" [(ngModel)]="searchModel.seniority">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.resources.grid.profile' | translate }}</label>
                        <input class="form-control" placeholder="{{'allocationManagement.resources.grid.profile' | translate }}" type="text" [(ngModel)]="searchModel.profile">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.resources.grid.technology' | translate }}</label>
                        <input class="form-control" placeholder="{{'allocationManagement.resources.grid.technology' | translate }}" type="text" [(ngModel)]="searchModel.technology">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.resources.grid.percentage' | translate }}</label>
                        <input class="form-control" placeholder="{{'allocationManagement.resources.grid.percentage' | translate }}" type="number" myNumberOnly [(ngModel)]="searchModel.percentage">
                    </div>
                </div>
            </div>
        </div> 
        <div class="ibox-footer">
            <div class="text-right">
                <button class="btn btn-warning" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                <button class="btn btn-success" (click)="search()" [disabled]="searchDisable()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                <button class="btn btn-success" (click)="searchAll()"> {{ 'ACTIONS.searchAll' | translate }} <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="ibox" *ngIf="resources.length > 0"> 
        <div class="ibox-content">
            <table class="table table-striped dataTable" role="grid" id="resourcesTable">
                <thead>
                    <tr>
                        <th>{{'allocationManagement.resources.grid.name' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.senority' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.profile' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.technology' | translate }}</th>
                        <th>{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resource of resources" class="pointer">
                        <td>{{ resource.employeeNumber }} - {{ resource.name}}</td>
                        <td>{{ resource.senority}}</td>
                        <td>{{ resource.profile}}</td>
                        <td>{{ resource.technology}}</td>
                        <td>
                            <button title="{{'ACTIONS.notifyUnsubscribe' | translate }}" class="btn btn-danger btn-xs" *ngIf="canSendUnsubscribeNotification()" (click)="openModal(resource)"><i class="fa fa-user-times"></i></button>
                            <button title="{{'ACTIONS.assign' | translate }}" class="btn btn-primary btn-xs" (click)="goToAssignAnalytics(resource)"><i class="fa fa-user-plus"></i></button>
                            <button title="{{'allocationManagement.resources.profile' | translate }}" class="btn btn-success btn-xs" (click)="goToProfile(resource)" *ngIf="canViewProfile()"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>       
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmModal (accept)="sendUnsubscribeNotification()">
    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.recipient' | translate }}: </label>
        <span>{{ menuService.rrhhMail }}</span>
    </div>
    
    <div class="form-group">
        <label class="control-label"> {{'allocationManagement.resources.recipients' | translate }} </label>
        <select select2 class="form-control" id="userId" multiple>
            <option *ngFor="let user of users" [value]="user?.email">{{ user.text }} - {{ user.email}}</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.news.grid.endDate' | translate }}</label>
        <ng-datepicker [(ngModel)]="endDate" [options]="options"></ng-datepicker>
    </div>
</ng2-modal> 