<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'refund.listTitle' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'refund.title' | translate }}
            </li>
            <li class="active">
                <strong> {{'refund.search' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <refund-list-filter #gridFilter (valueChange)="getData()"></refund-list-filter>

    <refund-list-grid #finalizedGrid></refund-list-grid>
</div>