<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'allocationManagement.allocation.title' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/allocationManagement/analytics']"> {{ 'allocationManagement.analytics.title' | translate }} </a>
            </li>
            <li>
                <a> {{ analytic?.name }} </a>
            </li>
            <li class="active">
                <strong> {{ 'allocationManagement.allocation.allocations' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-5">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"> {{ 'allocationManagement.allocation.resources' | translate }} </label>
                                <select select2 class="form-control" id="employeeId">
                                    <option *ngFor="let resource of resources" [value]="resource?.id">{{resource?.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <a class="btn btn-primary pointer" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></a>
                    <a class="btn btn-success" [routerLink]="['/allocationManagement/analytics']"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </a>
                </div>
            </div>
        </div>

        <div class="col-sm-7" *ngIf="showPanelAllocation">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label"> {{ 'allocationManagement.allocation.percentage' | translate }} </label>
                                <input class="form-control" type="number" min="0" max="100" [(ngModel)]="allocationToSearch.percentage">
                            </div>
                        </div> 
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label"> {{'report.dateRange' | translate }} </label>
                                <date-range-picker [datePickerOptionRange]="datePickerOptionRange" #dateRangePicker></date-range-picker>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary pointer btn-allignment-input" (click)="assign()"> {{ 'ACTIONS.assign' | translate }} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <allocation-list #allocationList></allocation-list>
        </div>
    </div>
</div>