<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.service.title' | translate }}: {{serviceName}}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/billing/customers/']">{{'billing.customer.title' | translate }}</a>
            </li>
            <li>
                <a>{{customerName}}</a>
            </li>
            <li>
                <a (click)="goToServices()">{{'billing.service.title' | translate }}</a>
            </li>
            <li>
                <a>{{serviceName}}</a>
            </li>
            <li class="active">
                <strong>{{'billing.project.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <button class="btn btn-success btn-outline dim" (click)="back()"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </button>

    <div class="btn-right">
        <button class="btn btn-success btn-outline dim" (click)="goToResources()"> 
            {{'allocationManagement.resources.listTitle' | translate }} <i class="fa fa-users"></i> 
        </button>

        <button class="btn btn-success btn-outline dim" (click)="goToPurchaseOrders()"> 
            {{'billing.purchaseOrder.title' | translate }} <i class="fa fa-file"></i> 
        </button>

        <button class="btn btn-primary btn-outline dim" (click)="goToEditAnalytic()" *ngIf="menuService.hasFunctionality('ALLOC', 'ANEDT') && analytic?.id > 0"> 
            {{'allocationManagement.analytics.editTitle' | translate }} <i class="fa fa-save"></i> 
        </button>

        <button class="btn btn-primary btn-outline dim" (click)="goToCreateAnalytic()" *ngIf="menuService.hasFunctionality('ALLOC', 'ANADD') && analytic?.id == 0"> 
            {{'allocationManagement.analytics.new' | translate }} <i class="fa fa-plus"></i> 
        </button>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-striped" id="projectTable" width="100%">
                        <thead>
                            <tr>
                                <th>{{"billing.project.grid.name" | translate}}</th>
                                <th>{{"billing.project.grid.opportunity" | translate}}</th>
                                <th>{{"billing.project.grid.incomes" | translate}}</th>
                                <th>{{"billing.project.grid.startDate" | translate}}</th>
                                <th>{{"billing.project.grid.endDate" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects" (click)="goToProjectDetail(project)" class="pointer">
                                <td>{{project.name}}</td>
                                <td>{{ project.opportunityNumber }} - {{ project.opportunityName }}</td>
                                <td>{{ getCurrencySymbol(project.currency) }} {{project.realIncomes | number: '1.2-2' }}</td>
                                <td> {{ project.startDate | date:'dd/MM/yyyy' }} </td>
                                <td> {{ project.endDate | date:'dd/MM/yyyy' }} </td>
                            </tr>
                        </tbody>
                    </table>        
                </div>
                <div class="ibox-footer" *ngIf="canBillMultiple()">
                    <button type="button" class="btn btn-success" (click)="goToBillMultiple()"> {{"billing.project.billMultipleProjects" | translate}} </button>
                </div>
            </div>
        </div>
    </div>
</div>