<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.service.title' | translate }}: {{serviceName}}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/billing/customers/']">{{'billing.customer.title' | translate }}</a>
            </li>
            <li>
                <a>{{customerName}}</a>
            </li>
            <li>
                <a (click)="goToServices()">{{'billing.service.title' | translate }}</a>
            </li>
            <li>
                <a>{{serviceName}}</a>
            </li>
            <li class="active">
                <strong>{{'billing.project.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <button class="btn btn-success btn-sm btn-outline dim" (click)="back()"> 
        <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} 
    </button>

    <div class="btn-right">
        <button class="btn btn-success btn-sm btn-outline dim" (click)="goToManagementReport()" *ngIf="menuService.hasFunctionality('MANRE', 'VIEW-DETAIL')"> 
            Informe de Gestión <i class="fa fa-line-chart "></i> 
        </button>

        <button class="btn btn-success btn-sm btn-outline dim" (click)="goToPurchaseOrders()"> 
            {{'billing.purchaseOrder.title' | translate }} <i class="fa fa-file"></i> 
        </button>

        <button class="btn btn-primary btn-sm btn-outline dim" (click)="goToEditAnalytic()" *ngIf="menuService.hasFunctionality('CONTR', 'ANEDT') && analytic?.id > 0"> 
            {{'allocationManagement.analytics.editTitle' | translate }} <i class="fa fa-save"></i> 
        </button>

        <button class="btn btn-primary btn-sm btn-outline dim" (click)="goToCreateAnalytic()" *ngIf="menuService.hasFunctionality('CONTR', 'ANADD') && analytic?.id == 0"> 
            {{'allocationManagement.analytics.new' | translate }} <i class="fa fa-plus"></i> 
        </button>

        <button class="btn btn-sm btn-sm btn-success btn-outline dim" (click)="update()" *ngIf="menuService.hasFunctionality('SOLFA', 'PROJECT-UPDATE')">
            {{ 'allocationManagement.news.updateRrhh' | translate }} <i class="fa fa-file"></i>
        </button>

        <button class="btn btn-sm btn-sm btn-success btn-outline dim" (click)="goToResources()" *ngIf="analytic?.id > 0">
            {{ 'allocationManagement.allocation.resourcesList' | translate }} <i class="fa fa-users"></i>
        </button>
    </div>
 
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-striped" id="projectTable" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{"billing.project.grid.name" | translate}}</th>
                                <th>{{"billing.project.grid.opportunity" | translate}}</th>
                                <th>{{"billing.project.grid.incomes" | translate}}</th>
                                <th>{{"billing.project.grid.startDate" | translate}}</th>
                                <th>{{"billing.project.grid.endDate" | translate}}</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects" class="pointer">
                                <td style="width:20px" (click)="expand(project)" *ngIf="project.type == 'item'">
                                    <i [ngClass]="getIconClass(project)"></i>
                                </td>
                                <td *ngIf="project.type == 'item'"> {{project.data.name}}</td>
                                <td *ngIf="project.type == 'item'"> {{ project.data.opportunityNumber }} - {{ project.data.opportunityName }}</td>
                                <td *ngIf="project.type == 'item'"> {{ getCurrencySymbol(project.data.currency) }} {{project.data.incomes | number: '1.2-2' }}</td>
                                <td *ngIf="project.type == 'item'"> {{ project.data.startDate | date:'dd/MM/yyyy' }} </td>
                                <td *ngIf="project.type == 'item'"> {{ project.data.endDate | date:'dd/MM/yyyy' }} </td>
                                <td *ngIf="project.type == 'item'">
                                    <button type="button" class="btn btn-success btn-xs" (click)="goToProjectDetail(project.data)"><i class="fa fa-eye"></i></button>
                                </td>

                                <td colspan="5" *ngIf="project.type == 'detail' && project.show == true">
                                    <table class="table dataTable" role="grid">
                                        <thead>
                                            <tr>
                                                <th>Moneda</th>
                                                <th>Total Facturado</th>
                                                <th>Pendiente a Facturar</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            <tr *ngFor="let billing of project.data">
                                                <td>{{ billing.currency }}</td>
                                                <td>{{ billing.billed | number: '1.2-2' }} </td>
                                                <td>{{ billing.billingPending | number: '1.2-2' }} </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </td>
                            </tr>
                        </tbody>
                    </table>        
                </div>
                <div class="ibox-footer" *ngIf="canBillMultiple()">
                    <button type="button" class="btn btn-success" (click)="goToBillMultiple()"> {{"billing.project.billMultipleProjects" | translate}} </button>
                </div>
            </div>
        </div>
    </div>
</div>