<div class="wrapper wrapper-content animated fadeInUp">
    <div class="panel-group" id="accordion" [hidden]="showFilter()">
        <div class="panel panel-success">
            <div class="panel-heading pointer" (click)="collapse()">
                <h5 class="panel-title">
                    {{'allocationManagement.resources.search' | translate }}
                    <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'allocationManagement.analytics.title' | translate }}</label>
                                <select id="analyticsControl" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group" [hidden]="!showUser()">
                                <label class="control-label">{{'allocationManagement.workTimeApproval.delegate.approver' | translate }}</label>
                                <select id="userApprovalControl" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'allocationManagement.workTimeApproval.delegate.approver' | translate }}</label>
                        <select id="userControl" class="form-control" [disabled]="!showSelectApprovers()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" [hidden]="!showGrid()">
        <div class="ibox-title">
            <div class="ibox-tools">
                <div class="btn-group">
                    <button [disabled]="!showSave()" (click)="save()" class="btn btn-primary btn-sm" type="button">{{'ACTIONS.save' | translate }} <i class="fa fa-save"></i> </button>
                    <button [disabled]="!deleteAllEnable()" class="btn btn-danger btn-sm" (click)="confirmModal2.show()" > Eliminar Seleccionados <i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
            <spinner></spinner>
            <table class="table table-striped dataTable" role="grid" id="resourcesTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{'allocationManagement.workTimeApproval.delegate.employee' | translate }}</th>
                        <th>{{'allocationManagement.analytics.title' | translate }}</th>
                        <th>{{'allocationManagement.workTimeApproval.delegate.manager' | translate }}</th>
                        <th>{{'allocationManagement.workTimeApproval.delegate.approver' | translate }}</th>
                        <th width="25">{{'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td class="column-xs text-center" width="20">
                            <pcheck [(checked)]="item.checked" *ngIf="item.analyticId != null">
                            </pcheck>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.analytic }}</td>
                        <td>{{ item.manager }}</td>
                        <td>{{ item.approvalName }}</td>
                        <td>
                            <button *ngIf="item.analyticId != null" class="btn btn-xs btn-danger" (click)="showConfirmDelete(item)" [disabled]="!showDelete(item)">
                                <span class="fa-trash fa"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>                        
        </div>
    </div>
</div>

<ng2-modal [config]="modalConfig" #confirmModal (accept)="processDelete()">
    <h4>{{ 'allocationManagement.workTimeApproval.delegate.deleteConfirm' | translate }}</h4>
</ng2-modal>

<ng2-modal [config]="modalConfig2" #confirmModal2 (accept)="processDeleteAll()">
    <h4>{{ 'allocationManagement.workTimeApproval.delegate.deleteConfirm' | translate }}</h4>
</ng2-modal>
