table {
    table-layout: fixed;
    width: max-content;
    font-size: 11px;
    padding-bottom: 10px;
  }
  
  th,
  td {
    width: 100px;
  }
  
  td {
    padding: 4px !important;
  }
  
  .first-column {
    width: 170px;

    p{
      width: 150px;
      float: left;
  }

  i{
      float: right;
      color: #BD3446;
  }
  }
  
  .label {
    display: block;
    font-size: 11px;
    min-height: 17px;
    min-height: 25px;
    padding-top: 7px;
  }
  
  .label-total {
    //background-color: #f8ac59;
    //border-color: #1a7bb9;
    background-color: #23c6c8;
    color: #ffffff;
  }
  
  .label-success {
    background-color: #39e1bf;
    color: #ffffff;
  }
  
  .label-salary {
    // background-color: #dbf9e3;
    // color: #5E5E5E;
    background-color: #23c6c8;
    color: #ffffff;
  }
  
  .label-budget {
    background-color: #b3ffd9;
    color: #5E5E5E;
  }

  .label-real {
    //background-color: #23c6c8;
    background-color: #f8ac59;
    color: #ffffff;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .label-danger{
    background-color: #f2dede;
    color: #5E5E5E;
  }
  
  .label-yellow{   
    background-color: #ffeeba;
    color: #5E5E5E;
  }

  .label-load {
    // background-color: #b3ffd9;
    // color: #5E5E5E;
    background-color: #23c6c8;
    color: #ffffff;
  }
  
  .not-allowed{
    cursor: not-allowed;
  }

  .delete {
    padding-top: 6px;
  }
  
.input-xs {
    height: 26px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

  .static {
    position: absolute;
    background-color: white;
  }
  
  .first-col {
     padding-left: 186px!important;

  }

  .btn.btn-xs.btn-default.active{
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #ffffff
  }

.input-billing-modal.ng-select {
    font-size: 11px;

    .ng-select-container{
        padding: 2px 2px;
    }
}

.showHideColumn{
  height: 37px;
  cursor: pointer;
  .fa{
    color: #5E5E5E !important; 
  }
}

fieldset .col-sm-12{
  padding-left: 0px;
  padding-right: 0px;
}