<refund-list-filter #gridFilter controlId="{{ controlId }}" [inWorkflowProcess]="inWorkflowProcess" (valueChange)="getData()"></refund-list-filter>

<div class="ibox">
    <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
        <spinner></spinner>

        <table class="table table-striped dataTable" role="grid" id="{{ 'gridTable-'+ controlId }}" >
            <thead>
                <tr>
                    <th class="column-sm"># {{ 'refund.refundName' | translate }}</th>
                    <th class="column-sm">{{ 'refund.applicationDate' | translate }}</th>
                    <th class="column-lg">{{ 'refund.userApplicant' | translate }}</th>
                    <th class="column-sm">{{ 'refund.superior' | translate }}</th>
                    <th class="column-sm">{{ 'refund.currency' | translate }}</th>
                    <th class="column-sm">{{ 'refund.advancementSum' | translate }}</th>
                    <th class="column-sm">{{ 'refund.itemTotal' | translate }}</th>
                    <th class="column-sm">{{ 'refund.companyRefund' | translate }}</th>
                    <th class="column-sm">{{ 'refund.userRefund' | translate }}</th>
                    <th class="column-sm" *ngIf="inWorkflowProcess">{{ 'refund.status' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data" class="pointer" (click)="goToDetail(item.id)">
                    <td class="column-sm">{{ item.id }}</td>
                    <td class="column-sm">{{ item.creationDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="column-lg text-ellipsis">{{ item.userApplicantName }}</td>
                    <td>{{ item.managerName }}</td>
                    <td>{{ item.currencyName }}</td>
                    <td>{{ item.advancementSum }}</td>
                    <td>{{ item.refundItemTotal }}</td>
                    <td>{{ item.companyRefund }}</td>
                    <td>{{ item.userRefund }}</td>
                    <td *ngIf="inWorkflowProcess">
                        <label class="label font-9" [ngClass]="getStatusClass(item.workflowStatusType)">{{ item.statusName }}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
