<!-- <refund-list-filter #gridFilter controlId="{{ controlId }}" [inWorkflowProcess]="inWorkflowProcess" (valueChange)="getData()"></refund-list-filter> -->

<div class="ibox">
    <div class="ibox-content" [ngClass]="(loading)?'sk-loading':''">
        <spinner></spinner>

        <div class="alert alert-gaps-info" id="alert-select-params" *ngIf="selectParamsVisible">
            <i class="fa fa-info-circle"></i>
            {{ 'refund.needParameters' | translate }}
        </div>

        <div class="table-responsive" *ngIf="!selectParamsVisible">
            <table class="table table-striped dataTable" role="grid" id="{{ 'gridTable-'+ controlId }}" >
                <thead>
                    <tr>
                        <th class="column-sm"># {{ 'refund.refundName' | translate }}</th>
                        <th class="column-lg">{{ 'refund.status' | translate }}</th>
                        <th class="column-lg">{{ 'refund.userApplicant' | translate }}</th>
                        <th class="column-sm">{{ 'refund.currency' | translate }}</th>
                        <th class="column-sm">{{ 'refund.itemTotal' | translate }}</th>
                        <th class="column-sm">{{ 'refund.applicationDate' | translate }}</th>
                        <th class="column-sm">{{ 'refund.bank' | translate }}</th>
                        <th class="column-sm">Gerente Analítica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data" class="pointer" (click)="goToDetail(item.id)">
                        <td class="column-sm">{{ item.id }}</td>
                        <td class="column-lg text-ellipsis">
                            <label class="label font-9" [ngClass]="getStatusClass(item.workflowStatusType)">{{ item.statusName }}</label>
                        </td>
                        <td class="column-lg text-ellipsis">{{ item.userApplicantName }}</td>
                        <td>{{ item.currencyName }}</td>
                        <td>{{ item.refundItemTotal | amountFormat }}</td>
                        <td class="column-sm">{{ item.creationDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.bank }}</td>
                        <td>{{ item.managerName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
