<div class="panel-group" id="accordion">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse' + controlId}}"
                    (click)="changeIcon()" style="display: block">
                    <span>{{'refund.searchParameters' | translate }}</span>
                    <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
                </a>
            </h5>
        </div>
        <div id="{{ 'collapse' + controlId}}" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'refund.userApplicant' | translate }}</label>
                            <ng-select [items]="resources" bindLabel="text" bindValue="id" [(ngModel)]="resourceId">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{ 'refund.dateSince' | translate }}</label>
                            <date-picker [(date)]="dateSince"></date-picker>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{ 'refund.dateTo' | translate }}</label>
                            <date-picker [(date)]="dateTo"></date-picker>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" *ngIf="inWorkflowProcess">
                        <div class="form-group">
                            <label class="control-label">{{ 'refund.status' | translate }}</label>
                            <ng-select [items]="states" bindLabel="text" bindValue="id" [(ngModel)]="stateId">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{'advancement.bank' | translate }}</label>
                            <ng-select [items]="banks" bindLabel="name" bindValue="name" [(ngModel)]="bankId">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn-warning btn-sm" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i
                            class="fa fa-refresh"></i></button>
                    <button class="btn btn-success btn-sm" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i
                            class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>