<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> Solicitud Adelanto </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                Adelantos
            </li>
            <li class="active">
                <strong> Solicitud </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="ibox">
                <div class="ibox-content">
                    <advancement-form #form [mode]="'salary'"></advancement-form>
                </div>
                <div class="ibox-footer">
                    <button [disabled]="!form.canSave()" (click)="add()" class="btn btn-primary" type="button">{{'ACTIONS.save' | translate }} <i class="fa fa-save"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>
