<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header" style="display: inline-flex">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>

    <ul class="nav navbar-top-links navbar-right">

      <!-- LANGUAGE -->
      <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ capitalize(configService.currLang)}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let lang of configService.tr.getLangs()" ><a (click)="selectLanguage(lang)">{{capitalize(lang) }}</a></li>
          </ul>
      </li>  -->

      <!--USER-->
      <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-user-circle-o text-success"></i> 
            <span>{{ menuService.currentUser }}</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a (click)="goToProfile()"> <i class="fa fa-user"></i>  {{'ACTIONS.viewProfile' | translate }} </a>
            </li>
            <li>
                <a (click)="logout()"> <i class="fa fa-sign-out fa-fw"></i> {{'HOME.logout' | translate }} </a>
            </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
