<section id="admin_roleEdit">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Roles</h2>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/']">Home</a>
                </li>
                <li>
                    <a>Admin</a>
                </li>
                <li>
                    <a [routerLink]="['../../']">Roles</a>
                </li>
                <li class="active">
                    <strong>Editar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Editar Rol</h5>

                        <div class="ibox-tools" >
                            <a [routerLink]="['../../']"><i class="fa fa-close"></i></a>
                        </div>

                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">

                            <!--Description-->
                            <div class="form-group"><label class="col-lg-2 control-label">Description</label>
                                <div class="col-lg-10">
                                <input type="text"  
                                    name="description"
                                    class="form-control" 
                                    [(ngModel)]="role.description"
                                    #descripRef="ngModel"
                                    required> 
                                <div class="help-block m-b-none text-danger" [style.visibility]="(!formRef._submitted || !descripRef?.errors?.required) ? 'hidden' : 'visible' ">Description is required</div>

                                </div>
                            </div>

                            <div class="form-group" *ngIf="role" style="margin-top:-20px; margin-bottom:20px;">
                                <div class="col-lg-12">
                                    <icheck  [(checked)]="role.active"> <!--(click)="onActiveClick($event)"-->
                                        <label class="col-lg-2 control-label icheck-label">Active</label> 
                                    </icheck>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-2">
                                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Aceptar</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!--MODULES-->
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> Módulos
                        <a class="pull-right" [hidden]="role.modules && role.modules.length == allModules.length" (click)="addModule()"><i class="fa fa-plus icon-white"></i></a>
                    </div> 
                    <div class="panel-body">
                        <div class="scroll">
                            <div class="dd">
                                <ol class="dd-list">
                                    <li *ngFor="let m of role.modules" class="dd-item">
                                        <div class="dd-handle">
                                            {{m.description}}
                                    
                                            <a class="pull-right" (click)="openConfirmModel(m.id)"><i class="check-link fa fa-times icon-danger margin-left-s"></i></a>
                                            <a class="pull-right" [hidden]="m.functionalities && m.functionalities.length == allFunctionalities.length" (click)="addFunctionality(m.id, m.description)"><i class="fa fa-plus"></i></a>
                                        </div>
                                        
                                        <ol class="dd-list">
                                            <li *ngFor="let f of m.functionalities" class="dd-item">
                                                <div class="dd-handle">
                                                    {{f.description}}
                                                     <a class="pull-right" (click)="openConfirmFunctModel(m.id, f.id)"><i class="check-link fa fa-times icon-danger margin-left-s"></i></a>
                                                </div>
                                               
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--GRUPOS-->
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> Grupos
                    </div>
                    <div class="panel-body">
                        <ul class="todo-list m-t small-list">
                            <li *ngFor="let group of role.groups">
                                <span [routerLink]="['/admin/groups/edit', group.id]" class="m-l-xs pointer">{{group.description}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div> 

    <ng2-modal [config]="moduleModalConfig" #moduleModal (accept)="assignModules()">

        <h4 class="margin-bottom-m">Seleccione los modulos a ser asginados al rol</h4>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="scroll form-group">
                    <div *ngFor="let m of modulesToAdd; let i = index"  style="margin-top:10px;">
                        <icheck  [checkAtLeft]="checkAtLeft" [(checked)]="m.included" >
                            <label style="padding-left:20px;">{{m.text}}</label> 
                        </icheck>
                    </div>
                </div>
            </div>
        </div>
    </ng2-modal>
</section>

<ng2-modal [config]="functModalConfig" #functModal (accept)="assignFunctionalities()">
    <h4 class="margin-bottom-m">Seleccion de funcionalidades a agrear al modulo: {{moduleSelected}}</h4>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="scroll form-group">
                <div *ngFor="let f of functionalitiesToAdd; let i = index"  style="margin-top:10px;">
                    <icheck  [checkAtLeft]="checkAtLeft" [(checked)]="f.included" >
                        <label style="padding-left:20px;">{{f.text}}</label> 
                    </icheck>
                </div>
            </div>
        </div>
    </div>
</ng2-modal>

<ng2-modal [config]="confirmModalConfig"  #confirmModal (accept)="unAssignModule(moduleId)">
    ¿Esta seguro que desea eliminar el modulo?
</ng2-modal>

<ng2-modal [config]="confirmFunctModalConfig"  #functConfirmModal (accept)="unAssignFunct()">
    ¿Esta seguro que desea eliminar la funcionalidad?
</ng2-modal>