dt {
    margin-bottom: 10px 
}

.solfacStatus{
    font-size: 14px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

.column-quantity {
    width: 45px;
    max-width: 45px;
}

.column-price {
    width: 135px;
    max-width: 135px;
}

.dd-handle {
    cursor: default;
} 

.pre-clear {
    padding: 0px;
    border: none;
    margin: 0px;
}