<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> Nuevo Postulante </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                Reclutamiento
            </li>
            <li class="active">
                <strong> Nuevo Postulante </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <button (click)="back()" class="btn btn-success" type="button"> <i class="fa fa-times"></i> Cancelar </button>
    <button [disabled]="!form.valid" (click)="add()" class="btn btn-primary" type="button">{{'ACTIONS.save' | translate }} <i class="fa fa-save"></i> </button>

    <div class="row m-t-md">
        <div class="col-md-10 col-md-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'lastName')">
                                    <label class="control-label">Apellido</label>
                                    <input type="text" class="form-control" formControlName="lastName" maxlength="75">
                        
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'lastName')">
                                        <p *ngIf="formsService.hasError(form, 'lastName', 'required')">El campo es requerido</p>
                                        <p *ngIf="formsService.hasError(form, 'lastName', 'maxlength')">El apellido no puede superar los 75 caracteres</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'firstName')">
                                    <label class="control-label">Nombres</label>
                                    <input type="text" class="form-control" formControlName="firstName" maxlength="75">
                        
                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'firstName')">
                                        <p *ngIf="formsService.hasError(form, 'firstName', 'required')">El campo es requerido</p>
                                        <p *ngIf="formsService.hasError(form, 'firstName', 'maxlength')">Los nombres no pueden superar los 75 caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Conocimientos </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="skillOptions" bindValue="id" bindLabel="text" formControlName="skills"></ng-select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Perfiles </label>
                                    <ng-select [multiple]="true" [closeOnSelect]="false" [items]="profileOptions" bindValue="id" bindLabel="text" formControlName="profiles"></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Cliente </label>
                                    <ng-select [items]="customerOptions" bindValue="id" bindLabel="text" formControlName="clientId"></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'countryCode1')">
                                    <label class="control-label">Código pais</label>
                                    <input type="number" class="form-control" formControlName="countryCode1" min="0" max="99" placeholder="54">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'countryCode1')">
                                        <p *ngIf="formsService.hasError(form, 'countryCode1', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'countryCode1', 'max')">El codigo no puede contener mas de 2 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'areaCode1')">
                                    <label class="control-label">Código area</label>
                                    <input type="number" class="form-control" formControlName="areaCode1" min="0" max="999" placeholder="11">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'areaCode1')">
                                        <p *ngIf="formsService.hasError(form, 'areaCode1', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'areaCode1', 'max')">El codigo no puede contener mas de 3 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'telephone1')">
                                    <label class="control-label">Teléfono 1</label>
                                    <input type="text" class="form-control" formControlName="telephone1" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'telephone1')">
                                        <p *ngIf="formsService.hasError(form, 'telephone1', 'maxlength')">El telefono no puede superar los 100 caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'countryCode2')">
                                    <label class="control-label">Código pais</label>
                                    <input type="number" class="form-control" formControlName="countryCode2" min="0" max="99" placeholder="54">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'countryCode2')">
                                        <p *ngIf="formsService.hasError(form, 'countryCode2', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'countryCode2', 'max')">El codigo no puede contener mas de 2 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'areaCode2')">
                                    <label class="control-label">Código area</label>
                                    <input type="number" class="form-control" formControlName="areaCode2" min="0" max="999" placeholder="11">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'areaCode2')">
                                        <p *ngIf="formsService.hasError(form, 'areaCode2', 'min')">El codigo no puede ser menor a 0</p>
                                        <p *ngIf="formsService.hasError(form, 'areaCode2', 'max')">El codigo no puede contener mas de 3 caracteres</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="formsService.getClassProperty(form, 'telephone2')">
                                    <label class="control-label">Teléfono 2</label>
                                    <input type="text" class="form-control" formControlName="telephone2" maxlength="100">

                                    <div class="form-control-feedback" *ngIf="formsService.hasErrors(form, 'telephone2')">
                                        <p *ngIf="formsService.hasError(form, 'telephone2', 'maxlength')">El telefono no puede superar los 100 caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Correo electronico</label>
                                    <input type="text" class="form-control" formControlName="email" maxlength="75">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label class="control-label"> Recomendado por </label>
                                    <ng-select [items]="userOptions" bindValue="id" bindLabel="text" formControlName="recommendedByUserId"></ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Comentarios</label>
                            <textarea rows="6" class="form-control" formControlName="comments" maxlength="3000"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>