<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.solfac.search' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'billing.solfac.solfacs' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{"billing.solfac.list" | translate}}</h5>

                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Razón Social</th>
                                <th>Tipo Doc.</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solfac of solfacs">
                                <td>{{solfac.project}}</td>
                                <td>{{solfac.businessName}}</td>
                                <td>{{solfac.documentTypeName}}</td>
                                <td>{{solfac.startDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{solfac.totalAmount | currency : "ARS"}}</td>
                                <td><span class="label label-warning">{{ solfac.statusName | translate}}</span></td>
                            </tr>
                            <tr *ngIf="solfacs == null || solfacs.length == 0">
                                <td colspan="7" class="text-center">No hay resultados</td>
                            </tr>
                        </tbody>
                    </table>        
                </div>
            </div>
        </div>
    </div>
</div>

