<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'workTimeManagement.workTime.title' | translate }}</h2>
        <ol class="breadcrumb no-print">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>{{'workTimeManagement.title' | translate }}</li>
            <li class="active">
                <strong>{{'workTimeManagement.workTime.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
    
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="modalConfig" #confirmModal>
    <h4>{{ 'allocationManagement.workTimeApproval.delegate.deleteConfirm' | translate }}</h4>
</ng2-modal>
