dt {
    float: left;
    clear: left;
    width: 180px;
    text-align: left;
    font-weight: normal;
    padding: 10px;
    margin-right: 10px;

    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    border-right:1px solid white;
}

dd {
    padding-top:10px;
    padding-right: 20px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom:5px;
    font-weight: bold;
    text-align: right;
}

.task-panel-head {
    background-color: #0e9aef;
    color: white;
}

.task-item-row {
    margin-left: 1px;
    margin-bottom: 2px;
    display: table;
    width: 100%;
}

.task-item {
    display: table-cell;
    width:250px;
}

.task-item-close {
    display: table-cell;
    width: 20px;
    padding-top:5px;
}

.task-item-drag {
    color:whitesmoke; 
    margin-right:2px;
    padding:2px;
}

:host ::ng-deep .eventTask  {
    cursor: default;
}

:host ::ng-deep .bootstrap-touchspin .btn-primary {
    background-color: #efefef;
    border-color: #efefef;
    color: dimgrey;
}

.ibox-task-title {
    border-style: none!important;
}
.bg-license {
    background-color: #AFAFAF;
    color: white;
}

.ibox-no-shadow {
    box-shadow: none;
    transition: unset;
}

.ibox-resume {
    padding: 10px 10px 0px 10px!important;
}

.external-event {
    display: inline-table;
    width: 100%;
}

.ibox-tasks {
    padding: 10px 10px 15px 10px!important;
    max-height: 240px;
}

.scroll-tasks {
    overflow: auto;
    max-height: 220px;
}

.analytic-task-title  {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #e7eaec;
    border-radius: 3px;
    box-sizing: border-box;
}

.config-tasks {
    position: fixed;
    top: 90px;
    right: 0;
    overflow: hidden;
}

.taskPreloaded {
    background: black;
    color: white;
}

.task-preload {
    background: bottom;
    padding-top: 10px;
    margin-bottom: -5px;
}

.task-preload-title {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.hours-detail {
    dt {
        width: 75%;
    }
}

.bg-cadetblue{ 
    background: cadetblue;
    color: white;
}