.input-xs {
    height: 26px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.label-number {
    display: block;
    padding: 3px;
    font-size: 12px;
    border: 1px solid #e5e6e7;
    background-color: white;
    border-radius: 3px;
    padding-right: 10px;
}