<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2> Proveedores </h2>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/']"> Inicio </a></li>
      <li><a> Abastecimiento y Proveedores </a></li>
      <li class="active"><strong> Búsqueda </strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label"> Estado </label>
            <ng-select [(ngModel)]="selectedStates" [multiple]="false" [searchable]="false" [clearable]="false">
              <ng-option [value]="0"> Todos </ng-option>
              <ng-option [value]="1"> Activo </ng-option>
              <ng-option [value]="2"> Inactivo </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label"> Razón Social </label>
            <input type="text" class="form-control" [(ngModel)]="businessName" />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label"> Rubro </label>
            <ng-select [items]="areas$" bindLabel="description" bindValue="id" [(ngModel)]="selectedAreas"
              [multiple]="true" [placeholder]="areas$.length ? '' : 'No se han podido cargar las áreas'">
            </ng-select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label"> Crítico </label>
            <ng-select [(ngModel)]="selectedCritical" [multiple]="false" [searchable]="false" [clearable]="false">
              <ng-option [value]="0"> Todos </ng-option>
              <ng-option [value]="1"> Si </ng-option>
              <ng-option [value]="2"> No </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel-footer">
          <button class="btn btn-success pull-left" routerLink="./add"> Nueva <i class="fa fa-plus"></i></button>

          <div class="text-right">
            <button class="btn btn-warning" (click)="clear()">
              {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-success" (click)="search()">
              {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ibox">
    <div class="ibox-content">
      <div class="panel-body table-responsive">
        <table class="table table-striped dataTable" role="grid" id="dataTable">
          <thead>
            <tr>
              <th> Id </th>
              <th> Razón social </th>
              <th> Rubro </th>
              <th> CUIT </th>
              <th> Ing. Brutos </th>
              <th> Condición IVA </th>
              <th class="column-sm text-center">{{ 'ACTIONS.title' | translate }}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item.id }} </td>
              <td>{{ item.name }} </td>
              <td>
                <div *ngIf="areas$.length; else dataAreas">
                  <div *ngIf="item.providerArea; else itemNoProviderArea">
                    <div *ngFor="let area of item.providerArea">
                      - {{ area }}.
                    </div>
                  </div>
                  <ng-template #itemNoProviderArea>
                    Sin rubro.
                  </ng-template>
                </div>
                <ng-template #dataAreas>
                  No se han podido cargar las áreas.
                </ng-template>
              </td>
              <td>{{ item.cuit }}</td>
              <td>{{ item.ingresosBrutos }}</td>
              <td>{{ item.condicionIVA }}</td>
              <td class="column-sm text-center">
                <button title="ver" class="btn btn-primary btn-xs" (click)="view(item.id)">
                  <i class="fa fa-eye"></i>
                </button>
                <button title="editar" class="btn btn-warning btn-xs" (click)="edit(item.id)">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>