dd {
    margin-bottom: 12px;
}

.op-dt{
    margin-bottom: 4px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.month-header {
    display: flex;
    margin-bottom: 10px;

    h3 {
        margin-left: 10px;
    }
}

.action-buttons {
    button {
        float: right;
    }
    margin-bottom: 20px;
}

.label-black{
    background: black;
    color: white;
    margin-left: 10px;
    padding: 5px;
    line-height: normal;
    font-size: 13px;
}

tfoot {
    font-size: 13px;
    border-bottom: 1px solid #e7eaec;
}


.history-comments {
    background-color: #F8EFFF;
    padding: 10px;
    border-radius: 10px;
}

.history-comments:not(:last-child) {
    margin-bottom: 5px;
}

pre {
    border: 0px!important;
    border-radius: 0px!important;
    padding: 0px!important;
    margin-top: 5px;
    margin-bottom: 0px!important;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
    white-space: pre-line;
}

.comment-date {
    margin-left: 10px;
}