<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.solfac.title' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'billing.solfac.title' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-content">
            <!-- Datos CRM -->
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Datos del Contrato</legend>
                        <dl class="dl-horizontal">
                            <dt>Razón Social:</dt><dd>{{model.businessName}}</dd>
                            <dt>Contacto del Cliente: </dt><dd>{{model.clientName}}</dd>
                            <dt>Teléfono: </dt><dd>{{model.celphone}}</dd>
                            <dt>Solicitante: </dt><dd>{{model.userApplicantName}}</dd>
                        </dl>
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Datos del Documento</legend>
                        <dl class="dl-horizontal">
                            <dt>Estado: </dt><dd><span class="label label-warning">{{model.statusName}}</span></dd>
                            <dt>Nº de Contrato: </dt><dd>{{model.contractNumber}}</dd>
                            <dt>Proyecto: </dt><dd>{{model.project}}</dd>
                        </dl>
                    </fieldset>
                </div>
            </div>
        
            <div class="row">
                <!-- Numero de imputacion-->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">N° de imputación</label>
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" name="imputationNumber1" [(ngModel)]="model.imputationNumber1" class="form-control"> 
                            </div>
                            <div class="col-lg-4">
                                <input type="text" name="imputationNumber2" [(ngModel)]="model.imputationNumber2" class="form-control"> 
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control m-b" [(ngModel)]="model.imputationNumber3">
                                    <option *ngFor="let impNumber of imputationNumbers" [value]="impNumber?.value">{{impNumber?.text}}</option>
                                </select>
                            </div> 
                        </div>
                    </div>
                </div>

                <!-- Plazo -->
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Plazo</label>
                        <input type="number" class="form-control" [(ngModel)]="model.timeLimit">
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Tipo de documento -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Tipo de documento</label>
                        <select class="form-control m-b" [(ngModel)]="model.documentTypeId" (ngModelChange)="changeDocumentType()">
                            <option *ngFor="let docType of documentTypes" [value]="docType?.value">{{docType?.text}}</option>
                        </select>
                    </div>
                </div>

                <!-- Moneda -->
                <div class="col-lg-2">
                    <label class="control-label">Moneda</label>
                    <select class="form-control" [(ngModel)]="model.currencyId" (ngModelChange)="setCurrencySymbol(model.currencyId)">
                        <option *ngFor="let currency of currencies" [value]="currency?.value">{{currency?.text}}</option>
                    </select>
                </div>
            </div>

            <!-- Detalle de hitos -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#hitosDetails" aria-expanded="false" class="collapsed">
                        <h4 class="panel-title text-white">
                            <i class="fa fa-plus"></i>
                            Detalle
                        </h4>
                    </a>
                </div>
                <div id="hitosDetails" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table invoice-table">
                                <thead>
                                <tr>
                                    <th>Detalle</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of model.hitos">
                                        <td class="col-lg-8"><input type="text" class="form-control" [(ngModel)]="detail.description"></td>
                                        <td class="col-lg-1">
                                            <input type="text" class="form-control" [(ngModel)]="detail.quantity" (ngModelChange)="calculateTotal(detail)">
                                        </td>
                                        <td class="col-lg-1">
                                            <input type="text" class="form-control" [(ngModel)]="detail.unitPrice" (ngModelChange)="calculateTotal(detail)">
                                        </td>
                                        <td class="col-lg-1">{{ detail.total | number: '1.2-2' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <table class="table invoice-total">
                            <tbody>
                            <tr>
                                <td><strong>Importe Bruto :</strong></td>
                                <td>{{ currencySymbol }} {{ model.amount | number }}</td>
                            </tr>
                            <tr>
                                <td><strong>I.V.A. 21% :</strong></td>
                                <td>{{ currencySymbol }} {{ model.iva21 | number }}</td>
                            </tr>
                            <tr>
                                <td><strong>Importe Total :</strong></td>
                                <td>{{ currencySymbol }} {{ model.totalAmount | number }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Info Impositiva -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#impositiveInfo" aria-expanded="false" class="collapsed">
                        <h5 class="panel-title text-white">
                            <i class="fa fa-plus"></i>
                            Información Impositiva. Servicios prestados en:
                        </h5>
                    </a>
                </div>
                <div id="impositiveInfo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">

                        <!-- Capital -->
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="control-label">Capital %:</label>
                                <div class="input-group m-b">
                                    <input type="number" class="form-control" min="0" [(ngModel)]="model.capitalPercentage"> 
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>

                        <!-- Buenos Aires -->
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="control-label">Provincia de Bs. As. %: </label>
                                <div class="input-group m-b">
                                    <input type="number" class="form-control" min="0" [(ngModel)]="model.buenosAiresPercentage"> 
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>

                        <!-- Otras -->
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="control-label">Otras Provincias %:  </label>
                                <div class="input-group m-b">
                                    <input type="number" class="form-control" min="0" [(ngModel)]="model.otherProvince1Percentage"> 
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Provincia</label>
                                    <select class="form-control m-b" [(ngModel)]="model.province1Id">
                                        <option *ngFor="let province of provinces" [value]="province?.value">{{province?.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Otras -->
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="control-label">Otras Provincias %:  </label>
                                <div class="input-group m-b">
                                    <input type="number" class="form-control" min="0" [(ngModel)]="model.otherProvince2Percentage"> 
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Provincia</label>
                                    <select class="form-control m-b" [(ngModel)]="model.province2Id">
                                        <option *ngFor="let province of provinces" [value]="province?.value">{{province?.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Otras -->
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="control-label">Otras Provincias %:  </label>
                                <div class="input-group m-b">
                                    <input type="number" class="form-control" min="0" [(ngModel)]="model.otherProvince3Percentage"> 
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Provincia</label>
                                    <select class="form-control m-b" [(ngModel)]="model.province3Id">
                                        <option *ngFor="let province of provinces" [value]="province?.value">{{province?.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Piezas adjuntas y instrucciones particulares -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label">Piezas Adjuntas:</label>
                        <textarea class="form-control" name="attachedBoxes" rows="5" [(ngModel)]="model.attachedParts"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label">Instrucciones Particulares:</label>
                        <textarea class="form-control" name="particularSteps" rows="5" [(ngModel)]="model.particularSteps"></textarea>
                    </div>
                </div>
            </div>

    
        </div>
        <div class="ibox-footer">
            <div class="text-right">
                <button class="btn btn-danger" (click)="cancel()"><i class="fa fa-times"></i> Cancelar </button>
                <button class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Guardar </button>
            </div>
        </div>
    </div>
</div>