<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'rrhh.licenses' | translate }} </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li> {{'rrhh.title' | translate }} </li>
            <li class="active"><strong> {{'rrhh.licenses' | translate }} </strong></li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-right">
                <button class="btn btn-sm btn-success btn-outline dim" (click)="goToAdd()"> {{ 'rrhh.license.load' | translate }} <i class="fa fa-plus"></i></button>
                <button class="btn btn-sm btn-success btn-outline dim" (click)="reportModal.show()"> {{ 'rrhh.license.report' | translate }} <i class="fa fa-file"></i></button>
            </div>
        </div>
    </div>

    <div class="tabs-container m-b-md">
        <ul class="nav nav-tabs">
            <li class="active"><a class="tab-link-success" data-toggle="tab" href="#tab-1"> {{'rrhh.license.pending' | translate }} </a></li>
            <li class=""><a class="tab-link-warning" data-toggle="tab" href="#tab-2"> {{'rrhh.license.authPending' | translate }} </a></li>
            <li class=""><a class="tab-link-primary" data-toggle="tab" href="#tab-3"> {{'rrhh.license.approved' | translate }} </a></li>
        </ul>

        <div class="tab-content">

            <div id="tab-1" class="tab-pane active">
                <div class="panel-body tab-success">
                    <license-list-widget [statusId]="pending" [label]="'rrhh.license.pending'"></license-list-widget>
                </div>
            </div>

            <div id="tab-2" class="tab-pane">
                <div class="panel-body tab-warning">

                    <license-list-widget [statusId]="authPending" [label]="'rrhh.license.authPending'"></license-list-widget>
                </div>
            </div>

            <div id="tab-3" class="tab-pane">
                <div class="panel-body tab-primary">
                    <div class="row">
                        <div class="col-sm-4"> 
                            <div class="form-group">
                                <label class="control-label"> {{'rrhh.license.employee' | translate }} </label>
                                <ng-select [items]="resources" bindLabel="name" bindValue="id" [(ngModel)]="employeeId"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4"> 
                            <div class="form-group">
                                <label class="control-label">{{ 'rrhh.license.reason' | translate }}</label>
                                <ng-select [items]="licensesTypes" bindLabel="text" bindValue="id" [(ngModel)]="licensesTypeId"></ng-select>
                            </div>
                        </div>
        
                        <div class="col-sm-4 m-t-md">
                            <button class="btn btn-warning btn-sm" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                            <button class="btn btn-success btn-sm" (click)="newSearch()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Fecha Desde</label>
                                <date-picker class="active tab-txt-border" [(date)]="dateSince"> </date-picker>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Fecha Hasta</label>
                                <date-picker [(date)]="date-picker"></date-picker>
                            </div>
                        </div>
                    </div>

                    <div class="m-t-md">
                        <div class="table-responsive">
                        <table class="table table-striped" id="licenseStatusApproved" width="100%">
                            <thead>
                                <tr>
                                    <th class="column-lg"> {{ 'rrhh.license.employee' | translate }} </th>
                                    <th class="column-lg"> {{ 'rrhh.license.manager' | translate }} </th>
                                    <th class="column-lg"> {{ 'rrhh.license.authorizer' | translate }} </th>
                                    <th class="column-lg"> {{ 'rrhh.license.reason' | translate }} </th>
                                    <th class="column-lg"> {{ 'rrhh.license.creation' | translate }} </th>
                                    <th class="column-sm"> {{ 'rrhh.license.start' | translate }} </th>
                                    <th class="column-sm"> {{ 'rrhh.license.end' | translate }} </th>
                                    <th class="column-sm text-center"> {{ 'rrhh.license.days' | translate }} </th>
                                    <th class="column-sm text-center"> {{ 'rrhh.license.workDays' | translate }} </th>
                                    <th class="column-xs text-center"> {{ 'rrhh.license.goce' | translate }} </th>
                                    <th class="column-xs text-center"> {{ 'rrhh.license.status' | translate }} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data" class="pointer" (click)="goToDetail(item)">
                                    <td class="column-lg"> {{ item.employeeName }} </td>
                                    <td class="column-lg"> {{ item.managerName }} </td>
                                    <td class="column-lg"> {{ item.authorizerName }} </td>
                                    <td class="column-lg"> {{ item.licenseTypeName }} </td>
                                    <td class="column-sm"> {{ item.creationDate | date: 'dd/MM/yyyy' }} </td>
                                    <td class="column-sm"> {{ item.startDate | date: 'dd/MM/yyyy' }} </td>
                                    <td class="column-sm"> {{ item.endDate | date: 'dd/MM/yyyy' }} </td>
                                    <td class="column-sm text-center"> {{ item.days }} </td>
                                    <td class="column-sm text-center"> {{ item.workDays }} </td>
                                    <td class="column-xs text-center"> <span class="fa" [ngClass]="(item.withPayment) ? 'fa-check text-success' : 'fa-close text-danger'"></span> </td>
                                    <td class="column-sm text-ellipsis"> <label class="label label-license-{{item.status}} font-9">{{ item.status | translate }}</label>  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="reportModalConfig" #reportModal (accept)="createReport()">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{'rrhh.license.startDate' | translate }}</label>
                <date-picker [(date)]="startDate"></date-picker>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">{{'rrhh.license.endDate' | translate }}</label>
                <date-picker [(date)]="endDate"></date-picker>
            </div>
        </div>
    </div>
</ng2-modal> 