<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{'rrhh.licenses' | translate }} </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li> {{'rrhh.title' | translate }} </li>
            <li class="active"><strong> {{'rrhh.licenses' | translate }} </strong></li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <license-list-widget [statusId]="pending" [label]="'rrhh.license.pending'" [color]="'success'"></license-list-widget>
    <license-list-widget [statusId]="authPending" [label]="'rrhh.license.authPending'" [color]="'warning'"></license-list-widget>

    <div class="panel panel-primary">
        <div class="panel-heading">
            {{'rrhh.license.approved' | translate }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label"> {{'rrhh.license.employee' | translate }} </label>
                        <select select2 class="form-control" id="employeeId">
                            <option value="0">Seleccione una opción</option>
                            <option *ngFor="let resource of resources" [value]="resource?.id">{{ resource?.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label"> {{'rrhh.license.reason' | translate }} </label>
                        <select select2 class="form-control" id="licensesTypeId">
                            <option value="0">Seleccione una opción</option>
                            <option *ngFor="let licensesType of licensesTypes" [value]="licensesType?.id">{{ licensesType?.text }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4 m-t-md">
                    <button class="btn btn-warning btn-sm" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                    <button class="btn btn-success btn-sm" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="m-t-md" *ngIf="data.length > 0">
                <table class="table table-striped" id="licenseStatusApproved" width="100%">
                    <thead>
                        <tr>
                            <th class="column-lg"> {{ 'rrhh.license.employee' | translate }} </th>
                            <th class="column-lg"> {{ 'rrhh.license.manager' | translate }} </th>
                            <th class="column-lg"> {{ 'rrhh.license.type' | translate }} </th>
                            <th class="column-sm"> {{ 'rrhh.license.start' | translate }} </th>
                            <th class="column-sm"> {{ 'rrhh.license.end' | translate }} </th>
                            <th class="column-sm text-center"> {{ 'rrhh.license.days' | translate }} </th>
                            <th class="column-xs text-center"> {{ 'rrhh.license.goce' | translate }} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data" class="pointer">
                            <td class="column-lg"> {{ item.employeeName }} </td>
                            <td class="column-lg"> {{ item.managerName }} </td>
                            <td class="column-lg"> {{ item.licenseTypeName }} </td>
                            <td class="column-sm"> {{ item.startDate | date: 'dd/MM/yyyy' }} </td>
                            <td class="column-sm"> {{ item.endDate | date: 'dd/MM/yyyy' }} </td>
                            <td class="column-sm text-center"> {{ item.days }} </td>
                            <td class="column-xs text-center"> <span class="fa" [ngClass]="(item.withPayment) ? 'fa-check text-success' : 'fa-close text-danger'"></span> </td>
                        </tr>
                    </tbody>
                </table>   
            </div> 
        </div>
    </div>
</div>

<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon" (click)="toggleNavigation()">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-settings">
            <div class="title">{{'ACTIONS.title' | translate }}</div>
            <div class="setings-item bg-success">
                <span class="skin-name">
                    <a [routerLink]="['/allocationManagement/licenses/add']">
                        {{ 'rrhh.license.load' | translate }}
                        <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
            <div class="setings-item bg-primary">
                <span class="skin-name">
                    <a [routerLink]="['/allocationManagement/licenses/add']">
                        {{ 'rrhh.license.report' | translate }}
                        <i class="fa fa-file"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>