<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.solfac.search' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'billing.solfac.solfacs' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" *ngIf="filterByDates">
                        <label class="control-label">{{'billing.solfac.dateSince' | translate }}</label>
                        <ng-datepicker [(ngModel)]="dateSince" [options]="dateOptions"></ng-datepicker>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" *ngIf="filterByDates">
                        <label class="control-label">{{'billing.solfac.dateTo' | translate }}</label>
                        <ng-datepicker [(ngModel)]="dateTo" [options]="dateOptions"></ng-datepicker>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <icheck  [(checked)]="filterByDates">
                            <label class="control-label">{{'filterByDates' | translate }}</label> 
                        </icheck>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="client">{{'billing.solfac.client' | translate }}</label>
                        <select class="form-control m-b" [(ngModel)]="customerId" (ngModelChange)="customerChange()">
                            <option value="0">{{'selectAnOption' | translate }}</option>
                            <option *ngFor="let customer of customers" [value]="customer?.value">{{customer?.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="service">{{'billing.solfac.service' | translate }}</label>
                        <select class="form-control m-b" [(ngModel)]="serviceId" (ngModelChange)="serviceChange()">
                            <option value="0">{{'selectAnOption' | translate }}</option>
                            <option *ngFor="let service of services" [value]="service?.value">{{service?.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="quantity">{{'billing.solfac.project' | translate }}</label>
                        <select class="form-control m-b" [(ngModel)]="projectId">
                            <option value="0">{{'selectAnOption' | translate }}</option>
                            <option *ngFor="let project of projects" [value]="project?.value">{{project?.text}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="analytic">{{'billing.solfac.analytic' | translate }}</label>
                        <input class="form-control" name="analytic" placeholder="Analítica" type="text" [(ngModel)]="analytic">
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="showUserApplicantFilter()">
                    <div class="form-group">
                        <label class="control-label" for="quantity">{{'billing.project.grid.manager' | translate }}</label>
                        <select class="form-control m-b" [(ngModel)]="userApplicantId">
                            <option value="0">{{'selectAnOption' | translate }}</option>
                            <option *ngFor="let userApplicant of userApplicants" [value]="userApplicant?.value">{{userApplicant?.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="status">{{'billing.solfac.status' | translate }}</label>
                        <select class="form-control m-b" [(ngModel)]="status">
                            <option value="0">{{'selectAnOption' | translate }}</option>
                            <option *ngFor="let status of statuses" [value]="status?.value">{{ status?.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox-footer">
            <div class="text-right">
                <button class="btn btn-success" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                <button class="btn btn-success" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="data != null">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{"billing.solfac.list" | translate}}</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped dataTable" role="grid" id="solfacsTable">
                        <thead>
                            <tr>
                                <th>{{'billing.solfac.businessName' | translate }}</th>
                                <th>{{'billing.solfac.project' | translate }}</th>
                                <th>{{'billing.project.grid.manager' | translate }}</th>
                                <th>{{'billing.solfac.documentType' | translate }}</th>
                                <th>{{'billing.solfac.date' | translate }}</th>
                                <th>{{'billing.solfac.milestone.total' | translate }}</th>
                                <th class="text-center">{{'billing.solfac.status' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solfac of data" (click)="goToDetail(solfac)" class="pointer">
                                <td>{{ solfac.businessName}}</td>
                                <td>{{ solfac.project}}</td>
                                <td>{{ solfac.manager}}</td>
                                <td>{{ solfac.documentTypeName}}</td>
                                <td>{{ solfac.startDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{ setCurrencySymbol(solfac.currencyId) }} {{solfac.totalAmount | number: '1.2-2' }}</td>
                                <td class="text-center"><span class="label label-{{solfac.statusName}}">{{ solfac.statusName | translate}}</span></td>
                            </tr>
                        </tbody>
                    </table>       
                </div>
            </div>
        </div>
    </div>
</div>

