<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{'billing.solfac.search' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'billing.title' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{'billing.solfac.solfacs' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content"> 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" *ngIf="filterByDates">
                        <label class="control-label">{{'billing.solfac.dateSince' | translate }}</label>
                        <date-picker [(date)]="dateSince"></date-picker>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" *ngIf="filterByDates">
                        <label class="control-label">{{'billing.solfac.dateTo' | translate }}</label>
                        <date-picker [(date)]="dateTo"></date-picker>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <icheck  [(checked)]="filterByDates">
                            <label class="control-label">{{'filterByDates' | translate }}</label> 
                        </icheck>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'billing.solfac.client' | translate }}</label>
                        <ng-select [items]="customers" bindLabel="text" bindValue="id" [(ngModel)]="customerId" (change)="customerChange()"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'billing.solfac.service' | translate }}</label>
                        <ng-select [items]="services" bindLabel="text" bindValue="id" [(ngModel)]="serviceId" (change)="serviceChange()"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'billing.solfac.project' | translate }}</label>
                        <ng-select [items]="projects" bindLabel="text" bindValue="id" [(ngModel)]="projectId"></ng-select>
                    </div>
                </div>
            </div>

            <div class="row"> 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'billing.solfac.analytic' | translate }}</label>
                        <ng-select [items]="analytics" bindLabel="text" bindValue="id" [(ngModel)]="analytic"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="showUserApplicantFilter()">
                    <div class="form-group">
                        <label class="control-label">{{ 'billing.project.grid.manager' | translate }}</label>
                        <ng-select [items]="userApplicants" bindLabel="text" bindValue="id" [(ngModel)]="userApplicantId"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{ 'billing.solfac.status' | translate }}</label>
                        <ng-select [(ngModel)]="status">
                            <ng-option *ngFor="let item of statuses" [value]="item.id">{{ item.text | translate }}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox-footer">
            <div class="text-right">
                <button class="btn btn-warning btn-sm" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
                <button class="btn btn-success btn-sm" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="data != null">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{"billing.solfac.list" | translate}}</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped dataTable" role="grid" id="solfacsTable">
                        <thead>
                            <tr>
                                <th>{{'billing.solfac.businessName' | translate }}</th>
                                <th class="column-md">{{'billing.solfac.project' | translate }}</th>
                                <th>Analitica</th>
                                <th>{{'billing.project.grid.manager' | translate }}</th>
                                <th>{{'billing.solfac.documentType' | translate }}</th>
                                <th>{{'billing.solfac.date' | translate }}</th>
                                <th>{{'billing.solfac.currency' | translate }}</th>
                                <th>{{'billing.solfac.amount' | translate }}</th> 
                                <th>Factura</th> 
                                <th class="column-sm">{{'billing.solfac.status' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solfac of data" (click)="goToDetail(solfac)" (dblclick)="goToDetailInNewTab(solfac)" class="pointer">
                                <td>{{ solfac.businessName}}</td>
                                <td class="column-md text-ellipsis" title="{{ solfac.project}}"> <span *ngIf="solfac.projectQuantity > 1" class="badge badge-primary"> <i class="fa fa-plus"></i> </span> {{ solfac.project}}</td>
                                <td>{{ solfac.analytic}}</td>
                                <td>{{ solfac.manager}}</td>
                                <td>{{ solfac.documentTypeName}}</td>
                                <td>{{ solfac.startDate | date:'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{ setCurrencySymbol(solfac.currencyId) }}</td>
                                <td>{{solfac.totalAmount | number: '1.2-2' }}</td>
                                <td>{{solfac.invoiceCode }}</td>
                                <td class="text-ellipsis column-sm"><span class="label label-{{solfac.statusName}}">{{ solfac.statusName | translate}}</span></td>
                            </tr>
                        </tbody>
                    </table>       
                </div>
            </div>
        </div>
    </div>
</div>

