<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2> Postulantes </h2>

    <ol class="breadcrumb">
      <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
      <li>{{'recruitment.title' | translate }}</li>
      <li class="active"><strong> Postulantes </strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel-group" id="accordion">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="changeIcon()"
            style="display: block">
            <span>{{'ACTIONS.search' | translate }}</span>
            <i id="search-icon" class="fa fa-caret-up fa-2x pull-right" style="line-height: 0.7"></i>
          </a>
        </h5>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Nombre</label>
                <input class="form-control" type="text" [(ngModel)]="searchModel.firstName">
              </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label">Apellido</label>
                  <input class="form-control" type="text" [(ngModel)]="searchModel.lastName">
                </div>
              </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Cliente</label>
                <ng-select [items]="customerOptions" bindLabel="text" bindValue="id" [(ngModel)]="searchModel.clientCrmId">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Perfiles</label>
                <ng-select [items]="profileOptions" bindLabel="text" bindValue="id" [(ngModel)]="searchModel.profiles" [multiple]="true">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Conocimientos</label>
                <ng-select [items]="skillOptions" bindLabel="text" bindValue="id" [(ngModel)]="searchModel.skills" [multiple]="true">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success pull-left" *ngIf="canAdd()" (click)="goToNew()"> Nuevo <i class="fa fa-plus"></i></button>

          <div class="text-right">
            <button class="btn btn-warning" (click)="clean()"> {{ 'ACTIONS.clean' | translate }} <i class="fa fa-refresh"></i></button>
            <button class="btn btn-success" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ibox" *ngIf="list.length > 0">
    <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-striped dataTable" role="grid" id="searchTable">
          <thead>
            <tr>
              <th>Apellido</th>
              <th>Nombres</th>
              <th>Mail</th>
              <th>Cliente</th>
              <th>Conocimientos</th>
              <th>Perfiles</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list" (click)="goToDetail(item.id)" class="pointer">
              <td class="column-lg text-ellipsis">{{ item.lastName }}</td>
              <td class="column-lg text-ellipsis">{{ item.firstName }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.client }}</td>
              <td>{{ item.skills }}</td>
              <td>{{ item.profiles }}</td>
              <td>{{ getStatusDesc(item.status) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>