<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ analytic?.title }} - {{ analytic?.name }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'allocationManagement.title' | translate }}
            </li>
            <li>
                <a [routerLink]="['/contracts/analytics']"> {{ 'allocationManagement.analytics.title' | translate }} </a>
            </li>
            <li class="active">
                <strong> {{ 'allocationManagement.allocation.assignResources' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="wrapper wrapper-content animated fadeInRight">
 
    <div class="row">
        <div class="col-md-12">
            <resource-timeline #resourceTimeline></resource-timeline>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> {{ 'allocationManagement.allocation.resources' | translate }} </label>
                                <select select2 class="form-control" id="employeeId">
                                    <option *ngFor="let resource of resources" [value]="resource?.id">{{ resource?.text }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="pmoUser">
                            <div class="form-group">
                                <label class="control-label">{{'billing.solfac.dateSince' | translate }}</label>
                                <date-picker [(date)]="dateSince"></date-picker>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label"> {{ 'allocationManagement.allocation.monthQuantity' | translate }} </label>
                                <input type="number" myNumberOnly class="form-control input-sm" min="1" max="36" [(ngModel)]="monthQuantity">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <a class="btn btn-primary pointer" (click)="search()"> {{ 'ACTIONS.search' | translate }} <i class="fa fa-search"></i></a>
                    <a class="btn btn-success" [routerLink]="['/contracts/analytics']"> <i class="fa fa-arrow-left"></i> {{ 'ACTIONS.back' | translate }} </a>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" *ngIf="allocations.model && allocations.model?.licenses.length > 0">
        <ul>
            <li *ngFor="let license of allocations.model?.licenses">
                {{ 'allocationManagement.allocation.resourceWithLicense' | translate }} {{ license.licenseTypeName }} {{ 'allocationManagement.allocation.betweenDays' | translate }} {{ license.startDate | date: 'dd/MM/yyyy' }} {{ 'allocationManagement.allocation.and' | translate }} {{ license.endDate | date: 'dd/MM/yyyy' }}
            </li>
        </ul>
    </div>

    <allocation-assignment-table [resourceId]="resourceId" [analytic]="analytic" [monthQuantity]="monthQuantity" #allocations (reloadTimeline)="getTimeline(analytic.id)"></allocation-assignment-table> 
</div> 