<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2><i class="fa fa-user text-green"></i> {{ resource?.employeeNumber }} - {{ resource?.name }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
                </li>
                <li>
                    {{'allocationManagement.title' | translate }}
                </li>
                <li>
                    <a [routerLink]="['/allocationManagement/resources']"> {{ 'allocationManagement.resources.title' | translate }} </a>
                </li>
                <li class="active">
                    <strong> {{ 'allocationManagement.allocation.assignAnalytic' | translate }} </strong>
                </li>
            </ol>
        </div>
    </div>
 
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label"> {{ 'allocationManagement.analytics.title' | translate }} </label>
                            <select select2 class="form-control" id="analyticId">
                                <option *ngFor="let analytic of analytics" [value]="analytic?.id">{{analytic?.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pointer btn-sm m-t-md btn-width-100" (click)="add()"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus" ></i></a>
                    </div>
                    <div class="col-md-2 border-left" *ngIf="pmoUser">
                        <div class="form-group">
                            <label class="control-label">{{'billing.solfac.dateSince' | translate }}</label>
                            <date-picker [(date)]="dateSince"></date-picker>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label"> {{ 'allocationManagement.allocation.monthQuantity' | translate }} </label>
                            <input type="number" myNumberOnly min="1" max="36" class="form-control input-sm" [(ngModel)]="monthQuantity">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm m-b-sm btn-width-100" (click)="search()"> {{ 'ACTIONS.changeDates' | translate }} <i class="fa fa-refresh" ></i></button>
                        <button class="btn btn-success btn-sm btn-width-100" *ngIf="!comments" (click)="addComment()"> Comentario Asig. <i class="fa fa-plus" ></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-warning" *ngIf="allocations.model && allocations.model?.licenses.length > 0">
            <ul>
                <li *ngFor="let license of allocations.model?.licenses">
                    {{ 'allocationManagement.allocation.resourceWithLicense' | translate }} {{ license.licenseTypeName }} {{ 'allocationManagement.allocation.betweenDays' | translate }} {{ license.startDate | date: 'dd/MM/yyyy' }} {{ 'allocationManagement.allocation.and' | translate }} {{ license.endDate | date: 'dd/MM/yyyy' }}
                </li>
            </ul>
        </div>

        <div class="alert alert-info" *ngIf="commentsVisible">
            <h3>Comentario de asignación</h3>

            <div class="row">
                <div class="col-md-10">

                    <div class="form-group">
                        <textarea rows="5" class="form-control" maxlength="1000" [(ngModel)]="comments"></textarea>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm m-b-sm" (click)="editComments()">Actualizar <i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" *ngIf="comments" (click)="deleteComment()">Eliminar <i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>

        <allocation-assignment-table [resourceId]="resourceId" [monthQuantity]="monthQuantity" #allocations></allocation-assignment-table> 
    </div>
    