/* You can add global styles to this file, and also import other style files */
/*
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'custom-bootstrap-sass/assets/stylesheets/bootstrap/variables.scss';


$font-color: #777;

html, body{
    font-family: Roboto;
    background-color: $navbar-default-link-active-bg;
}

div.container-xs{
    background-color: #fff;
}

.container-xs .header{
    margin:10px 0px;
    padding: 10px;
    background-color: #ea696d;//darken($navbar-default-link-active-bg, 25%);
    font-size:2.3rem;
    color:#f7ecec;//#fff;
    border-radius: 4px;
    //font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.container-xs {
  width:95%;
  margin: auto;
  padding:4px 10px;
  border-radius: 4px;
}

.active{
    border-radius: 2px;
}

ul.dropdown-menu{
    border-radius: 4px !important;
    
}

ul.dropdown-menu li{
    
}

ul.dropdown-menu li a{
    //color: $font-color;
    padding:10px 20px;
    margin:0px;
}
*/

@import "assets/styles/style";