<div class="row">
    <div class="col-lg-4 col-sm-5" *ngIf="canUploadFiles()">
        <h3>{{'billing.solfac.import' | translate }}</h3>

        <input #selectedFile type="file" ng2FileSelect [uploader]="uploader" />

        <div class="uploader-margin-top">
            <label *ngIf="uploader.getNotUploadedItems().length">{{'billing.invoice.progress' | translate }}:</label>
            <div class="progress" *ngIf="uploader.getNotUploadedItems().length">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>

            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length || files.length >= 5">
                <span class="glyphicon glyphicon-upload"></span> {{'billing.invoice.import' | translate }}
            </button>
            
            <button type="button" class="btn btn-danger btn-s" (click)="clearSelectedFile()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-times"></span> {{'billing.invoice.quit' | translate }}
            </button>
        </div>
    </div>

    <div class="col-lg-8 col-sm-7">
        <div class="row attachments-scroll">
            <div class="col-lg-4 col-sm-6 col" *ngFor="let file of files; let i = index">
                <div class="file-box">
                    <div class="file">
                        <a (click)="exportExcel(file)">
                            <div class="icon"><i class="fa fa-file"></i></div>
                            <div class="file-name">
                                {{ file.name }}
                                <br>
                                <small>{{'billing.invoice.createdAt' | translate }}: {{ file.creationDate | date: 'dd/MM/yyyy HH:mm' }}</small>
                            </div>
                        </a>
                        <div *ngIf="status != 'Invoiced' && status != 'AmountCashed'" class="file-name remove-file text-center pointer" (click)="showConfirm(file.id, i)">
                            {{ 'ACTIONS.DELETE' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmDeleteFileModal (accept)="deleteFile()">
    <h4>{{ 'ACTIONS.confirmBody' | translate }}</h4>
</ng2-modal>