.uploader-margin-top{
    margin-top: 10px;
}

.attachments-scroll{
    max-height: 500px;
    overflow: auto;
}

.remove-file {
    background-color: #ea394c;
    color: #FFFFFF;
    width: 50%;
}

.export-file {
    background-color: #1872ab;
    color: #FFFFFF;
    width: 50%;
} 

.file-buttons{
    display: -webkit-box;
}

.pdf-file{
    cursor: pointer;
    color: #337ab7;
}

.btn-invoice-add{
    margin-top: 22px;
    margin-left: 25px;
}