.uploader-margin-top{
    margin-top: 10px;
}

.export-file {
    background-color: #1872ab;
    color: #FFFFFF;
    width: 50%;
} 

.file-buttons{
    display: -webkit-box;
}

.remove-file {
    background-color: #ea394c;
    color: #FFFFFF;
    width: 50%;
}

.pdf-file{
    cursor: pointer;
    color: #337ab7;
}
