/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.panel-filter {
  border-color: #d3d3d3;
  border-style: none;
}

.panel-filter > .panel-heading {
  background-color: #e4e4e4;
  border-color: #e6e6e6;
  border-style: none;
  color: #4e4e4e;
}
