table{
    table-layout: fixed;
}

.column-xs {
    width: 80px!important;
}

.column-lg {
    width: 200px!important;
}

.column-md {
    width: 140px!important;
}
.column-sm {
    width: 110px!important;
}