<?xml version="1.0"?>
<log4net>
  
<root>
  <appender-ref ref="FileAppender" />
  <appender-ref ref="SmtpAppender" />
  <level value="WARN" />
  <logger name="Hangfire">
    <level value="WARN" />
  </logger>
  <logger name="NHibernate">
    <level value="ERROR" />
  </logger>
  <logger name="NHibernate.SQL">
    <level value="ERROR" />
  </logger>
</root>

<appender name="FileAppender" type="log4net.Appender.RollingFileAppender" >
  <file value="..\..\LogFiles\Sofco.WebApi.log" />
  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  <encoding value="utf-8" />
  <appendToFile value="true" />
  <rollingStyle value="Date" />
  <maximumFileSize value="5MB" />
  <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value=" %date %-5level %logger %message%newline" />
  </layout>
</appender>

<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
  <to value="sgonzalez@sofredigital.com.ar" />
  <from value="sofco@sofredigital.com.ar" />
  <subject value="WebApi Error logging message - Dev" />
  <smtpHost value="sofsmtp.sofrecom.local" />
  <port value="25"/>
  <authentication value="Basic" />
  <username value="sofco@sofredigital.com.ar"/>
  <password value=""/>
  <EnableSsl value="false" />
  <bufferSize value="512" />
  <lossy value="true" />
  <evaluator type="log4net.Core.LevelEvaluator">
    <threshold value="ERROR"/>
  </evaluator>
  <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
  </layout>
</appender>

</log4net>
