<!-- <select-two id="customer-select" *ngIf="!isReadOnly" [label]="'billing.solfac.client'" [(value)]="model.clientExternalId" [options]="customers" (valueChange)="getAnalytics()"></select-two> -->

<div class="form-group">
    <label class="control-label"> {{'billing.solfac.client' | translate }} </label>
    <ng-select [disabled]="isReadOnly" [items]="customers" bindValue="id" bindLabel="text" [(ngModel)]="model.clientExternalId" (change)="customerChanged()"></ng-select>
</div>

<!-- <div class="form-group" *ngIf="isReadOnly">
    <label class="control-label"> {{'billing.solfac.client' | translate }} </label>
    <input type="text" disabled class="form-control" [(ngModel)]="model.clientExternalName">
</div> -->

<div class="form-group">
    <label class="control-label"> {{'billing.purchaseOrder.fields.analytic' | translate }} </label>

    <ng-select [items]="analytics" [multiple]="true" [closeOnSelect]="false" bindValue="id" bindLabel="text" [(ngModel)]="model.analyticIds" (close)="searchOpportunities()"></ng-select>

    <!-- <select select2 class="form-control" id="analytics" multiple>
        <option *ngFor="let analytic of analytics" [value]="analytic?.id">{{ analytic.text }}</option>
    </select> -->
</div>

<div class="form-group">
    <label class="control-label"> {{'billing.purchaseOrder.fields.proposal' | translate }} </label>
    <ng-select [items]="opportunities" [multiple]="true" [closeOnSelect]="false" bindValue="id" bindLabel="text" [(ngModel)]="model.proposalIds"></ng-select>

    <!-- <select select2 class="form-control" id="opportunity-select" multiple>
        <option *ngFor="let opportunity of opportunities" [value]="opportunity?.id">{{ opportunity.text }}</option>
    </select> -->
</div>

<div class="form-group">
    <label class="control-label">{{'billing.purchaseOrder.fields.title' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="model.title">
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.number' | translate }}</label>
            <input type="text" maxlength="150" class="form-control" [(ngModel)]="model.number">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.receptionDate' | translate }}</label>
            <date-picker [(date)]="model.receptionDate"></date-picker>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.startDate' | translate }}</label>
            <date-picker [(date)]="model.startDate"></date-picker>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.endDate' | translate }}</label>
            <date-picker [(date)]="model.endDate"></date-picker>
        </div>
    </div>
</div>

<label class="control-label">{{'billing.purchaseOrder.fields.currency' | translate }} - {{'billing.purchaseOrder.fields.ammount' | translate }}</label>
<div class="row" *ngFor="let item of model?.ammountDetails">
    <div class="col-sm-12">
        <div class="input-group m-b">
            <span class="input-group-addon addon-width">{{ item.currencyDescription }}</span> 

            <input [disabled]="!item.enable" type="number" class="form-control" decimalFormat min="1" max="99999999" step=".01" [(ngModel)]="item.ammount">

            <span *ngIf="!item.enable" class="input-group-addon pointer bg-primary" (click)="item.enable = !item.enable"><i class="fa fa-check"></i></span> 
            <span *ngIf="item.enable" class="input-group-addon pointer bg-danger" (click)="item.enable = !item.enable"><i class="fa fa-times"></i></span> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.margin' | translate }}</label>
            <input type="number" decimalFormat class="form-control" [(ngModel)]="model.margin">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.area' | translate }}</label>
            <ng-select [items]="areas" bindValue="id" bindLabel="text" [(ngModel)]="model.areaId"></ng-select>
        </div>

        <!-- <select-two id="area-select" [label]="'billing.purchaseOrder.fields.area'" [(value)]="model.areaId" [options]="areas"></select-two> -->
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.ficheDeSignature' | translate }}</label>
            <input type="text" maxlength="200" class="form-control" [(ngModel)]="model.ficheDeSignature">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.paymentForm' | translate }}</label>
            <input type="text" maxlength="200" class="form-control" [(ngModel)]="model.paymentForm">
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label">{{'billing.purchaseOrder.fields.description' | translate }}</label>
    <textarea id="description" class="form-control" maxlength="2000" rows="6" [(ngModel)]="model.description"></textarea>
</div>

<div class="form-group">
    <label class="control-label">{{'billing.purchaseOrder.fields.comments' | translate }}</label>
    <textarea id="comments" class="form-control" maxlength="2000" rows="6" [(ngModel)]="model.comments"></textarea>
</div>