<div class="form-group">
    <label class="control-label">{{'billing.purchaseOrder.fields.title' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="model.title">
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.number' | translate }}</label>
            <input type="text" class="form-control" [(ngModel)]="model.number">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.receptionDate' | translate }}</label>
            <date-picker [(date)]="model.receptionDate"></date-picker>
        </div>
    </div>
</div>

<select-two [label]="'billing.solfac.client'" [(value)]="model.clientExternalId" [options]="customers" (valueChange)="getAnalytics()"></select-two>

<select-two [label]="'allocationManagement.analytics.title'" [(value)]="model.analyticId" [options]="analytics" (valueChange)="analyticChange()"></select-two>

<select-two [label]="'billing.solfac.project'" [(value)]="model.projectId" [options]="projects"></select-two>

<select-two [label]="'allocationManagement.analytics.add.commercialManager'" [(value)]="model.commercialManagerId" [options]="options?.sellers"></select-two>

<select-two [label]="'allocationManagement.analytics.add.manager'" [(value)]="model.managerId" [options]="options?.managers"></select-two>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">{{'billing.purchaseOrder.fields.year' | translate }}</label>
            <input type="number" min="2015" max="2099" class="form-control" [(ngModel)]="model.year">
        </div>
    </div>
    <div class="col-sm-6">
        <p><strong>{{'billing.purchaseOrder.fields.area' | translate }}</strong></p>

        <div class="radio radio-info radio-inline">
            <input type="radio" id="area" value="Comercial" name="area" checked="" [(ngModel)]="model.area">
            <label for="area"> Comercial </label>
        </div>
        <div class="radio radio-inline radio-info">
            <input type="radio" id="area2" value="Compañia" name="area" [(ngModel)]="model.area">
            <label for="area2"> Compañia </label>
        </div>
    </div>
</div>



