<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Nota de Pedido </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li> Proveedores </li>
            <li><a [routerLink]="['/providers/notes']">Notas de Pedido</a></li>
            <li class="active"><strong> Nota de pedido </strong></li>
        </ol>
    </div>
</div>

<div *ngIf="false">
    <input type="number" [(ngModel)]="estado">
    <button (click)="setEstado()">Mock estado</button>
</div>

<div *ngIf="showEdit">
    <notes-draft [currentNote]="currentNote" *ngIf="estadoSeleccionado == currentEnviroment.NP_BORRADOR"></notes-draft>

    <notes-pending-approval-management-analytic [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="estadoSeleccionado == currentEnviroment.NP_PEND_APRO_GER_AN"></notes-pending-approval-management-analytic>

    <notes-pending-purchase-approval [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="estadoSeleccionado == currentEnviroment.NP_PEND_APRO_COMP"></notes-pending-purchase-approval>

    <notes-pending-daf-approval [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="estadoSeleccionado == currentEnviroment.NP_PEND_APRO_DAF"></notes-pending-daf-approval>

    <notes-pending-sap [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="estadoSeleccionado == currentEnviroment.NP_PEND_GEN_SAP"></notes-pending-sap>

    <notes-pending-merch-reception [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="estadoSeleccionado == currentEnviroment.NP_PEND_RECEP_MERC"></notes-pending-merch-reception>

    <notes-partial-reception [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="estadoSeleccionado == currentEnviroment.NP_RECEP_PARCIAL"></notes-partial-reception>

    <div *ngIf="estadoSeleccionado == currentEnviroment.NP_CERRADA || estadoSeleccionado == currentEnviroment.NP_RECHAZADA"> <!--cerrada-->
        <notes-pending-approval-management-analytic [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="lastStatusId == currentEnviroment.NP_PEND_APRO_GER_AN"></notes-pending-approval-management-analytic>

        <notes-pending-purchase-approval [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="lastStatusId == currentEnviroment.NP_PEND_APRO_COMP"></notes-pending-purchase-approval>

        <notes-pending-daf-approval [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="lastStatusId == currentEnviroment.NP_PEND_APRO_DAF"></notes-pending-daf-approval>

        <notes-pending-sap [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="lastStatusId == currentEnviroment.NP_PEND_GEN_SAP"></notes-pending-sap>

        <notes-pending-merch-reception [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="lastStatusId == currentEnviroment.NP_PEND_RECEP_MERC"></notes-pending-merch-reception>

        <notes-partial-reception [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" [closed]="closed" [rejected]="rejected" *ngIf="lastStatusId == currentEnviroment.NP_RECEP_PARCIAL"></notes-partial-reception>
    </div>
    <!---------->
    
    <!-- <notes-pending-supply-approval [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription" *ngIf="estadoSeleccionado == 4"></notes-pending-supply-approval> -->
    <div *ngIf="false">
        <notes-pending-supply-revision [currentNote]="currentNote"
            [currentNoteStatusDescription]="currentNoteStatusDescription"
            *ngIf="estadoSeleccionado == 198"></notes-pending-supply-revision>
    
        <notes-purchasing-sector [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription"
            *ngIf="estadoSeleccionado == 103"></notes-purchasing-sector>
    
        <notes-approved [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription"
            *ngIf="estadoSeleccionado == 106"></notes-approved>
    
        <notes-requested-provider [currentNote]="currentNote" [currentNoteStatusDescription]="currentNoteStatusDescription"
            *ngIf="estadoSeleccionado == 107"></notes-requested-provider>
    
        <notes-received-conformable [currentNote]="currentNote"
            [currentNoteStatusDescription]="currentNoteStatusDescription"
            *ngIf="estadoSeleccionado == 108"></notes-received-conformable>
    
        <notes-pending-management-bill-approval [currentNote]="currentNote"
            [currentNoteStatusDescription]="currentNoteStatusDescription"
            *ngIf="estadoSeleccionado == 109"></notes-pending-management-bill-approval>
    
        <notes-pending-gaf-processing [currentNote]="currentNote"
            [currentNoteStatusDescription]="currentNoteStatusDescription"
            *ngIf="estadoSeleccionado == 110"></notes-pending-gaf-processing>
    </div>
</div>

<div class="ibox" *ngIf="histories.length > 0">
    <div class="ibox-content">
        <table class="table table-striped" id="historyTable" width="100%">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">{{'advancement.updateDate' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.userName' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.statusFrom' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.statusTo' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.comment' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of histories; let i = index" class="pointer">
                    <td class="text-center col-lg-1">{{i+1}}</td>
                    <td class="text-center col-lg-2">{{ history.createdDate | requestNoteDatePipe}}</td>
                    <td class="text-center col-lg-2">{{ history.userName }}</td>
                    <td class="text-center"><span class="label">{{ history.statusFrom | requestNoteState}}</span></td>
                    <td class="text-center"><span class="label">{{ history.statusTo | requestNoteState}}</span></td>
                    <td class="text-center col-lg-1">
                        <button *ngIf="history.comment" (click)="showComments(history)" class="btn btn-info btn-sm" type="button"><i class="fa fa-comments"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>

<ng2-modal [config]="commentsModalConfig" #commentsModal>
    <pre class="pre-clear">{{ historyComments }}</pre>
</ng2-modal>  