<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Nota de Pedido </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li> Proveedores </li>
            <li><a [routerLink]="['/providers/notes']">Notas de Pedido</a></li>
            <li class="active"><strong> Nota de pedido </strong></li>
        </ol>
    </div>
</div>

<input type="number" [(ngModel)]="estado">
<button (click)="setEstado()">Mock estado</button>

<notes-pending-supply-revision *ngIf="estadoSeleccionado == 1"></notes-pending-supply-revision>

<notes-pending-approval-management-analytic *ngIf="estadoSeleccionado == 2"></notes-pending-approval-management-analytic>

<notes-pending-supply-approval *ngIf="estadoSeleccionado == 3"></notes-pending-supply-approval>

<notes-pending-daf-approval *ngIf="estadoSeleccionado == 4"></notes-pending-daf-approval>

<notes-approved *ngIf="estadoSeleccionado == 5"></notes-approved>

<notes-requested-provider *ngIf="estadoSeleccionado == 6"></notes-requested-provider>

<notes-received-conformable *ngIf="estadoSeleccionado == 7"></notes-received-conformable>

<notes-pending-management-bill-approval *ngIf="estadoSeleccionado == 8"></notes-pending-management-bill-approval>

<notes-pending-gaf-processing *ngIf="estadoSeleccionado == 9"></notes-pending-gaf-processing>

<div class="ibox" *ngIf="histories.length > 0">
    <div class="ibox-content">
        <table class="table table-striped" id="historyTable" width="100%">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">{{'advancement.updateDate' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.userName' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.statusFrom' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.statusTo' | translate }}</th>
                    <th class="text-center">{{'advancement.histories.comment' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of histories; let i = index" class="pointer">
                    <td class="text-center col-lg-1">{{i+1}}</td>
                    <td class="text-center col-lg-2">{{ history.createdDate }}</td>
                    <td class="text-center col-lg-2">{{ history.userName }}</td>
                    <td class="text-center"><span class="label">{{ history.statusFrom }}</span></td>
                    <td class="text-center"><span class="label">{{ history.statusTo }}</span></td>
                    <td class="text-center col-lg-1">
                        <button *ngIf="history.comment" (click)="showComments(history)" class="btn btn-info btn-sm" type="button"><i class="fa fa-comments"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>

<ng2-modal [config]="commentsModalConfig" #commentsModal>
    <pre class="pre-clear">{{ historyComments }}</pre>
</ng2-modal>  