<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> Verificación información prepaga </h2>

        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a></li>
            <li>Recursos humanos</li>
            <li>Prepaga</li>
            <li class="active"><strong> Verificación </strong></li>
        </ol>
    </div>
</div> 

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">Año</label>
                        <ng-select [items]="years" bindLabel="text" bindValue="id" [(ngModel)]="yearId"></ng-select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">Mes</label>
                        <ng-select [items]="months" bindLabel="text" bindValue="id" [(ngModel)]="monthId"></ng-select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary m-t-md" type="button" (click)="search()">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" *ngIf="data && data.length > 0"> 
        <div class="ibox-title">
            <div class="ibox-tools">
                <button class="btn btn-success btn-sm pull-left" (click)="selectAll()"> {{ 'ACTIONS.selectAll' | translate }}  <i class="fa fa-check"></i></button>
                <button class="btn btn-warning btn-sm pull-left" (click)="unselectAll()"> {{ 'ACTIONS.removeAll' | translate }}  <i class="fa fa-times"></i></button>

                <button [disabled]="noneItemsSelected()" class="btn btn-primary btn-sm" (click)="confirmAll()">Confirmar seleccionados <i class="fa fa-check"></i></button>  
                <button [disabled]="noneItemsSelected()" class="btn btn-warning btn-sm" (click)="toProvisionAll()">Provisionar seleccionados <i class="fa fa-warning"></i></button>  
            </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped dataTable" role="grid" id="searchTable">
                    <thead>
                        <tr>
                            <th class="column-xs"></th>
                            <th class="column-xs">Estado</th>
                            <th class="column-xlg text-word-break">Error</th>
                            <th class="column-xs">Prepaga</th>
                            <th class="column-lg">Recurso</th>
                            <th class="column-sm">Benef. (prepaga)</th>
                            <th class="column-sm">Benef. (tiger)</th>
                            <th class="column-sm">Plan (prepaga)</th>
                            <th class="column-sm">Plan (tiger)</th>
                            <th class="column-xs">Costo (prepaga)</th>
                            <th class="column-xs">Costo (tiger)</th>
                            <th class="column-xs">Periodo</th>
                            <th class="column-xs">Legajo</th>
                            <th class="column-sm">Cuil</th>
                            <th class="column-sm">Documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td class="column-xs text-center">
                                <icheck *ngIf="item.status != 0" [(checked)]="item.selected"></icheck>
                            </td>
                            <td class="column-xs">
                                <label class="label" [ngClass]="getStatusClass(item.status)">{{ getStatusDesc(item.status) }}</label>
                            </td>
                            <td class="column-xlg text-word-break">{{ item.comments }}</td>
                            <td class="column-xs">{{ item.prepaid.text }}</td>
                            <td class="column-lg">{{ item.employeeName }}</td>
                            <td class="column-sm">{{ item.prepaidBeneficiaries }}</td>
                            <td class="column-sm">{{ item.tigerBeneficiaries }}</td>
                            <td class="column-sm">{{ item.prepaidPlan }}</td>
                            <td class="column-sm">{{ item.tigerPlan }}</td>
                            <td class="column-xs">{{ item.prepaidCost }}</td>
                            <td class="column-xs">{{ item.tigerCost }}</td>
                            <td class="column-xs">{{ item.period | date: 'MM/yyyy' }}</td>
                            <td class="column-xs">{{ item.employeeNumber }}</td>
                            <td class="column-sm">{{ item.cuil }}</td>
                            <td class="column-sm">{{ item.dni }}</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</div>