UPDATE app.LicenseTypes SET TaskId = 65 WHERE Id = 1;
UPDATE app.LicenseTypes SET TaskId = 64 WHERE Id = 2;
UPDATE app.LicenseTypes SET TaskId = 1 WHERE Id = 3;
UPDATE app.LicenseTypes SET TaskId = 58 WHERE Id = 4;
UPDATE app.LicenseTypes SET TaskId = 61 WHERE Id = 5;
UPDATE app.LicenseTypes SET TaskId = 63 WHERE Id = 6;
UPDATE app.LicenseTypes SET TaskId = 56 WHERE Id = 7;
UPDATE app.LicenseTypes SET TaskId = 60 WHERE Id = 8;
UPDATE app.LicenseTypes SET TaskId = 59 WHERE Id = 9;
UPDATE app.LicenseTypes SET TaskId = 62 WHERE Id = 10;
UPDATE app.LicenseTypes SET TaskId = 58 WHERE Id = 11;
UPDATE app.LicenseTypes SET TaskId = 53 WHERE Id = 12;
UPDATE app.LicenseTypes SET TaskId = 2 WHERE Id = 13;
UPDATE app.LicenseTypes SET TaskId = 55 WHERE Id = 14;
UPDATE app.LicenseTypes SET TaskId = 57 WHERE Id = 15;