<button class="btn btn-primary btn-outline dim" *ngIf="canApprovedInvoice()"(click)="approveConfirmModal.show()">
    {{'ACTIONS.approve' | translate }} 
    <i class="fa fa-check"></i>
</button>

<ng2-modal [config]="approveConfirmModalConfig" #approveConfirmModal (accept)="approve()">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">{{'billing.invoice.invoiceNumber' | translate }}</label>
                <input type="text" class="form-control" data-mask="9999-99999999" id="invoiceNumber">
            </div>
        </div>
    </div>
</ng2-modal>