<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'contracts.costCenter.title' | translate }}</label>
                    <select class="form-control m-b" [(ngModel)]="model.costCenterId" (ngModelChange)="costCenterChange()" [disabled]="mode == 'edit'">
                        <option *ngFor="let costCenter of costCenters" [value]="costCenter?.id">{{costCenter?.text}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.title' | translate }}</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="model.title" data-mask="999-*9999" [disabled]="mode == 'edit'">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.name' | translate }}</label>
                    <input type="text" class="form-control" [(ngModel)]="model.name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.startDate' | translate }}</label>
                    <date-picker [(date)]="model.startDateContract"></date-picker>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.endDate' | translate }}</label>
                    <date-picker [(date)]="model.endDateContract"></date-picker>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <select-two [label]="'billing.solfac.client'" [(value)]="customerId" [options]="customers" (valueChange)="customerChange()"></select-two>
                <!-- <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.client' | translate }}</label>
                    <input type="text" disabled class="form-control" [ngModel]="model?.clientExternalName">
                </div> -->
            </div>
            <div class="col-sm-6">
                <select-two [label]="'billing.solfac.service'" [(value)]="serviceId" [options]="services" (valueChange)="serviceChange()"></select-two>
                <!-- <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.service' | translate }}</label>
                    <input type="text" disabled class="form-control" [ngModel]="model?.service">
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.commercialManager' | translate }}</label>
                    <select class="form-control m-b" [(ngModel)]="model.commercialManagerId">
                        <option *ngFor="let seller of options?.sellers" [value]="seller?.id">{{seller?.text}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.proposal' | translate }}</label>
                    <input type="text" class="form-control" [(ngModel)]="model.proposal">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.group' | translate }}</label>
                    <select class="form-control m-b" [(ngModel)]="model.clientGroupId">
                        <option *ngFor="let clientGroup of options?.clientGroups" [value]="clientGroup?.id">{{clientGroup?.text}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label"> {{'ADMIN.USERS.TITLE' | translate }} </label>
                    <select select2 class="form-control" id="userId" multiple>
                        <option *ngFor="let user of users" [value]="user?.id">{{ user.text }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.direction' | translate }}</label>
            <select class="form-control m-b" [(ngModel)]="model.sectorId">
                <option *ngFor="let sector of options?.sectors" [value]="sector?.id">{{sector?.text}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.manager' | translate }}</label>
            <select class="form-control m-b" [(ngModel)]="model.managerId">
                <option *ngFor="let manager of options?.managers" [value]="manager?.id">{{manager?.text}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.solution' | translate }}</label>
            <select class="form-control m-b" [(ngModel)]="model.solutionId">
                <option *ngFor="let solution of options?.solutions" [value]="solution?.id">{{solution?.text}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.technology' | translate }}</label>
            <select class="form-control m-b" [(ngModel)]="model.technologyId">
                <option *ngFor="let technology of options?.technologies" [value]="technology?.id">{{technology?.text}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.serviceType' | translate }}</label>
            <select class="form-control m-b" [(ngModel)]="model.serviceTypeId">
                <option *ngFor="let serviceType of options?.serviceTypes" [value]="serviceType?.id">{{serviceType?.text}}</option>
            </select>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.softwareLaw' | translate }}</label>
                    <select class="form-control m-b" [(ngModel)]="model.softwareLawId">
                        <option *ngFor="let softwareLaw of options?.softwareLaws" [value]="softwareLaw?.id">{{softwareLaw?.text}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.activity' | translate }}</label>
                    <select class="form-control m-b" [(ngModel)]="model.activityId">
                        <option *ngFor="let activity of options?.activities" [value]="activity?.id">{{activity?.text}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>