<div class="row">
    <div class="col-md-12">
        <input #selectedFile type="file" ng2FileSelect [uploader]="uploader" multiple/>

        <div class="uploader-margin-top">
            <label *ngIf="uploader.getNotUploadedItems().length">{{'billing.invoice.progress' | translate }}:</label>
            <div class="progress" *ngIf="uploader.getNotUploadedItems().length">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>

            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> {{'billing.invoice.import' | translate }}
            </button>

            <button type="button" class="btn btn-danger btn-s" (click)="clearSelectedFile()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-times"></span> {{'billing.invoice.quit' | translate }}
            </button>
        </div>
    </div>
</div>

<div class="table-responsive m-t-md" *ngIf="files.length > 0">
    <table class="table table-striped dataTable table-font" role="grid" id="filesTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of files">
                <td>{{ item.name }}</td>
                <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.userName }}</td>
                <td>
                    <button class="btn btn-xs btn-success" (click)="export(item)"><span class="fa fa-download"></span></button>
                    <button class="btn btn-xs btn-danger" (click)="delete(item.id)"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
        </tbody>
    </table>       
</div>

<div class="alert alert-gaps-info  m-t-md" *ngIf="files.length == 0">
    <i class="fa fa-warning"></i>
    Sin información disponible
</div>