<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a>Admin</a>
            </li>
            <li class="active">
                <strong>Usuarios</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Gestion de Usuarios</h5>
                </div>
                <div class="ibox-content">
                    <datatables #dt *ngIf="data != null" 
                      [data] = "data" 
                      [columns]="columns" 
                      [editionType]=editionType
                      [options]=options
                      [locationTexts]=locationTexts
                      (view) = "goToDetail($event)"
                      (habInhab) = "habInhab($event)"
                      ></datatables>
                </div>
            </div>
        </div>
    </div>
</div>

