<h1 *ngIf="currentNoteStatusDescription != null"> {{currentNoteStatusDescription}} - Último estado: </h1>
<h1>Factura Pendiente Aprobación Gerente</h1>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 row">
            <div class="pull-left" style="margin-left: 2rem;">
                <button class="btn btn-success btn-outline dim" [routerLink]="['/providers/notes']">
                    <i class="fa fa-arrow-left"></i>       Volver
                </button>
            </div>
            <div class="btn-right" *ngIf="mode == 'Edit'">
                <button class="btn btn-success btn-outline dim" (click)="approve()">
                    Aprobar       <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ibox">
            <div class="ibox-content">
                <form class="form-horizontal" [formGroup]="formNota">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Descripción: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="descripcion">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Grilla Productos/Servicios: </label>
                        <div class="col-sm-8">
                            <table class="table table-striped dataTable" role="grid" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Producto/Servicio</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productosServicios; let i = index">
                                        <td>{{ item.productService }} </td>
                                        <td>{{ item.quantity }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Rubro: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="rubro">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Crítico: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="critico">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Grilla Analiticas: </label>
                        <div class="col-sm-8">
                            <table class="table table-striped dataTable" role="grid" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Analítica</th>
                                        <th>% de asignación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of analiticas; let i = index">
                                        <td>{{ item.description }} </td>
                                        <td>{{ item.asigned }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label text-left">Requiere personal: </label>
                        <div class="col-xs-1">
                            <input type="checkbox" class="form-control w-2" formControlName="requierePersonal">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Proveedores:</label>
                        <div class="col-sm-8">
                            <table class="table table-striped dataTable" role="grid" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of providersGrid; let i = index">
                                        <td>{{ item.providerDescription }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label text-left">Previsto en el presupuesto: </label>
                        <div class="col-xs-1">
                            <input type="checkbox" class="form-control w-2" formControlName="previstoPresupuesto">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="formNota.controls.previstoPresupuesto.value">
                        <label class="col-sm-3 control-label text-left">Nro Evalprop: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="nroEvalprop">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Observaciones: </label>
                        <div class="col-sm-8">
                            <textarea cols="30" rows="5" class="form-control"
                                formControlName="observaciones"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Monto final de la OC: </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" formControlName="montoOC">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Orden de compra: </label>
                        <button type="button" class="col-sm-3 btn btn-success" style="margin-top: 2.2rem;"
                            (click)="downloadOC()">Descargar Archivo<i class="fa fa-plus" style="margin-left: 1rem;"></i>
                        </button>
                        <div class="col-sm-5">
                            <label>Número de OC</label>
                            <input type="number" class="form-control" formControlName="ordenCompra">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Documentación para Proveedor: </label>
                        <div class="col-sm-8">
                            <table class="table table-striped dataTable" role="grid" id="dataTable2">
                                <thead>
                                    <tr>
                                        <th>Archivo</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of providerDocFiles; let i = index">
                                        <td>{{ item.fileDescription }} </td>
                                        <td>
                                            <button type="button" class="col-xs-4 btn btn-success"
                                            (click)="downloadProviderDoc(item)">Descargar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Documentación Recibido Conforme: </label>
                        <div class="col-sm-8">
                            <table class="table table-striped dataTable" role="grid" id="dataTable3">
                                <thead>
                                    <tr>
                                        <th>Archivo</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of RCFiles; let i = index">
                                        <td>{{ item.fileDescription }} </td>
                                        <td>
                                            <button type="button" class="col-xs-4 btn btn-success"
                                            (click)="downloadRC(item)">Descargar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Facturas: </label>
                        <div class="col-sm-8">
                            <table class="table table-striped dataTable" role="grid" id="dataTable4">
                                <thead>
                                    <tr>
                                        <th>Archivo</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of BillFiles; let i = index">
                                        <td>{{ item.fileDescription }} </td>
                                        <td>
                                            <button type="button" class="col-xs-4 btn btn-success"
                                            (click)="downloadBills(item)">Descargar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>