<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Grupos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Admin</a>
            </li>
            <li>
                <a>Groups</a>
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Grupo</h5>


                    <div class="ibox-tools" >
                        <!--<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                        <a>
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a ng-click="closebox()"><i class="fa fa-times"></i></a>-->
                        <a [routerLink]="['../../']"><i class="fa fa-close"></i></a>
                    </div>


                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">

                        <!--Description-->
                        <div class="form-group"><label class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                              <input type="text"  
                                  name="description"
                                  class="form-control" 
                                  [(ngModel)]="entity.description"
                                  #descripRef="ngModel"
                                  required> 
                              <div class="help-block m-b-none text-danger" [style.visibility]="(!formRef._submitted || !descripRef?.errors?.required) ? 'hidden' : 'visible' ">Description is required</div>

                            </div>
                        </div>

                        <!--ACTIVE-->
                        <!--<div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input icheck type="checkbox" ng-model="main.checkOne"><i></i> Active
                            </div>
                        </div>-->

                        <div class="form-group">
                            <div class="col-lg-12">
                                 <icheck  [checked]="entity.active" (click)="onActiveClick($event)">
                                     <label class="col-lg-2 control-label icheck-label">Active</label> 
                                 </icheck>
                            </div>
                        </div>

                        <div class="col-sm-10">
                          <!--<div>
                            <label> <input icheck type="checkbox" ng-model="main.checkThree">
                                 Active
                            </label>
                          </div>-->



                            
                        </div>
                        
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-2">
                                <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Aceptar</strong></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

