<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12">
        <h2>{{ title }}</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                <a>{{'ADMIN.SHORT_TITLE' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ title }}</strong>
            </li>
        </ol>
    </div>
</div> 
    
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4 class="pull-left">Listado</h4>
            
            <div class="ibox-tools" >
                <div class="btn-group">
                    <button class="btn btn-sm" type="button" [ngClass]="(actives)?'btn-primary':'btn-white'" (click)="filterActives(true)">Activos</button>
                    <button class="btn btn-sm" type="button" [ngClass]="(actives)?'btn-white':'btn-primary'" (click)="filterActives(false)">Todos</button>
                </div>

                <a class="btn btn-primary btn-sm btn-link" (click)="add()"> {{ 'ACTIONS.ADD' | translate }} <i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped" id="table" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">Código</th>
                        <th>Descripción</th>
                        <th *ngIf="isReasonCause">Tipo</th>
                        <th *ngIf="isCostType">Categoria</th>
                        <th class="text-center">Activo</th>
                        <th class="text-center">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listFiltered">
                        <td class="text-center">{{ item.id }}</td>
                        <td>{{ item.text }}</td>

                        <td *ngIf="isCostType">{{ item.category }}</td>

                        <td *ngIf="isReasonCause">
                            <span *ngIf="item.type == 1">Busqueda Vigente</span>
                            <span *ngIf="item.type == 2">Busqueda Suspendida</span>
                            <span *ngIf="item.type == 3">Busqueda Cerrada</span>
                            <span *ngIf="item.type == 4">Contacto Vigente</span>
                            <span *ngIf="item.type == 5">Contacto En Curso</span>
                            <span *ngIf="item.type == 6">Contacto Deshabilitado</span>
                            <span *ngIf="item.type == 7">Contacto Ingresado</span>
                            <span *ngIf="item.type == 8">Contacto Vigente/Entrevistado</span>
                        </td>

                        <td class="text-center">
                            <label *ngIf="item.active" class="label label-primary">Si</label>
                            <label *ngIf="!item.active" class="label label-danger">No</label>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-warning btn-xs" (click)="edit(item)"><i class="fa fa-edit"></i></button>

                            <button class="btn btn-xs" [ngClass]="(item.active)?'btn-danger':'btn-success'" (click)="habInhabClick(item)">
                                <span [ngClass]="(item.active)?'fa-trash':'fa-mail-reply'" class="fa"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmModal (accept)="create()" [isSaveEnabled]="text.valid">
    <div class="form-group">
        <label class="control-label">Descripción</label>
        <input class="form-control" type="text" [formControl]="text" maxlength="75">
    </div>

    <div class="form-group" *ngIf="isCostType">
        <label class="control-label">Categoria</label>
        <input class="form-control" type="number" [formControl]="category">
    </div>

    <div class="form-group" *ngIf="isReasonCause">
        <label class="control-label">Tipo</label>
        <div class="radio radio-success">
            <input value="1" type="radio" [formControl]="type">
            <label> Busqueda Vigente </label>
        </div>
    
        <div class="radio radio-success">
            <input value="2" type="radio" [formControl]="type">
            <label> Busqueda Suspendida </label>
        </div>

        <div class="radio radio-success">
            <input value="3" type="radio" [formControl]="type">
            <label> Busqueda Cerrada </label>
        </div>

        <div class="radio radio-success">
            <input value="4" type="radio" [formControl]="type">
            <label> Contacto Vigente </label>
        </div>

        <div class="radio radio-success">
            <input value="5" type="radio" [formControl]="type">
            <label> Contacto En Curso </label>
        </div>

        <div class="radio radio-success">
            <input value="6" type="radio" [formControl]="type">
            <label> Contacto Deshabilitado </label>
        </div>

        <div class="radio radio-success">
            <input value="7" type="radio" [formControl]="type">
            <label> Contacto Ingresado </label>
        </div>

        <div class="radio radio-success">
            <input value="8" type="radio" [formControl]="type">
            <label> Contacto Vigente/Entrevistado </label>
        </div>
    </div>
</ng2-modal> 