/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/
// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "imports/variables";
@import "imports/mixins";

// INSPINIA Theme Elements
@import "imports/typography";
@import "imports/navigation";
@import "imports/top_navigation";
@import "imports/buttons";
@import "imports/badges_labels";
@import "imports/elements";
@import "imports/sidebar";
@import "imports/base";
@import "imports/pages";
@import "imports/chat";
@import "imports/metismenu";
@import "imports/spinners";

// Landing page styles
@import "imports/landing";

// RTL Support
@import "imports/rtl";

// For demo only - config box style
@import "imports/theme-config";

// INSPINIA Skins
@import "imports/skins";
@import "imports/md-skin";

// Media query style
@import "imports/media";

// Custom style
// Your custom style to override base style
@import "imports/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

/*
.btn-group{
    margin-top: -60px;
}*/

.btn-group .buttons-print {
  border-radius: 0 5px 5px 0;
}

.btn-group .buttons-html5 {
  border-radius: 5px 0 0 5px;
}



li.paginate-button a{
  height:32px;
  padding-top:15px;
}


input[type="checkbox"]{
  margin-top:-4px;
}

.icheck-label.icheck-label{
    width:16%;
}

.icon-danger {
  color: #ed5565;
}

.icon-white {
  color: white;
}