.resource-data {
    display: block;
}

.resource-data div{
    margin-bottom: 3px;
    margin-top: 3px;
}

.contact-box {
    height: 190px;
    border: 1px solid #e7eaec;
}

.contact-info {
    height: 80%;
    background-color: #ffffff;
    padding: 20px;
}

.contact-buttons {
    height: 20%;
    background-color: #cecece;
}