<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2> {{ 'allocationManagement.resources.listTitle' | translate }} </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">{{'HOME.TITLE' | translate }}</a>
            </li>
            <li>
                {{'contracts.title' | translate }}
            </li>
            <li>
                {{ analyticName }}
            </li>
            <li class="active">
                <strong> {{'allocationManagement.resources.title' | translate }} </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="alert alert-info" *ngIf="resources && resources.length == 0">
        {{'allocationManagement.resources.empty' | translate }}
    </div>

    <div class="ibox" *ngIf="resources.length > 0">
        <div class="ibox-content">
            <table class="table table-striped full-width" id="resourcesTable">
                <thead>
                    <tr>
                        <th class="column-lg">{{'allocationManagement.resources.grid.name' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.senority' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.profile' | translate }}</th>
                        <th>{{'allocationManagement.resources.grid.technology' | translate }}</th>
                        <th>Asignación</th>
                        <th class="column-sm">{{ 'ACTIONS.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let resource of resources" class="pointer">
                        <td class="column-lg">{{ resource.employeeNumber }} - {{ resource.name}}</td>
                        <td>{{ resource.senority}}</td>
                        <td>{{ resource.profile}}</td>
                        <td>{{ resource.technology}}</td>
                        <td>{{ resource.percentageAllocation}} %</td>
                        <td class="column-sm">
                            <button class="btn btn-danger btn-xs" (click)="openEndEmployeeModal(resource)" *ngIf="canSendUnsubscribeNotification()" title="{{'ACTIONS.notifyUnsubscribe' | translate }}"><i class="fa fa-user-times"></i></button>
                            <button class="btn btn-success btn-xs" (click)="goToProfile(resource)" *ngIf="canViewProfile()" title="{{'allocationManagement.resources.profile' | translate }}"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-warning btn-xs" *ngIf="canAssingCategories()" (click)="openCategoryModal(resource)" title="{{'ADMIN.category.add' | translate }}"><i class="fa fa-tasks"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>      
        </div>
    </div>
</div>

<ng2-modal [config]="confirmModalConfig" #confirmModal (accept)="sendUnsubscribeNotification()">
    <div class="form-group">
        <label class="control-label">{{'allocationManagement.resources.recipient' | translate }}: </label>
        <span>{{ menuService.rrhhMail }}</span>
    </div>
    
    <div class="form-group">
        <label class="control-label"> {{'allocationManagement.resources.recipients' | translate }} </label>
        <select select2 class="form-control" id="userId" multiple>
            <option *ngFor="let user of users" [value]="user?.email">{{ user.text }} - {{ user.email}}</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">{{'allocationManagement.news.grid.endDate' | translate }}</label>
        <date-picker [(date)]="endDate"></date-picker>
    </div>

    <div class="form-group" *ngIf="pendingWorkingHours">
        <div class="alert alert-warning">
            {{'allocationManagement.resources.pendingWorkingHoursAlert' | translate }}
        </div>
    </div>
</ng2-modal> 

<ng2-modal [config]="categoriesModalConfig" #categoriesModal (accept)="saveCategories()">
    <div class="alert alert-warning">
        {{'ADMIN.category.areYouSureAdd' | translate }}
    </div>
        
    <div *ngFor="let category of categories; let i = index"  style="margin-top:10px;">
        <icheck [(checked)]="category.selected" >
            <label style="padding-left:20px;">{{ category.text }}</label> 
        </icheck>
    </div>
</ng2-modal>