<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon" (click)="toggleNavigation()">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-settings">
            <div class="title">{{'ACTIONS.title' | translate }}</div>
            <div class="setings-item default-skin" *ngIf="menuService.hasFunctionality('ALLOC', 'ANADD') && analytic?.id == 0">
                <span class="skin-name ">
                    <a (click)="goToCreateAnalytic()" class="s-skin-0">
                        {{'allocationManagement.analytics.new' | translate }}
                    </a>
                </span>
            </div>
            <div class="setings-item default-skin" *ngIf="menuService.hasFunctionality('ALLOC', 'ANEDT') && analytic?.id > 0">
                <span class="skin-name ">
                    <a (click)="goToEditAnalytic()" class="s-skin-0">
                        {{'allocationManagement.analytics.editTitle' | translate }}
                    </a>
                </span>
            </div>
            <div class="setings-item blue-skin">
                <span class="skin-name ">
                    <a (click)="goToResources()" class="s-skin-1">
                        {{'allocationManagement.resources.listTitle' | translate }}
                    </a>
                </span>
            </div>
            <div class="setings-item default-skin">
                <span class="skin-name ">
                    <a (click)="goToPurchaseOrders()" class="s-skin-1">
                        {{'billing.purchaseOrder.title' | translate }}
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>