<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'contracts.costCenter.title' | translate }}</label>
                    <ng-select [items]="costCenters" bindLabel="text" bindValue="id" [(ngModel)]="model.costCenterId" (change)="costCenterChange()" [disabled]="isReadOnly"></ng-select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.title' | translate }}</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="model.title" data-mask="999-*9999" [disabled]="mode == 'edit'">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.name' | translate }}</label>
                    <input type="text" class="form-control" [(ngModel)]="model.name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.startDate' | translate }}</label>
                    <date-picker [(date)]="model.startDateContract"></date-picker>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.endDate' | translate }}</label>
                    <date-picker [(date)]="model.endDateContract"></date-picker>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.group' | translate }}</label>
                    <ng-select [items]="options?.clientGroups" bindLabel="text" bindValue="id" [(ngModel)]="model.clientGroupId" [disabled]="isReadOnly"></ng-select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label"> {{'allocationManagement.analytics.add.usersqv' | translate }} </label>
                    <ng-select [items]="users" [multiple]="true" [closeOnSelect]="false" bindLabel="text" bindValue="id" [(ngModel)]="model.usersQv" [disabled]="isReadOnly"></ng-select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" *ngIf="mode == 'new'">
                    <label class="control-label">{{ 'billing.solfac.client' | translate }}</label>
                    <ng-select [items]="customers" bindLabel="text" bindValue="id" [(ngModel)]="customerId" (change)="customerChange()" [disabled]="isReadOnly"></ng-select>
                </div>

                <div *ngIf="mode != 'new'">
                    <label class="control-label">{{ 'billing.solfac.client' | translate }}</label>
                    <p>{{ model.clientExternalName }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" *ngIf="mode == 'new'">
                    <label class="control-label">{{ 'billing.solfac.service' | translate }}</label>
                    <ng-select [items]="services" bindLabel="text" bindValue="id" [(ngModel)]="serviceId" (change)="serviceChange()" [disabled]="isReadOnly"></ng-select>
                </div>

                <div *ngIf="mode != 'new'">
                    <label class="control-label">{{ 'billing.solfac.service' | translate }}</label>
                    <p>{{ model.service }}</p>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="proposals.length > 0">
            <div class="col-sm-12">
                <label class="control-label">{{ 'allocationManagement.analytics.add.proposal' | translate }}</label>
                <ul class="m-t-xs">
                    <li class="m-t-xs" *ngFor="let proposal of proposals">
                        {{ proposal }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.direction' | translate }}</label>
            <ng-select [items]="options?.sectors" bindLabel="text" bindValue="id" [(ngModel)]="model.sectorId" [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.manager' | translate }}</label>
            <ng-select [items]="options?.managers" bindLabel="text" bindValue="id" [(ngModel)]="model.managerId" [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.commercialManager' | translate }}</label>
            <ng-select [items]="options?.sellers" bindLabel="text" bindValue="id" [(ngModel)]="model.commercialManagerId" [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.solution' | translate }}</label>
            <ng-select [items]="options?.solutions" bindLabel="text" bindValue="id" [(ngModel)]="model.solutionId" [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.technology' | translate }}</label>
            <ng-select [items]="options?.technologies" bindLabel="text" bindValue="id" [(ngModel)]="model.technologyId" [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{ 'allocationManagement.analytics.add.serviceType' | translate }}</label>
            <ng-select [items]="options?.serviceTypes" bindLabel="text" bindValue="id" [(ngModel)]="model.serviceTypeId" [disabled]="isReadOnly"></ng-select>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.softwareLaw' | translate }}</label>
                    <ng-select [items]="options?.softwareLaws" bindLabel="text" bindValue="id" [(ngModel)]="model.softwareLawId" [disabled]="isReadOnly && !isEnableForDaf"></ng-select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.activity' | translate }}</label>
                    <ng-select [items]="options?.activities" bindLabel="text" bindValue="id" [(ngModel)]="model.activityId" [disabled]="isReadOnly && !isEnableForDaf"></ng-select>
                </div>
            </div>
        </div>
    </div>
</div>