<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6">
                <select-two [label]="'contracts.costCenter.title'" [(value)]="model.costCenterId" [options]="costCenters" (valueChange)="costCenterChange()" [disabled]="mode == 'edit'"></select-two>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.title' | translate }}</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="model.title" data-mask="999-*9999" [disabled]="mode == 'edit'">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.name' | translate }}</label>
                    <input type="text" class="form-control" [(ngModel)]="model.name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.startDate' | translate }}</label>
                    <date-picker [(date)]="model.startDateContract"></date-picker>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.endDate' | translate }}</label>
                    <date-picker [(date)]="model.endDateContract"></date-picker>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <select-two *ngIf="mode == 'new'" id="customer-select" [label]="'billing.solfac.client'" [(value)]="customerId" [options]="customers" (valueChange)="customerChange()"></select-two>

                <div *ngIf="mode != 'new'">
                    <label class="control-label">{{ 'billing.solfac.client' | translate }}</label>
                    <p>{{ model.clientExternalName }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <select-two *ngIf="mode == 'new'" id="service-select" [label]="'billing.solfac.service'" [(value)]="serviceId" [options]="services" (valueChange)="serviceChange()"></select-two>

                <div *ngIf="mode != 'new'">
                    <label class="control-label">{{ 'billing.solfac.service' | translate }}</label>
                    <p>{{ model.service }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <select-two [label]="'allocationManagement.analytics.add.commercialManager'" [(value)]="model.commercialManagerId" [options]="options?.sellers"></select-two>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ 'allocationManagement.analytics.add.proposal' | translate }}</label>
                    <input type="text" class="form-control" [(ngModel)]="model.proposal" disabled>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <select-two [label]="'allocationManagement.analytics.add.group'" [(value)]="model.clientGroupId" [options]="options?.clientGroups"></select-two>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label"> {{'allocationManagement.analytics.add.usersqv' | translate }} </label>
                    <select select2 class="form-control" id="userId" multiple>
                        <option *ngFor="let user of users" [value]="user?.id">{{ user.text }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <select-two [label]="'allocationManagement.analytics.add.direction'" [(value)]="model.sectorId" [options]="options?.sectors"></select-two>

        <select-two [label]="'allocationManagement.analytics.add.manager'" [(value)]="model.managerId" [options]="options?.managers"></select-two>

        <select-two [label]="'allocationManagement.analytics.add.solution'" [(value)]="model.solutionId" [options]="options?.solutions"></select-two>

        <select-two [label]="'allocationManagement.analytics.add.technology'" [(value)]="model.technologyId" [options]="options?.technologies"></select-two>

        <select-two [label]="'allocationManagement.analytics.add.serviceType'" [(value)]="model.serviceTypeId" [options]="options?.serviceTypes"></select-two>

        <div class="row">
            <div class="col-sm-6">
                <select-two id="softwareLaw" [label]="'allocationManagement.analytics.add.softwareLaw'" [(value)]="model.softwareLawId" [options]="options?.softwareLaws"></select-two>
            </div>
            <div class="col-sm-6">
                <select-two id="activity" [label]="'allocationManagement.analytics.add.activity'" [(value)]="model.activityId" [options]="options?.activities"></select-two>
            </div>
        </div>
    </div>
</div>