<!-- Wrapper-->
<div id="wrapper" [ngxInactivity]="1" (ngxInactivityCallback)="handleInactivityCallback()">

  <!-- Left navigation bar -->
  <navigation></navigation>

  <!-- Main page wrapper -->
  <div id="page-wrapper" class="gray-bg">

    <!-- Top navigation -->
    <topnavbar></topnavbar>

    <!-- Main view/routes wrapper-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <app-footer></app-footer>

  </div>
  <!-- End page wrapper-->

  <ng2-modal [config]="inactivityModalConfig" #inactivityModal (accept)="accept()">
    <h4>{{ 'ACTIONS.sessionExpiredMessage' | translate }}</h4>
  </ng2-modal>
  
</div>
<!-- End wrapper-->

